workflows/Agente_Instagram/Ai_Instagram_Infulancer.json
{
  "updatedAt": "2026-05-11T01:56:57.385Z",
  "createdAt": "2026-05-07T12:20:56.663Z",
  "id": "bAgrYqOejIXIUUo1",
  "name": "Ai Instagram Infulancer",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "d49de96b-78ec-4988-9eb4-41f9678ccaf3",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        2384,
        1520
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## instagram direct messages Chat Bot\n",
        "height": 390,
        "width": 901,
        "color": 5
      },
      "id": "d7c4e683-b6bd-42c8-beea-e6915e8184b5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2336,
        1376
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "b9003ff7-cb12-4573-bd0d-1505f6934a3c",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.message.from.username }}",
                    "rightValue": "Wolf23000"
                  }
                ]
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "1cd7eca1-330c-4391-abb4-869378c3743f",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": ""
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "e779ce8e-18d2-49a5-bf14-1305708d09ee",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        2832,
        672
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c195d657-f27c-439c-a2c8-f5bb506ac096",
              "name": "message.text",
              "type": "string",
              "value": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "31542615-d6b4-4e93-aa87-3979e2b606a5",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        3344,
        656
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant you deside if  this message\n\n it's a run agent order\" when asked you about profile or chat info etc all related to instagram pass it to actionsnot chat\" or not  \noutput should be like that\nschema\n{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"action\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"inputMsg\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t\n\t\t},\n\t\t\"outputMsg\": {\n\t\t\t\"type\": \"string\"\n\t\t\t\n\t\t\n\t}\n    }\n}\nexample result \n{\n\"action\":\"run_agent\",\n\"inputMsg\":\"chat with mohamed el hadi and ask him when he will be available for a call\",\n\"outputMsg\":\"comment\"\n}\npossible actions\n\"chat_back\"\n \"run_agent\",\n        \"post_instagram_post\",\n        \"get_instagram_profile\",\n        \"follow_instagram_users\""
        }
      },
      "id": "d22ca844-aa53-4aeb-b5c1-3a9764fec073",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3616,
        656
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash-preview",
        "options": {}
      },
      "id": "47c7839e-d70e-45a8-8ac6-308556f80b39",
      "name": "OpenRouter Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        3952,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"action\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"inputMsg\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t\n\t\t},\n\t\t\"outputMsg\": {\n\t\t\t\"type\": \"string\"\n\t\t\t\n\t\t\n\t}\n    }\n}"
      },
      "id": "158b25ba-7a42-4e0f-ac8c-de893cc6809f",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        3696,
        896
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "24512c17-6747-4826-b926-0de18abd2f67",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.output.action }}",
                    "rightValue": "chat_back"
                  }
                ]
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "41d22bb0-3ea9-49b7-8391-e3cd579b294b",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.output.action }}",
                    "rightValue": "run_agent"
                  }
                ]
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "c5979b49-5d73-4a22-9661-886a542d2dd3",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.output.action }}",
                    "rightValue": "get_instagram_profile"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "db036a4a-7824-4d0a-a486-62aadc74ce05",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "position": [
        4064,
        672
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram New Message Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.status }}:{{ $json.result }}",
        "additionalFields": {}
      },
      "id": "4026b804-69f8-48b5-ada5-8b1242be014f",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        4624,
        752
      ],
      "webhookId": "85ee99e6-6f62-4fce-a7ce-3738ff28910b",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram New Message Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output.outputMsg }}",
        "additionalFields": {}
      },
      "id": "b1c6d0d4-33a8-418a-b30c-77774b65450b",
      "name": "Send a text message1",
      "type": "n8n-nodes-base.telegram",
      "position": [
        4544,
        560
      ],
      "webhookId": "85ee99e6-6f62-4fce-a7ce-3738ff28910b",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram New Message Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.status }}:{{ $json.result }}",
        "additionalFields": {}
      },
      "id": "05c0418b-c50e-474e-a36a-66a0540a3f79",
      "name": "Send a text message2",
      "type": "n8n-nodes-base.telegram",
      "position": [
        4544,
        880
      ],
      "webhookId": "85ee99e6-6f62-4fce-a7ce-3738ff28910b",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Telegram integration\n",
        "height": 800,
        "width": 2700
      },
      "id": "dcaf6b04-4cfc-4c82-94fe-98cc2e9bb85d",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2336,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "e7ac31c2-bb32-4ace-809b-f4aa71918dc0",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        3392,
        1520
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().slice(0,5);\nconst usernames = items.map((item) => item?.json?.usernames);\nreturn { usernames };\n"
      },
      "id": "049cff9c-0002-4873-b846-8c0ebdc6c568",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        3920,
        1520
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst usernames = items[0].json?.followed_usernames.map((item) => ({\n  usernames: item,\n}));\nreturn usernames;\n"
      },
      "id": "c2cfe79b-9474-4e67-a06e-5b7d07ae623b",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "position": [
        4304,
        1520
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Auto Follow users from sheet\n",
        "height": 380,
        "width": 1480,
        "color": 6
      },
      "id": "ee181a02-a73f-4e1c-9780-18956e1d144e",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3296,
        1392
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months"
            }
          ]
        }
      },
      "id": "ef6ca6eb-077d-42eb-81f3-00b33b0101df",
      "name": "Schedule Trigger2",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        2400,
        1872
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based on the following Instagram personality profile:\n{{ $json.user_personality }}\nGenerate exactly 31 or30 based of number of days on current month  Instagram post ideas for the current month [{{ $json.Month }}-{{ $json.Year }}] — one for each day.\n\nEach post must include:\n- `imagePrompt`: A short visual description that could be used for image generation (15–30 words)\n- `caption`: An engaging Instagram caption matching Sophia’s tone, using emojis\n- `scheduledDate`: A random day and time in the current month (between 09:00 and 18:00)\n\nOutput should be a **valid JSON array** with 31 objects. Do not include explanations or commentary.\n\nExample:\n[\n  {\n    \"imagePrompt\": \"A journal with coffee on a wooden table\",\n    \"caption\": \"☕✨ Start your day with intention. Journaling clears the mind and centers the soul. #MorningRitual\",\n    \"scheduledDate\": \"2025-08-01\"\n  },\n  ...\n]\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a content strategist specialized in Instagram marketing.\n\nYour task is to generate exactly 31 Instagram post ideas for the current month. Each post must be creative, diverse, and optimized for engagement.\n\nEach post should include:\n- `imagePrompt`: A short, vivid prompt (15–30 words) to generate an image (e.g., “A dog playing in autumn leaves”)\n- `caption`: A catchy Instagram caption (with emojis) that matches the image\n- `scheduledDate`: A date in the current month, spaced out across all 31 days.\n\nOutput everything as a valid JSON array. Do **not** include any explanation or commentary — only the JSON.\n\nExample:\n[\n  {\n    \"imagePrompt\": \"Sunset over a tropical beach\",\n    \"caption\": \"🌅 Nothing beats sunset vibes! #TropicalEscape\",\n    \"scheduledDate\": \"2025-08-01\"\n  },\n  ...\n]\n"
        }
      },
      "id": "dd887f9f-314d-489f-879d-862f4f3a5c3e",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2736,
        1872
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash-preview",
        "options": {}
      },
      "id": "aea0a6a1-ea2a-4aeb-a6df-bdd1107db766",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        2800,
        2112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst parsedItems=  JSON.parse(items[0].json.output.replace(/```json|```/g, '').trim());\n \nreturn parsedItems;\n"
      },
      "id": "2e993eaf-f0fa-4f36-a5f8-028aa89c47bf",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "position": [
        3104,
        1872
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Generate posts plain Based on Your personality JSON",
        "height": 440,
        "width": 1320
      },
      "id": "55c73df8-bef7-4499-893b-fd7b393fd5fb",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2336,
        1792
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "2eae23d7-bd3a-4354-9cdf-d0e79686f3c4",
      "name": "Schedule Trigger3",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        3760,
        1936
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\nrow_number:{{ $json.row_number }},\nimagePrompt:{{ $json.imagePrompt }},\ncaption:{{ $json.caption }},\nscheduledDate:{{ $json.scheduledDate }}\n}",
        "options": {
          "systemMessage": "You are an expert Instagram content strategist and prompt engineer for AI-generated visuals.\n\nYour task is to process a JSON object representing an Instagram post idea and improve it for publication. This includes:\n\n1. Enhancing the `imagePrompt` to make it much more vivid, descriptive, and suitable for AI image generation (DALL·E, Midjourney, etc.). Use clear descriptions of:\n   - Environment and background\n   - Characters and their appearance\n   - Actions or mood\n   - Lighting, color tone, and style\n   - Camera angle or composition (optional)\n   - Art style (e.g., photo-realistic, cinematic, flat illustration — if implied)\n\n2. Refining the `caption` to make it concise, engaging, grammatically polished, and aligned with Instagram best practices (emoji use, tone, and formatting).\n\nReturn your result as a valid JSON object with the following fields:\n- `row_number`: Same as input.\n- `enhancedImagePrompt`: Fully-detailed, visual, AI-ready description (1–2 sentences max).\n- `enhancedCaption`: Polished caption with emojis and hashtags (do not make it robotic).\n- `scheduledDate`: Unchanged from input.\n"
        }
      },
      "id": "0118d6c4-2764-43bf-8916-0de80334a64a",
      "name": "AI Agent2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        4480,
        1936
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash-preview",
        "options": {}
      },
      "id": "587d9733-d45c-4f16-8f23-660f10f6b2c2",
      "name": "OpenRouter Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        4480,
        2176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1XHNwAXR4USThaAzX1Y6M5PF2P8WqCBU8mi34FBLkV6M",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XHNwAXR4USThaAzX1Y6M5PF2P8WqCBU8mi34FBLkV6M/edit?usp=drivesdk",
          "cachedResultName": "posts generation plan"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XHNwAXR4USThaAzX1Y6M5PF2P8WqCBU8mi34FBLkV6M/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "image_url": "={{ $json.output }}",
            "enhancedImagePrompt": "={{ $json.input.prompt }}"
          },
          "schema": [
            {
              "id": "imagePrompt",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "imagePrompt",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "caption",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "scheduledDate",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "scheduledDate",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "enhancedImagePrompt",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "enhancedImagePrompt",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "enhancedCaption",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "enhancedCaption",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "image_url",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "image_url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "enhancedImagePrompt"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e83f16d7-f250-4213-9dbe-d34061113ec0",
      "name": "Update row in sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3792,
        2320
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "content": "## Generate & auto post Posts",
        "height": 920,
        "width": 1860,
        "color": 4
      },
      "id": "028a90ad-5615-47ae-acd7-a28ebc48af1d",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3696,
        1792
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1XHNwAXR4USThaAzX1Y6M5PF2P8WqCBU8mi34FBLkV6M",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XHNwAXR4USThaAzX1Y6M5PF2P8WqCBU8mi34FBLkV6M/edit?usp=drivesdk",
          "cachedResultName": "posts generation plan"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XHNwAXR4USThaAzX1Y6M5PF2P8WqCBU8mi34FBLkV6M/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "image_url",
              "lookupValue": "={{ $json.image_url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "696a34df-e525-4952-b4a6-f3d2298ef89b",
      "name": "Get row(s) in sheet2",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        4032,
        2320
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "e803fe04-2cc2-49f0-9906-89331df79fa5",
      "name": "Telegram New Message Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        2400,
        672
      ],
      "webhookId": "a4dc5e8a-d27c-423a-a856-1e01a062d080",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.openrouterApiKey = \"{{your open router api key }}\";\n   item.json.user_personality= \"{\\n  \\\"user_id\\\": \\\"aethermsaid8\\\",\\n  \\\"username\\\": \\\"aethermsaid8\\\",\\n  \\\"full_name\\\": \\\"Sarah Msaid\\\",\\n  \\\"age\\\": 28,\\n  \\\"location\\\": \\\"Brooklyn, NY\\\",\\n  \\\"bio\\\": \\\"Embracing the beautiful mess. Sharing real life, not just highlight reels. Coffee, cats, and questionable life choices. ☕🐈🤷‍♀️\\\",\\n  \\\"content_preferences\\\": {\\n    \\\"themes\\\": [\\n      \\\"daily life struggles\\\",\\n      \\\"authentic moments\\\",\\n      \\\"niche hobbies (e.g., vintage board games, obscure indie music)\\\",\\n      \\\"pet antics\\\",\\n      \\\"DIY fails\\\",\\n      \\\"local hidden gems\\\"\\n    ],\\n    \\\"post_frequency_per_week\\\": 3,\\n    \\\"preferred_media_types\\\": [\\n      \\\"photo\\\",\\n      \\\"carousel\\\",\\n      \\\"short-form video (reels)\\\"\\n    ],\\n    \\\"caption_style\\\": \\\"humorous, self-deprecating, relatable, conversational, slightly cynical but ultimately warm\\\",\\n    \\\"hashtag_style\\\": \\\"mix of popular, niche, and ironic hashtags\\\"\\n  },\\n  \\\"personality_traits\\\": {\\n    \\\"values\\\": [\\n      \\\"authenticity\\\",\\n      \\\"humor\\\",\\n      \\\"creativity\\\",\\n      \\\"community\\\",\\n      \\\"self-acceptance\\\"\\n    ],\\n    \\\"interests\\\": [\\n      \\\"independent cinema\\\",\\n      \\\"thrift store finds\\\",\\n      \\\"cooking (badly)\\\",\\n      \\\"reading obscure non-fiction\\\",\\n      \\\"urban exploration\\\",\\n      \\\"cats\\\"\\n    ],\\n    \\\"tone_of_voice_keywords\\\": [\\n      \\\"sarcastic\\\",\\n      \\\"witty\\\", \\\"down-to-earth\\\",\\n      \\\"observational\\\",\\n      \\\"playful\\\"\\n    ]\\n  },\\n  \\\"unfulancer_attributes\\\": {\\n    \\\"reason_for_unfulancing\\\": \\\"prefers genuine connection over chasing virality\\\",\\n    \\\"content_focus\\\": \\\"relatability over perfection\\\",\\n    \\\"niche_appeal\\\": \\\"attracts followers who are tired of curated feeds\\\",\\n    \\\"monetization_approach\\\": \\\"minimal or none, occasional genuine collaborations with small businesses\\\"\\n  }\\n}\"\n  \n\n \n  item.json.instagram_session_id=\"{{ your instagram session ID }}\"\n  \n}\n\nreturn $input.all();"
      },
      "id": "bd574be5-8078-49b2-aca9-21e6a4b4065d",
      "name": "Variables",
      "type": "n8n-nodes-base.code",
      "position": [
        2592,
        1520
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.openrouterApiKey = \"{{your open router api key }}\";\n   item.json.user_personality= \"{\\n  \\\"user_id\\\": \\\"aethermsaid8\\\",\\n  \\\"username\\\": \\\"aethermsaid8\\\",\\n  \\\"full_name\\\": \\\"Sarah Msaid\\\",\\n  \\\"age\\\": 28,\\n  \\\"location\\\": \\\"Brooklyn, NY\\\",\\n  \\\"bio\\\": \\\"Embracing the beautiful mess. Sharing real life, not just highlight reels. Coffee, cats, and questionable life choices. ☕🐈🤷‍♀️\\\",\\n  \\\"content_preferences\\\": {\\n    \\\"themes\\\": [\\n      \\\"daily life struggles\\\",\\n      \\\"authentic moments\\\",\\n      \\\"niche hobbies (e.g., vintage board games, obscure indie music)\\\",\\n      \\\"pet antics\\\",\\n      \\\"DIY fails\\\",\\n      \\\"local hidden gems\\\"\\n    ],\\n    \\\"post_frequency_per_week\\\": 3,\\n    \\\"preferred_media_types\\\": [\\n      \\\"photo\\\",\\n      \\\"carousel\\\",\\n      \\\"short-form video (reels)\\\"\\n    ],\\n    \\\"caption_style\\\": \\\"humorous, self-deprecating, relatable, conversational, slightly cynical but ultimately warm\\\",\\n    \\\"hashtag_style\\\": \\\"mix of popular, niche, and ironic hashtags\\\"\\n  },\\n  \\\"personality_traits\\\": {\\n    \\\"values\\\": [\\n      \\\"authenticity\\\",\\n      \\\"humor\\\",\\n      \\\"creativity\\\",\\n      \\\"community\\\",\\n      \\\"self-acceptance\\\"\\n    ],\\n    \\\"interests\\\": [\\n      \\\"independent cinema\\\",\\n      \\\"thrift store finds\\\",\\n      \\\"cooking (badly)\\\",\\n      \\\"reading obscure non-fiction\\\",\\n      \\\"urban exploration\\\",\\n      \\\"cats\\\"\\n    ],\\n    \\\"tone_of_voice_keywords\\\": [\\n      \\\"sarcastic\\\",\\n      \\\"witty\\\", \\\"down-to-earth\\\",\\n      \\\"observational\\\",\\n      \\\"playful\\\"\\n    ]\\n  },\\n  \\\"unfulancer_attributes\\\": {\\n    \\\"reason_for_unfulancing\\\": \\\"prefers genuine connection over chasing virality\\\",\\n    \\\"content_focus\\\": \\\"relatability over perfection\\\",\\n    \\\"niche_appeal\\\": \\\"attracts followers who are tired of curated feeds\\\",\\n    \\\"monetization_approach\\\": \\\"minimal or none, occasional genuine collaborations with small businesses\\\"\\n  }\\n}\"\n  \n\n \n  item.json.instagram_session_id=\"{{ your instagram session ID }}\"\n  \n}\n\nreturn $input.all();"
      },
      "id": "d92e1ce4-5745-400d-89eb-f04f87e8657f",
      "name": "Variables1",
      "type": "n8n-nodes-base.code",
      "position": [
        2592,
        672
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.openrouterApiKey = \"{{your open router api key }}\";\n   item.json.user_personality= \"{\\n  \\\"user_id\\\": \\\"aethermsaid8\\\",\\n  \\\"username\\\": \\\"aethermsaid8\\\",\\n  \\\"full_name\\\": \\\"Sarah Msaid\\\",\\n  \\\"age\\\": 28,\\n  \\\"location\\\": \\\"Brooklyn, NY\\\",\\n  \\\"bio\\\": \\\"Embracing the beautiful mess. Sharing real life, not just highlight reels. Coffee, cats, and questionable life choices. ☕🐈🤷‍♀️\\\",\\n  \\\"content_preferences\\\": {\\n    \\\"themes\\\": [\\n      \\\"daily life struggles\\\",\\n      \\\"authentic moments\\\",\\n      \\\"niche hobbies (e.g., vintage board games, obscure indie music)\\\",\\n      \\\"pet antics\\\",\\n      \\\"DIY fails\\\",\\n      \\\"local hidden gems\\\"\\n    ],\\n    \\\"post_frequency_per_week\\\": 3,\\n    \\\"preferred_media_types\\\": [\\n      \\\"photo\\\",\\n      \\\"carousel\\\",\\n      \\\"short-form video (reels)\\\"\\n    ],\\n    \\\"caption_style\\\": \\\"humorous, self-deprecating, relatable, conversational, slightly cynical but ultimately warm\\\",\\n    \\\"hashtag_style\\\": \\\"mix of popular, niche, and ironic hashtags\\\"\\n  },\\n  \\\"personality_traits\\\": {\\n    \\\"values\\\": [\\n      \\\"authenticity\\\",\\n      \\\"humor\\\",\\n      \\\"creativity\\\",\\n      \\\"community\\\",\\n      \\\"self-acceptance\\\"\\n    ],\\n    \\\"interests\\\": [\\n      \\\"independent cinema\\\",\\n      \\\"thrift store finds\\\",\\n      \\\"cooking (badly)\\\",\\n      \\\"reading obscure non-fiction\\\",\\n      \\\"urban exploration\\\",\\n      \\\"cats\\\"\\n    ],\\n    \\\"tone_of_voice_keywords\\\": [\\n      \\\"sarcastic\\\",\\n      \\\"witty\\\", \\\"down-to-earth\\\",\\n      \\\"observational\\\",\\n      \\\"playful\\\"\\n    ]\\n  },\\n  \\\"unfulancer_attributes\\\": {\\n    \\\"reason_for_unfulancing\\\": \\\"prefers genuine connection over chasing virality\\\",\\n    \\\"content_focus\\\": \\\"relatability over perfection\\\",\\n    \\\"niche_appeal\\\": \\\"attracts followers who are tired of curated feeds\\\",\\n    \\\"monetization_approach\\\": \\\"minimal or none, occasional genuine collaborations with small businesses\\\"\\n  }\\n}\"\n  \n\n \n  item.json.instagram_session_id=\"{{ your instagram session ID }}\"\n  \n}\n\nreturn $input.all();"
      },
      "id": "23d8572a-f407-4fea-a59f-e36b6015ea30",
      "name": "Variables2",
      "type": "n8n-nodes-base.code",
      "position": [
        3552,
        1520
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n   item.json.user_personality= \"{\\n  \\\"user_id\\\": \\\"aethermsaid8\\\",\\n  \\\"username\\\": \\\"aethermsaid8\\\",\\n  \\\"full_name\\\": \\\"Sarah Msaid\\\",\\n  \\\"age\\\": 28,\\n  \\\"location\\\": \\\"Brooklyn, NY\\\",\\n  \\\"bio\\\": \\\"Embracing the beautiful mess. Sharing real life, not just highlight reels. Coffee, cats, and questionable life choices. ☕🐈🤷‍♀️\\\",\\n  \\\"content_preferences\\\": {\\n    \\\"themes\\\": [\\n      \\\"daily life struggles\\\",\\n      \\\"authentic moments\\\",\\n      \\\"niche hobbies (e.g., vintage board games, obscure indie music)\\\",\\n      \\\"pet antics\\\",\\n      \\\"DIY fails\\\",\\n      \\\"local hidden gems\\\"\\n    ],\\n    \\\"post_frequency_per_week\\\": 3,\\n    \\\"preferred_media_types\\\": [\\n      \\\"photo\\\",\\n      \\\"carousel\\\",\\n      \\\"short-form video (reels)\\\"\\n    ],\\n    \\\"caption_style\\\": \\\"humorous, self-deprecating, relatable, conversational, slightly cynical but ultimately warm\\\",\\n    \\\"hashtag_style\\\": \\\"mix of popular, niche, and ironic hashtags\\\"\\n  },\\n  \\\"personality_traits\\\": {\\n    \\\"values\\\": [\\n      \\\"authenticity\\\",\\n      \\\"humor\\\",\\n      \\\"creativity\\\",\\n      \\\"community\\\",\\n      \\\"self-acceptance\\\"\\n    ],\\n    \\\"interests\\\": [\\n      \\\"independent cinema\\\",\\n      \\\"thrift store finds\\\",\\n      \\\"cooking (badly)\\\",\\n      \\\"reading obscure non-fiction\\\",\\n      \\\"urban exploration\\\",\\n      \\\"cats\\\"\\n    ],\\n    \\\"tone_of_voice_keywords\\\": [\\n      \\\"sarcastic\\\",\\n      \\\"witty\\\", \\\"down-to-earth\\\",\\n      \\\"observational\\\",\\n      \\\"playful\\\"\\n    ]\\n  },\\n  \\\"unfulancer_attributes\\\": {\\n    \\\"reason_for_unfulancing\\\": \\\"prefers genuine connection over chasing virality\\\",\\n    \\\"content_focus\\\": \\\"relatability over perfection\\\",\\n    \\\"niche_appeal\\\": \\\"attracts followers who are tired of curated feeds\\\",\\n    \\\"monetization_approach\\\": \\\"minimal or none, occasional genuine collaborations with small businesses\\\"\\n  }\\n}\"\n  \n\n \n  \n  \n}\n\nreturn $input.all();"
      },
      "id": "485c6ba0-138d-43b3-9ea7-d149debaac90",
      "name": "Variables4",
      "type": "n8n-nodes-base.code",
      "position": [
        2560,
        1872
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.openrouterApiKey = \"{{your open router api key }}\";\n   item.json.user_personality= \"{\\n  \\\"user_id\\\": \\\"aethermsaid8\\\",\\n  \\\"username\\\": \\\"aethermsaid8\\\",\\n  \\\"full_name\\\": \\\"Sarah Msaid\\\",\\n  \\\"age\\\": 28,\\n  \\\"location\\\": \\\"Brooklyn, NY\\\",\\n  \\\"bio\\\": \\\"Embracing the beautiful mess. Sharing real life, not just highlight reels. Coffee, cats, and questionable life choices. ☕🐈🤷‍♀️\\\",\\n  \\\"content_preferences\\\": {\\n    \\\"themes\\\": [\\n      \\\"daily life struggles\\\",\\n      \\\"authentic moments\\\",\\n      \\\"niche hobbies (e.g., vintage board games, obscure indie music)\\\",\\n      \\\"pet antics\\\",\\n      \\\"DIY fails\\\",\\n      \\\"local hidden gems\\\"\\n    ],\\n    \\\"post_frequency_per_week\\\": 3,\\n    \\\"preferred_media_types\\\": [\\n      \\\"photo\\\",\\n      \\\"carousel\\\",\\n      \\\"short-form video (reels)\\\"\\n    ],\\n    \\\"caption_style\\\": \\\"humorous, self-deprecating, relatable, conversational, slightly cynical but ultimately warm\\\",\\n    \\\"hashtag_style\\\": \\\"mix of popular, niche, and ironic hashtags\\\"\\n  },\\n  \\\"personality_traits\\\": {\\n    \\\"values\\\": [\\n      \\\"authenticity\\\",\\n      \\\"humor\\\",\\n      \\\"creativity\\\",\\n      \\\"community\\\",\\n      \\\"self-acceptance\\\"\\n    ],\\n    \\\"interests\\\": [\\n      \\\"independent cinema\\\",\\n      \\\"thrift store finds\\\",\\n      \\\"cooking (badly)\\\",\\n      \\\"reading obscure non-fiction\\\",\\n      \\\"urban exploration\\\",\\n      \\\"cats\\\"\\n    ],\\n    \\\"tone_of_voice_keywords\\\": [\\n      \\\"sarcastic\\\",\\n      \\\"witty\\\", \\\"down-to-earth\\\",\\n      \\\"observational\\\",\\n      \\\"playful\\\"\\n    ]\\n  },\\n  \\\"unfulancer_attributes\\\": {\\n    \\\"reason_for_unfulancing\\\": \\\"prefers genuine connection over chasing virality\\\",\\n    \\\"content_focus\\\": \\\"relatability over perfection\\\",\\n    \\\"niche_appeal\\\": \\\"attracts followers who are tired of curated feeds\\\",\\n    \\\"monetization_approach\\\": \\\"minimal or none, occasional genuine collaborations with small businesses\\\"\\n  }\\n}\"\n  \n\n \n  item.json.instagram_session_id=\"{{ your instagram session ID }}\"\n  \n}\n\nreturn $input.all();"
      },
      "id": "c9fad3b4-320f-4ef4-abd8-864c662ef295",
      "name": "Variables3",
      "type": "n8n-nodes-base.code",
      "position": [
        3920,
        1936
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const currentDate = new Date();\nconst formattedDate = currentDate.toISOString().split(\"T\")[0];\n\nreturn { date: formattedDate };\n"
      },
      "id": "9760290a-fd2c-40a6-8edb-2dcccb0dc6bb",
      "name": "Date Formatter",
      "type": "n8n-nodes-base.code",
      "position": [
        4080,
        1936
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/mohamedgb00714~ai-instagram-influencer/run-sync-get-dataset-items?token=YOUR_TOKEN_HERE your apify token }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"run_agent\",\n  \"task\":\"{{ $json.output.inputMsg.replaceAll('\\n', ' ').replaceAll('\\\"', '\\\\\\\"').trim()  }}\",\n  \"user_personality\": \"{{ $('Variables1').item.json.user_personality.replaceAll('\\n', ' ').replaceAll('\\\"', '\\\\\\\"').trim()  }}\",\n\n  \"user_name\": \"aethermsaid8\",\n \n  \"model_name\": \"openrouter\",\n  \n \n  \"instagram_session_id\": \"{{ $('Variables1').item.json.instagram_session_id }}\",\n  \"openai_api_key\": \"{{ $('Variables1').item.json.openrouterApiKey }}\"\n} ",
        "options": {}
      },
      "id": "54468b05-6708-431c-98a8-7f415e741250",
      "name": "run AI infulancer actor custom run",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4352,
        720
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/mohamedgb00714~ai-instagram-influencer/run-sync-get-dataset-items?token=YOUR_TOKEN_HERE your apify token }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"run_agent\",\n  \"task\":\"{{ $json.output.inputMsg.replaceAll('\\n', ' ').replaceAll('\\\"', '\\\\\\\"').trim()  }}\",\n  \n  \"user_personality\": \"{{ $('Variables1').item.json.user_personality.replaceAll('\\n', ' ').replaceAll('\\\"', '\\\\\\\"').trim()  }}\",\n\n  \"user_name\": \"aethermsaid8\",\n \n  \"model_name\": \"openrouter\",\n  \n \n  \n  \"instagram_session_id\": \"{{ $('Variables1').item.json.instagram_session_id }}\",\n  \"openai_api_key\": \"{{ $('Variables1').item.json.openrouterApiKey }}\"\n} ",
        "options": {}
      },
      "id": "8ff72819-a84a-485b-82a7-ba4d83589a5c",
      "name": "run AI infulancer actor get instagram profile",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4240,
        832
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/mohamedgb00714~ai-instagram-influencer/runs?timeout_secs=600&token=YOUR_TOKEN_HERE your apify token }}",
        "sendBody": true,
        "contentType": "=json",
        "specifyBody": "json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"action\": \"monitor_instagram\",\n  \"user_personality\": \"{{ $json.user_personality.replaceAll('\\n', ' ').replaceAll('\\\"', '\\\\\\\"').trim()  }}\",\n  \n\"model_name\": \"openrouter\",\n \n  \"instagram_session_id\": \"{{ $json.instagram_session_id }}\",\n  \"openai_api_key\": \"{{ $json.openrouterApiKey }}\"\n} ",
        "options": {}
      },
      "id": "0298e712-d1a2-4a30-a96b-5b7e2af6e50d",
      "name": "monitor instagram DM and notificatios with apify",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2864,
        1520
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1Ze5SC1g6Q5VzMAKYx0zmqlT00Db1HOchUth1jrPyM2Y",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ze5SC1g6Q5VzMAKYx0zmqlT00Db1HOchUth1jrPyM2Y/edit?usp=drivesdk",
          "cachedResultName": "Usernames to follow"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ze5SC1g6Q5VzMAKYx0zmqlT00Db1HOchUth1jrPyM2Y/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "followed",
              "lookupValue": "="
            }
          ]
        },
        "options": {}
      },
      "id": "53d41c25-89be-4fc7-b5d5-0a2cfaefd462",
      "name": "Get Users to follow",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3744,
        1520
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/mohamedgb00714~ai-instagram-influencer/run-sync-get-dataset-items?token=YOUR_TOKEN_HERE your apify token }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"follow_instagram_users\",\n  \"usernames\":[{{ $json.usernames.map(item => `\"${item}\"`) }}],\n  \"user_name\": \"aethermsaid8\",\n \n  \"model_name\": \"openrouter\",\n  \n \n  \"instagram_session_id\": \"{{ $('Variables2').item.json.instagram_session_id }}\",\n  \"openai_api_key\": \"{{ $('Variables2').item.json.openrouterApiKey }}\"\n} ",
        "options": {}
      },
      "id": "f1d5b4c1-8aea-448b-b3ff-59a54e282d46",
      "name": "fllow users with apify actor",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4096,
        1520
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1Ze5SC1g6Q5VzMAKYx0zmqlT00Db1HOchUth1jrPyM2Y",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ze5SC1g6Q5VzMAKYx0zmqlT00Db1HOchUth1jrPyM2Y/edit?usp=drivesdk",
          "cachedResultName": "Usernames to follow"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ze5SC1g6Q5VzMAKYx0zmqlT00Db1HOchUth1jrPyM2Y/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "followed": "TRUE",
            "usernames": "={{ $json.usernames }}"
          },
          "schema": [
            {
              "id": "usernames",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "usernames",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "followed",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "followed",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "usernames"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "866d4db4-9365-4284-b3ed-56c107a49158",
      "name": "Update row in sheet to mark followed users",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        4496,
        1520
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1XHNwAXR4USThaAzX1Y6M5PF2P8WqCBU8mi34FBLkV6M",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XHNwAXR4USThaAzX1Y6M5PF2P8WqCBU8mi34FBLkV6M/edit?usp=drivesdk",
          "cachedResultName": "posts generation plan"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XHNwAXR4USThaAzX1Y6M5PF2P8WqCBU8mi34FBLkV6M/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {},
          "schema": [
            {
              "id": "imagePrompt",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "imagePrompt",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "caption",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "scheduledDate",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "scheduledDate",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "autoMapInputData",
          "matchingColumns": [
            "scheduledDate"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "82189be3-8dc4-4ee5-bdc4-ca9b65051afc",
      "name": "Append the 30 days post generated to sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3312,
        1872
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1XHNwAXR4USThaAzX1Y6M5PF2P8WqCBU8mi34FBLkV6M",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XHNwAXR4USThaAzX1Y6M5PF2P8WqCBU8mi34FBLkV6M/edit?usp=drivesdk",
          "cachedResultName": "posts generation plan"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XHNwAXR4USThaAzX1Y6M5PF2P8WqCBU8mi34FBLkV6M/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "scheduledDate",
              "lookupValue": "={{ $json.date }}"
            }
          ]
        },
        "options": {}
      },
      "id": "98cf6f72-eabd-45e2-b98c-a9ff2026c7a1",
      "name": "get today post details",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        4256,
        1936
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst parsedItems=  JSON.parse(items[0].json.output.replace(/```json|```/g, '').trim());\n \nreturn parsedItems;\n"
      },
      "id": "3155ea55-414a-4ae3-b338-5948ce94ef4a",
      "name": "get the right values from output",
      "type": "n8n-nodes-base.code",
      "position": [
        4880,
        1936
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1XHNwAXR4USThaAzX1Y6M5PF2P8WqCBU8mi34FBLkV6M",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XHNwAXR4USThaAzX1Y6M5PF2P8WqCBU8mi34FBLkV6M/edit?usp=drivesdk",
          "cachedResultName": "posts generation plan"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XHNwAXR4USThaAzX1Y6M5PF2P8WqCBU8mi34FBLkV6M/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {},
          "schema": [
            {
              "id": "imagePrompt",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "imagePrompt",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "caption",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "scheduledDate",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "scheduledDate",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "enhancedImagePrompt",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "enhancedImagePrompt",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "enhancedCaption",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "enhancedCaption",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "autoMapInputData",
          "matchingColumns": [
            "scheduledDate"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4b35129f-e47a-43db-80c0-03922f8933b9",
      "name": "add enhanced prompts to sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        5136,
        1920
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/google/imagen-4/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_TOKEN_HERE"
            },
            {
              "name": "Prefer",
              "value": "wait"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {\n    \"prompt\": \"{{ $json.enhancedImagePrompt }}\" ,\n    \"aspect_ratio\": \"9:16\",\n    \"safety_filter_level\": \"block_medium_and_above\",\n    \"output_format\":\"jpg\"\n  }\n} ",
        "options": {}
      },
      "id": "f6466633-dc60-4a0f-a1d5-8cd332d8ec6f",
      "name": "generate image with replicate",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        5360,
        1936
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/mohamedgb00714~ai-instagram-influencer/run-sync-get-dataset-items?token=YOUR_TOKEN_HERE your apify token }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"post_instagram_post\",\n  \"caption\": \"{{ $json.enhancedCaption.replaceAll('\\\"', '\\\\\\\"').replaceAll('\\n', '\\\\n') }}\",\n  \"image_data\": \"{{ $json.image_url }}\",\n  \"model_name\": \"openrouter\",\n  \"instagram_session_id\": \"{{ $('Variables3').item.json.instagram_session_id }}\",\n  \"openai_api_key\": \"{{ $('Variables3').item.json.openrouterApiKey }}\"\n}\n",
        "options": {}
      },
      "id": "2e0029be-9c58-43c9-a967-b551a29cf817",
      "name": "post to instagram with apify",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4304,
        2320
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "\n# 🤖 Instagram Automation Suite: AI Chatbot & Content Powerhouse\n\n## Workflow Overview\n\nThis cutting-edge n8n workflow is a comprehensive automation solution designed to streamline various Instagram operations. It combines an intelligent AI chatbot for direct message management, automated user following, and an advanced content generation system, all integrated to enhance your Instagram presence and efficiency.\n\nThis workflow automatically:\n\n  * **Manages Instagram Direct Messages via Telegram Chatbot**:\n      * Listens for new messages on **Telegram**.\n      * Routes messages from a specific Instagram user (`Wolf23000`) for processing.\n      * Utilizes an **AI agent (powered by OpenRouter's cutting-edge models)** to determine the intent of the message (e.g., chat back, run an Instagram-related action like getting profile info, posting, or following).\n      * Sends AI-generated responses back to the user via **Telegram**.\n  * **Automates Instagram User Following**:\n      * Scheduled to run at regular intervals (hourly).\n      * Processes a list of usernames (likely from a Google Sheet, though not explicitly shown in the provided JSON, it's a common pattern for \"Auto Follow users from sheet\" sticky note).\n      * Initiates following actions on Instagram for the specified users.\n  * **Generates & Schedules Instagram Posts**:\n      * Scheduled to run monthly.\n      * Leverages an **AI agent (powered by OpenRouter)** to generate **30 or 31 Instagram post ideas** for the current month, based on a predefined \"Instagram personality profile.\"\n      * Each post idea includes an `imagePrompt` (for AI image generation), a `caption` with emojis and hashtags, and a `scheduledDate`.\n      * Refines these post ideas by enhancing the `imagePrompt` to be more vivid and detailed for AI image generation, and polishing the `caption` for optimal engagement.\n      * Updates a Google Sheet (\"posts generation plan\") with the generated content, including the enhanced image prompts and the resulting image URLs (presumably from a separate image generation step not fully detailed in the provided JSON, but implied by `image_url` updates).\n\n-----\n\n## Key Benefits\n\n  * **Intelligent DM Management**: Automate responses and actions for Instagram direct messages, ensuring timely and relevant interactions without manual effort.\n  * **Effortless Audience Growth**: Automatically follow target users, expanding your reach and potential engagement on Instagram.\n  * **AI-Powered Content Creation**: Generate a full month's worth of diverse, engaging Instagram post ideas tailored to a specific personality, complete with image prompts and captions.\n  * **Content Optimization**: Automatically enhance image prompts for better AI image generation and refine captions for maximum impact.\n  * **Time-Saving**: Significantly reduce the manual workload associated with Instagram management, from direct messages to content planning and execution.\n  * **Consistent Brand Voice**: Maintain a consistent and engaging presence on Instagram with AI-generated content aligned with your defined personality.\n\n-----\n\n## Setup Requirements\n\nTo set up and run this workflow, you'll need the following:\n\n  * **n8n Installation**:\n      * Install n8n (cloud or self-hosted). The latest stable version, as of July 2025, is **v1.101.1**.\n      * Import the workflow configuration.\n      * Configure API credentials for all integrated services.\n      * Set up scheduling preferences for continuous operation.\n      * **System Requirements for Self-Hosting**: A modern multi-core processor (2 cores minimum, 4 recommended), 2 GB RAM (4 GB or more recommended), and 20 GB of free SSD storage. Node.js version 16 or later (18.x LTS recommended) is required. PostgreSQL is the recommended database for production.\n  * **Telegram API Access**:\n      * Create a Telegram bot via BotFather and obtain your API token.\n      * Configure the **Telegram Trigger** node with your bot's API credentials to receive messages.\n      * **Pricing**: Telegram's API is free to use.\n  * **OpenRouter API Access**:\n      * Create an OpenRouter account and generate an API key.\n      * This key (`{{your open router api key }}` as seen in the code) is used to access their chat models (e.g., `google/gemini-2.5-flash-preview`) for AI agent operations.\n      * **Pricing**: OpenRouter offers a variety of models with different pricing structures, including some free models like DeepSeek R1. Most models operate on a pay-per-usage basis, with costs clearly displayed for each model and prompt.\n  * **Instagram Session ID**:\n      * You'll need a valid Instagram session ID (`{{ your instagram session ID }}` as seen in the code) for the workflow to interact with Instagram. This usually involves extracting it from your browser's cookies after logging into Instagram.\n      * **Caution**: Instagram's terms of service generally prohibit automated interactions, and using session IDs for scraping or automation can lead to account suspension. Use with extreme caution and at your own risk.\n  * **Google Sheets Credentials**:\n      * A Google Cloud API key with access to Google Sheets.\n      * Set up OAuth2 authentication in n8n for read/write access to your \"posts generation plan\" spreadsheet (Document ID: `1XHNwAXR4USThaAzX1Y6M5PF2P8WqCBU8mi34FBLkV6M`). This sheet is used to store and manage generated post ideas.\n      * **Pricing**: The Google Sheets API is generally free for most common use cases, with generous per-minute quotas (300 read and 300 write requests per minute per project, 60 per user per project). No additional charges are incurred for exceeding these limits.\n  * **Predefined Instagram Personality JSON**:\n      * The workflow relies on a detailed JSON object defining an \"Instagram personality\" (e.g., `user_id`, `username`, `full_name`, `bio`, `content_preferences`, `personality_traits`, `unfulancer_attributes`). This JSON needs to be correctly set within the **Code** nodes (`Variables`, `Variables1`, `Variables2`) to guide the AI content generation.\n\n-----\n\n## Workflow Architecture\n\n```\n[Telegram New Message Trigger]\n    ⬇️\n[Variables (Set OpenRouter API Key, Instagram Personality, Session ID)]\n    ⬇️\n[Switch (Filter messages from 'Wolf23000' and ensure message text exists)]\n    ⬇️\n[Edit Fields (Extract message text)]\n    ⬇️\n[AI Agent (Determine action based on message intent)]\n    ⬇️\n[Structured Output Parser (Parse AI agent's JSON output)]\n    ⬇️\n[Switch1 (Route based on AI agent's determined action: chat_back, run_agent, get_instagram_profile)]\n    ⬇️\n    ┌─────────────┬─────────────┬─────────────┐\n    │             │             │             │\n    ▼             ▼             ▼             ▼\n[Send a text message1 (Chat back)] [Send a text message (Run agent confirmation)] [Send a text message2 (Get profile confirmation)]\n    ▲\n    │\n[Schedule Trigger (Hourly for Instagram follow)]\n    ⬇️\n[Variables (Set OpenRouter API Key, Instagram Personality, Session ID)]\n    ⬇️\n[Code (Prepare usernames for following)]\n    ⬇️\n[Code1 (Process followed usernames)]\n    ⬇️\n[Schedule Trigger2 (Monthly for Instagram post generation)]\n    ⬇️\n[AI Agent1 (Generate monthly Instagram post ideas)]\n    ⬇️\n[OpenRouter Chat Model (AI Model for content generation)]\n    ⬇️\n[Code2 (Parse AI agent's JSON output)]\n    ⬇️\n[Schedule Trigger3 (Daily for post generation refinement and auto-posting)]\n    ⬇️\n[AI Agent2 (Enhance image prompts and captions)]\n    ⬇️\n[OpenRouter Chat Model2 (AI Model for prompt refinement)]\n    ⬇️\n[Update row in sheet1 (Update Google Sheet with enhanced content)]\n    ⬇️\n[Get row(s) in sheet2 (Retrieve data from Google Sheet)]\n```\n\n-----\n\n## Connect With Me\n\nExploring AI-Powered Social Media Automation?\n📧 **Email**: mohamedgb00714@gmail.com\n💼 **LinkedIn**: [Mohamed el Hadi Msaid](https://www.linkedin.com/in/mohamed-el-hadi-m-said-1a9a5095/)\n\n**Supercharge your Instagram presence with intelligent automation and AI-driven content\\!** 🚀",
        "height": 3000,
        "width": 1740,
        "color": 4
      },
      "id": "bf290e14-530f-4b52-8936-1180d002792c",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        432,
        512
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "fllow users with apify actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Update row in sheet to mark followed users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Append the 30 days post generated to sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "run AI infulancer actor custom run",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "run AI infulancer actor get instagram profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "get the right values from output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "monitor instagram DM and notificatios with apify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables2": {
      "main": [
        [
          {
            "node": "Get Users to follow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables3": {
      "main": [
        [
          {
            "node": "Date Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables4": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date Formatter": {
      "main": [
        [
          {
            "node": "get today post details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Variables2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Variables4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger3": {
      "main": [
        [
          {
            "node": "Variables3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Users to follow": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "post to instagram with apify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "get today post details": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Telegram New Message Trigger": {
      "main": [
        [
          {
            "node": "Variables1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fllow users with apify actor": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add enhanced prompts to sheet": {
      "main": [
        [
          {
            "node": "generate image with replicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate image with replicate": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get the right values from output": {
      "main": [
        [
          {
            "node": "add enhanced prompts to sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "run AI infulancer actor custom run": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "run AI infulancer actor get instagram profile": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "50de37cd-3d74-4d58-8e9c-a3c01af10b44",
  "activeVersionId": null,
  "versionCounter": 26,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-07T12:20:56.663Z",
      "createdAt": "2026-05-07T12:20:56.663Z",
      "role": "workflow:owner",
      "workflowId": "bAgrYqOejIXIUUo1",
      "projectId": "HDCZE4IUw9KS2WL1",
      "project": {
        "updatedAt": "2026-04-25T06:06:33.787Z",
        "createdAt": "2026-04-25T05:57:18.593Z",
        "id": "HDCZE4IUw9KS2WL1",
        "name": "Synapiens Development <synapiens@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a3e10bf8-6240-4e87-9f09-99823d96b21a"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-05-11T01:52:13.660Z",
      "createdAt": "2026-05-11T01:52:13.660Z",
      "id": "w3V2M4sW7eo8yuSz",
      "name": "Agente Instagram"
    }
  ],
  "activeVersion": null
}