workflows/Agente_Instagram/Instagram_Coleta_Metricas.json
{
  "updatedAt": "2026-05-11T04:34:48.465Z",
  "createdAt": "2026-05-08T14:41:20.281Z",
  "id": "GfjnHqUJEjfUZhLa",
  "name": "Instagram Coleta Metricas",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        320,
        288
      ],
      "id": "f6f8b7db-a4b6-4cf7-a4a9-e51f86b1c557",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "ig_profile",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "follow_metrics",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        528,
        288
      ],
      "id": "d4c7507e-f34b-4cba-b78d-e3f49ad802ae",
      "name": "Busca Contas",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "o3wOJfxXzuZsmCis",
          "name": "Supa Instagram Monitor"
        }
      }
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "7RQ4RlfRihUhflQtJ",
          "mode": "list",
          "cachedResultName": "Instagram Followers Count Scraper (apify/instagram-followers-count-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/7RQ4RlfRihUhflQtJ/input"
        },
        "customBody": "={\n    \"usernames\": [\n        \"{{ $json.username }}\"\n    ]\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        944,
        288
      ],
      "id": "b6b44f3f-f8fb-4880-ac4d-9cc1deb2b63a",
      "name": "Apify Conta Seguidores",
      "credentials": {
        "apifyApi": {
          "id": "xiqdphq7OrN8BBMi",
          "name": "Apify Instagran Monitor"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa01",
              "name": "instagram_id",
              "value": "={{ $('Normaliza').item.json.instagram_id }}",
              "type": "string"
            },
            {
              "id": "fa02",
              "name": "username",
              "value": "={{ $json.userName }}",
              "type": "string"
            },
            {
              "id": "fa03",
              "name": "followers_count",
              "value": "={{ $json.followersCount }}",
              "type": "number"
            },
            {
              "id": "fa04",
              "name": "following_count",
              "value": "={{ $json.followsCount }}",
              "type": "number"
            },
            {
              "id": "fa06",
              "name": "captured_at",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "9bdda11c-406b-4788-b8f3-78c5446cfee1",
              "name": "instagram_id",
              "value": "={{ $('Normaliza').item.json.instagram_id }}",
              "type": "string"
            },
            {
              "id": "e622f7fe-d084-469b-8a20-aa5bec34756b",
              "name": "profile_id",
              "value": "={{ $('Normaliza').item.json.profile_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        288
      ],
      "id": "92be0b78-5819-45f7-887b-dd476e47fbc5",
      "name": "Formata Resultado"
    },
    {
      "parameters": {
        "tableId": "ig_follow_metrics",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "profile_id",
              "fieldValue": "={{ $json.profile_id }}"
            },
            {
              "fieldId": "followers",
              "fieldValue": "={{ $json.followers_count }}"
            },
            {
              "fieldId": "follows",
              "fieldValue": "={{ $json.following_count }}"
            },
            {
              "fieldId": "date_scrap",
              "fieldValue": "={{ $json.captured_at }}"
            },
            {
              "fieldId": "instagram_id",
              "fieldValue": "={{ $json.instagram_id }}"
            },
            {
              "fieldId": "username",
              "fieldValue": "={{ $json.username }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1152,
        128
      ],
      "id": "cb584e75-47e3-44b5-b989-5a2e6da7faf2",
      "name": "Salva Histórico",
      "credentials": {
        "supabaseApi": {
          "id": "o3wOJfxXzuZsmCis",
          "name": "Supa Instagram Monitor"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a230ef5-7c39-4eca-b7f5-d76ef87a1a3c",
              "name": "instagram_id",
              "value": "={{ $json.instagram_id }}",
              "type": "string"
            },
            {
              "id": "77bdcca1-32f2-4554-9ebc-16e23bcd5867",
              "name": "username",
              "value": "={{ $json.username }}",
              "type": "string"
            },
            {
              "id": "b0ec72e6-5578-47b1-9341-cd5dad518a72",
              "name": "full_name",
              "value": "={{ $json.full_name }}",
              "type": "string"
            },
            {
              "id": "fc1027ae-a69f-47fd-9ecd-22dd5c0fcf72",
              "name": "profile_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        288
      ],
      "id": "112d07a2-314e-4a62-97d3-821eb1756a31",
      "name": "Normaliza"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "ig_profile",
        "filters": {
          "conditions": [
            {
              "keyName": "instagram_id",
              "condition": "eq",
              "keyValue": "={{ $json.instagram_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "followers_count",
              "fieldValue": "={{ $json.followers_count }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1152,
        528
      ],
      "id": "77d332a9-6da3-4811-896b-c8ed89514290",
      "name": "Altera Perfil",
      "credentials": {
        "supabaseApi": {
          "id": "o3wOJfxXzuZsmCis",
          "name": "Supa Instagram Monitor"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Busca Contas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Contas": {
      "main": [
        [
          {
            "node": "Normaliza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify Conta Seguidores": {
      "main": [
        [
          {
            "node": "Formata Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Resultado": {
      "main": [
        [
          {
            "node": "Salva Histórico",
            "type": "main",
            "index": 0
          },
          {
            "node": "Altera Perfil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza": {
      "main": [
        [
          {
            "node": "Apify Conta Seguidores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Altera Perfil": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3c08d94a-20fe-4961-bfde-54a82bc75648",
  "activeVersionId": null,
  "versionCounter": 119,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-08T14:41:20.281Z",
      "createdAt": "2026-05-08T14:41:20.281Z",
      "role": "workflow:owner",
      "workflowId": "GfjnHqUJEjfUZhLa",
      "projectId": "HDCZE4IUw9KS2WL1",
      "project": {
        "updatedAt": "2026-04-25T06:06:33.787Z",
        "createdAt": "2026-04-25T05:57:18.593Z",
        "id": "HDCZE4IUw9KS2WL1",
        "name": "Synapiens Development <synapiens@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a3e10bf8-6240-4e87-9f09-99823d96b21a"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-05-11T01:52:13.660Z",
      "createdAt": "2026-05-11T01:52:13.660Z",
      "id": "w3V2M4sW7eo8yuSz",
      "name": "Agente Instagram"
    }
  ],
  "activeVersion": null
}