workflows/Agente_Instagram/Instagram_Comments_-_Extract_0.json
{
  "updatedAt": "2026-05-11T01:57:14.238Z",
  "createdAt": "2026-05-11T01:06:39.653Z",
  "id": "UF2AnxQQGfEmbPo1",
  "name": "Instagram Comments - Extract 0",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -672,
        -144
      ],
      "id": "2bcfc567-9f39-4dbc-87a1-45317c4a5f30",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "SbK00X0JYCPblD2wp",
          "mode": "list",
          "cachedResultName": "Instagram Comments Scraper (apify/instagram-comment-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/SbK00X0JYCPblD2wp/input"
        },
        "customBody": "={\n    \"directUrls\": [\n        \"{{ $json.url }}\",\n        \"https://www.instagram.com/reel/{{ $json.short_code }}\"\n    ],\n    \"includeNestedComments\": true,\n    \"isNewestComments\": true,\n    \"resultsLimit\": {{$json.comments_count}}\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        224,
        -128
      ],
      "name": "Apify Comments",
      "id": "7d283e18-c800-4d0e-b773-c4a0455fd01f",
      "credentials": {
        "apifyApi": {
          "id": "xiqdphq7OrN8BBMi",
          "name": "Apify Instagran Monitor"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "ig_posts"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -432,
        -144
      ],
      "id": "6eea5bc8-bfe6-4c31-afe6-64f4dc29fb37",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "o3wOJfxXzuZsmCis",
          "name": "Supa Instagram Monitor"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c4d32bfb-24aa-46c7-b278-807e97780f39",
              "name": "instagram_id",
              "value": "={{ $json.instagram_id }}",
              "type": "string"
            },
            {
              "id": "6b7cf34e-e7de-4b5b-97cc-681b35c300af",
              "name": "short_code",
              "value": "={{ $json.short_code }}",
              "type": "string"
            },
            {
              "id": "e79c3bb8-f4ef-4cb3-8dad-a6ca080983d0",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "f98742d9-98a9-47f6-bc59-d44a828ceae7",
              "name": "caption",
              "value": "={{ $json.caption }}",
              "type": "string"
            },
            {
              "id": "e5a9d6e7-8549-4105-82f0-07bbc2e1dcbd",
              "name": "type",
              "value": "={{ $json.type }}",
              "type": "string"
            },
            {
              "id": "768e020a-cec2-4c95-8a7f-b89f45e0a293",
              "name": "product_type",
              "value": "={{ $json.product_type }}",
              "type": "string"
            },
            {
              "id": "1ff40444-b259-4e49-a97e-e666febe1f3d",
              "name": "comments_count",
              "value": "={{ $json.comments_count }}",
              "type": "number"
            },
            {
              "id": "5d99e08b-d049-45f7-a54d-cdf4d0049913",
              "name": "account_scraped",
              "value": "={{ $json.account_scraped }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        -144
      ],
      "id": "da0026cd-28da-492d-9bb0-02de1f312e62",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -16,
        -144
      ],
      "id": "864df572-4f64-4257-8432-b449b053a718",
      "name": "Loop Over Items"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Apify Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "03eedb90-bf6a-4a0a-a329-9805b9ac161c",
  "activeVersionId": null,
  "versionCounter": 38,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-11T01:06:39.653Z",
      "createdAt": "2026-05-11T01:06:39.653Z",
      "role": "workflow:owner",
      "workflowId": "UF2AnxQQGfEmbPo1",
      "projectId": "HDCZE4IUw9KS2WL1",
      "project": {
        "updatedAt": "2026-04-25T06:06:33.787Z",
        "createdAt": "2026-04-25T05:57:18.593Z",
        "id": "HDCZE4IUw9KS2WL1",
        "name": "Synapiens Development <synapiens@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a3e10bf8-6240-4e87-9f09-99823d96b21a"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-05-11T01:52:13.660Z",
      "createdAt": "2026-05-11T01:52:13.660Z",
      "id": "w3V2M4sW7eo8yuSz",
      "name": "Agente Instagram"
    }
  ],
  "activeVersion": null
}