workflows/Agente_Instagram/Instagram_Coleta_Metricas_v1.json
{
  "updatedAt": "2026-05-11T11:48:58.226Z",
  "createdAt": "2026-05-11T04:45:49.998Z",
  "id": "8frHRb8CKyU9VVzl",
  "name": "Instagram Coleta Metricas v1",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1136,
        160
      ],
      "id": "009fe452-deb4-4bce-8054-c576627c2e3a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "ig_profile",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "follow_metrics",
              "condition": "eq",
              "keyValue": "true"
            },
            {
              "keyName": "date_metrics",
              "condition": "lt",
              "keyValue": "={{ $now.format('yyyy-MM-dd') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -928,
        160
      ],
      "id": "06f24d92-5391-4ce1-9486-1c9949aed5e7",
      "name": "Busca Contas",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "o3wOJfxXzuZsmCis",
          "name": "Supa Instagram Monitor"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a230ef5-7c39-4eca-b7f5-d76ef87a1a3c",
              "name": "instagram_id",
              "value": "={{ $json.instagram_id }}",
              "type": "string"
            },
            {
              "id": "77bdcca1-32f2-4554-9ebc-16e23bcd5867",
              "name": "username",
              "value": "={{ $json.username }}",
              "type": "string"
            },
            {
              "id": "b0ec72e6-5578-47b1-9341-cd5dad518a72",
              "name": "full_name",
              "value": "={{ $json.full_name }}",
              "type": "string"
            },
            {
              "id": "fc1027ae-a69f-47fd-9ecd-22dd5c0fcf72",
              "name": "profile_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        160
      ],
      "id": "d3718677-2951-422a-98fd-a4084338c8a6",
      "name": "Normaliza"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "7RQ4RlfRihUhflQtJ",
          "mode": "list",
          "cachedResultName": "Instagram Followers Count Scraper (apify/instagram-followers-count-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/7RQ4RlfRihUhflQtJ/input"
        },
        "customBody": "={\n    \"usernames\": [\n        \"{{ $json.username }}\"\n    ]\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -480,
        160
      ],
      "id": "b23cf7ee-a5eb-45f9-b75c-db98de8fed7f",
      "name": "Apify Conta Seguidores",
      "credentials": {
        "apifyApi": {
          "id": "xiqdphq7OrN8BBMi",
          "name": "Apify Instagran Monitor"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa01",
              "name": "instagram_id",
              "value": "={{ $('Normaliza').item.json.instagram_id }}",
              "type": "string"
            },
            {
              "id": "fa02",
              "name": "username",
              "value": "={{ $json.userName }}",
              "type": "string"
            },
            {
              "id": "fa03",
              "name": "followers_count",
              "value": "={{ $json.followersCount }}",
              "type": "number"
            },
            {
              "id": "fa04",
              "name": "following_count",
              "value": "={{ $json.followsCount }}",
              "type": "number"
            },
            {
              "id": "fa05",
              "name": "posts_count",
              "value": "={{ $json.postsCount }}",
              "type": "number"
            },
            {
              "id": "fa06",
              "name": "captured_at",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "e622f7fe-d084-469b-8a20-aa5bec34756b",
              "name": "profile_id",
              "value": "={{ $('Normaliza').item.json.profile_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        160
      ],
      "id": "3a984fdd-3d45-499a-9b7b-db8661e1083d",
      "name": "Formata Resultado"
    },
    {
      "parameters": {
        "tableId": "ig_follow_metrics",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "profile_id",
              "fieldValue": "={{ $json.profile_id }}"
            },
            {
              "fieldId": "followers",
              "fieldValue": "={{ $json.followers_count }}"
            },
            {
              "fieldId": "follows",
              "fieldValue": "={{ $json.following_count }}"
            },
            {
              "fieldId": "posts_count",
              "fieldValue": "={{ $json.posts_count }}"
            },
            {
              "fieldId": "date_scrap",
              "fieldValue": "={{ $json.captured_at }}"
            },
            {
              "fieldId": "instagram_id",
              "fieldValue": "={{ $json.instagram_id }}"
            },
            {
              "fieldId": "username",
              "fieldValue": "={{ $json.username }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -272,
        0
      ],
      "id": "b2ccc35f-db9c-443d-b58e-809522c28140",
      "name": "Salva Histórico",
      "credentials": {
        "supabaseApi": {
          "id": "o3wOJfxXzuZsmCis",
          "name": "Supa Instagram Monitor"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "ig_profile",
        "filters": {
          "conditions": [
            {
              "keyName": "instagram_id",
              "condition": "eq",
              "keyValue": "={{ $json.instagram_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "followers_count",
              "fieldValue": "={{ $json.followers_count }}"
            },
            {
              "fieldId": "posts_count",
              "fieldValue": "={{ $json.posts_count }}"
            },
            {
              "fieldId": "last_scraped_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "date_metrics",
              "fieldValue": "={{ $now.format('yyyy-MM-dd') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -272,
        400
      ],
      "id": "efd5a38c-a691-474a-af56-d19e738447a6",
      "name": "Altera Perfil",
      "credentials": {
        "supabaseApi": {
          "id": "o3wOJfxXzuZsmCis",
          "name": "Supa Instagram Monitor"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Busca Contas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Contas": {
      "main": [
        [
          {
            "node": "Normaliza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza": {
      "main": [
        [
          {
            "node": "Apify Conta Seguidores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify Conta Seguidores": {
      "main": [
        [
          {
            "node": "Formata Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Resultado": {
      "main": [
        [
          {
            "node": "Salva Histórico",
            "type": "main",
            "index": 0
          },
          {
            "node": "Altera Perfil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveExecutionProgress": true
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "85dfc70d-a79f-49ea-8dd2-8acadcabd11c",
  "activeVersionId": "85dfc70d-a79f-49ea-8dd2-8acadcabd11c",
  "versionCounter": 54,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-11T04:45:49.998Z",
      "createdAt": "2026-05-11T04:45:49.998Z",
      "role": "workflow:owner",
      "workflowId": "8frHRb8CKyU9VVzl",
      "projectId": "HDCZE4IUw9KS2WL1",
      "project": {
        "updatedAt": "2026-04-25T06:06:33.787Z",
        "createdAt": "2026-04-25T05:57:18.593Z",
        "id": "HDCZE4IUw9KS2WL1",
        "name": "Synapiens Development <synapiens@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a3e10bf8-6240-4e87-9f09-99823d96b21a"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-05-11T01:52:13.660Z",
      "createdAt": "2026-05-11T01:52:13.660Z",
      "id": "w3V2M4sW7eo8yuSz",
      "name": "Agente Instagram"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-11T11:45:52.151Z",
    "createdAt": "2026-05-11T11:45:40.198Z",
    "versionId": "85dfc70d-a79f-49ea-8dd2-8acadcabd11c",
    "workflowId": "8frHRb8CKyU9VVzl",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 2
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -1136,
          160
        ],
        "id": "009fe452-deb4-4bce-8054-c576627c2e3a",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "ig_profile",
          "returnAll": true,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "follow_metrics",
                "condition": "eq",
                "keyValue": "true"
              },
              {
                "keyName": "date_metrics",
                "condition": "lt",
                "keyValue": "={{ $now.format('yyyy-MM-dd') }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -928,
          160
        ],
        "id": "06f24d92-5391-4ce1-9486-1c9949aed5e7",
        "name": "Busca Contas",
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "o3wOJfxXzuZsmCis",
            "name": "Supa Instagram Monitor"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2a230ef5-7c39-4eca-b7f5-d76ef87a1a3c",
                "name": "instagram_id",
                "value": "={{ $json.instagram_id }}",
                "type": "string"
              },
              {
                "id": "77bdcca1-32f2-4554-9ebc-16e23bcd5867",
                "name": "username",
                "value": "={{ $json.username }}",
                "type": "string"
              },
              {
                "id": "b0ec72e6-5578-47b1-9341-cd5dad518a72",
                "name": "full_name",
                "value": "={{ $json.full_name }}",
                "type": "string"
              },
              {
                "id": "fc1027ae-a69f-47fd-9ecd-22dd5c0fcf72",
                "name": "profile_id",
                "value": "={{ $json.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -720,
          160
        ],
        "id": "d3718677-2951-422a-98fd-a4084338c8a6",
        "name": "Normaliza"
      },
      {
        "parameters": {
          "operation": "Run actor and get dataset",
          "actorId": {
            "__rl": true,
            "value": "7RQ4RlfRihUhflQtJ",
            "mode": "list",
            "cachedResultName": "Instagram Followers Count Scraper (apify/instagram-followers-count-scraper)",
            "cachedResultUrl": "https://console.apify.com/actors/7RQ4RlfRihUhflQtJ/input"
          },
          "customBody": "={\n    \"usernames\": [\n        \"{{ $json.username }}\"\n    ]\n}"
        },
        "type": "@apify/n8n-nodes-apify.apify",
        "typeVersion": 1,
        "position": [
          -480,
          160
        ],
        "id": "b23cf7ee-a5eb-45f9-b75c-db98de8fed7f",
        "name": "Apify Conta Seguidores",
        "credentials": {
          "apifyApi": {
            "id": "xiqdphq7OrN8BBMi",
            "name": "Apify Instagran Monitor"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fa01",
                "name": "instagram_id",
                "value": "={{ $('Normaliza').item.json.instagram_id }}",
                "type": "string"
              },
              {
                "id": "fa02",
                "name": "username",
                "value": "={{ $json.userName }}",
                "type": "string"
              },
              {
                "id": "fa03",
                "name": "followers_count",
                "value": "={{ $json.followersCount }}",
                "type": "number"
              },
              {
                "id": "fa04",
                "name": "following_count",
                "value": "={{ $json.followsCount }}",
                "type": "number"
              },
              {
                "id": "fa05",
                "name": "posts_count",
                "value": "={{ $json.postsCount }}",
                "type": "number"
              },
              {
                "id": "fa06",
                "name": "captured_at",
                "value": "={{ $now }}",
                "type": "string"
              },
              {
                "id": "e622f7fe-d084-469b-8a20-aa5bec34756b",
                "name": "profile_id",
                "value": "={{ $('Normaliza').item.json.profile_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -272,
          160
        ],
        "id": "3a984fdd-3d45-499a-9b7b-db8661e1083d",
        "name": "Formata Resultado"
      },
      {
        "parameters": {
          "tableId": "ig_follow_metrics",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "profile_id",
                "fieldValue": "={{ $json.profile_id }}"
              },
              {
                "fieldId": "followers",
                "fieldValue": "={{ $json.followers_count }}"
              },
              {
                "fieldId": "follows",
                "fieldValue": "={{ $json.following_count }}"
              },
              {
                "fieldId": "posts_count",
                "fieldValue": "={{ $json.posts_count }}"
              },
              {
                "fieldId": "date_scrap",
                "fieldValue": "={{ $json.captured_at }}"
              },
              {
                "fieldId": "instagram_id",
                "fieldValue": "={{ $json.instagram_id }}"
              },
              {
                "fieldId": "username",
                "fieldValue": "={{ $json.username }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -272,
          0
        ],
        "id": "b2ccc35f-db9c-443d-b58e-809522c28140",
        "name": "Salva Histórico",
        "credentials": {
          "supabaseApi": {
            "id": "o3wOJfxXzuZsmCis",
            "name": "Supa Instagram Monitor"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "ig_profile",
          "filters": {
            "conditions": [
              {
                "keyName": "instagram_id",
                "condition": "eq",
                "keyValue": "={{ $json.instagram_id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "followers_count",
                "fieldValue": "={{ $json.followers_count }}"
              },
              {
                "fieldId": "posts_count",
                "fieldValue": "={{ $json.posts_count }}"
              },
              {
                "fieldId": "last_scraped_at",
                "fieldValue": "={{ $now }}"
              },
              {
                "fieldId": "date_metrics",
                "fieldValue": "={{ $now.format('yyyy-MM-dd') }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -272,
          400
        ],
        "id": "efd5a38c-a691-474a-af56-d19e738447a6",
        "name": "Altera Perfil",
        "credentials": {
          "supabaseApi": {
            "id": "o3wOJfxXzuZsmCis",
            "name": "Supa Instagram Monitor"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Busca Contas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca Contas": {
        "main": [
          [
            {
              "node": "Normaliza",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normaliza": {
        "main": [
          [
            {
              "node": "Apify Conta Seguidores",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Apify Conta Seguidores": {
        "main": [
          [
            {
              "node": "Formata Resultado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Formata Resultado": {
        "main": [
          [
            {
              "node": "Salva Histórico",
              "type": "main",
              "index": 0
            },
            {
              "node": "Altera Perfil",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Synapiens Development",
    "name": "Version 85dfc70d",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-11T11:45:52.147Z",
        "id": 33,
        "workflowId": "8frHRb8CKyU9VVzl",
        "versionId": "85dfc70d-a79f-49ea-8dd2-8acadcabd11c",
        "event": "activated",
        "userId": "a3e10bf8-6240-4e87-9f09-99823d96b21a"
      },
      {
        "createdAt": "2026-05-11T11:48:58.289Z",
        "id": 34,
        "workflowId": "8frHRb8CKyU9VVzl",
        "versionId": "85dfc70d-a79f-49ea-8dd2-8acadcabd11c",
        "event": "deactivated",
        "userId": "a3e10bf8-6240-4e87-9f09-99823d96b21a"
      },
      {
        "createdAt": "2026-05-11T11:48:58.329Z",
        "id": 35,
        "workflowId": "8frHRb8CKyU9VVzl",
        "versionId": "85dfc70d-a79f-49ea-8dd2-8acadcabd11c",
        "event": "activated",
        "userId": "a3e10bf8-6240-4e87-9f09-99823d96b21a"
      }
    ]
  }
}