workflows/Agente_Instagram/Instagram_Comments_e_Replies.json
{
  "updatedAt": "2026-05-11T04:26:29.174Z",
  "createdAt": "2026-05-11T02:36:05.533Z",
  "id": "9I2XrkYgqdM2Fhml",
  "name": "Instagram Comments e Replies",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        4880,
        1280
      ],
      "id": "015902dc-a897-47d7-b8da-8401c0a35aee",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "param-supabase-url",
              "name": "SUPABASE_URL",
              "value": "https://qwaebnwemqiwmyklsuzd.supabase.co",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5120,
        1280
      ],
      "id": "afa687ac-f7de-4160-856c-fd5af57f2a41",
      "name": "Params"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "ig_posts"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5360,
        1280
      ],
      "id": "d3369f4d-29d3-4c54-80b6-19e4435c743f",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "o3wOJfxXzuZsmCis",
          "name": "Supa Instagram Monitor"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c4d32bfb-24aa-46c7-b278-807e97780f39",
              "name": "instagram_id",
              "value": "={{ $json.instagram_id }}",
              "type": "string"
            },
            {
              "id": "6b7cf34e-e7de-4b5b-97cc-681b35c300af",
              "name": "short_code",
              "value": "={{ $json.short_code }}",
              "type": "string"
            },
            {
              "id": "e79c3bb8-f4ef-4cb3-8dad-a6ca080983d0",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "f98742d9-98a9-47f6-bc59-d44a828ceae7",
              "name": "caption",
              "value": "={{ $json.caption }}",
              "type": "string"
            },
            {
              "id": "e5a9d6e7-8549-4105-82f0-07bbc2e1dcbd",
              "name": "type",
              "value": "={{ $json.type }}",
              "type": "string"
            },
            {
              "id": "768e020a-cec2-4c95-8a7f-b89f45e0a293",
              "name": "product_type",
              "value": "={{ $json.product_type }}",
              "type": "string"
            },
            {
              "id": "1ff40444-b259-4e49-a97e-e666febe1f3d",
              "name": "comments_count",
              "value": "={{ $json.comments_count }}",
              "type": "number"
            },
            {
              "id": "5d99e08b-d049-45f7-a54d-cdf4d0049913",
              "name": "account_scraped",
              "value": "={{ $json.account_scraped }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5600,
        1280
      ],
      "id": "308458e6-c65f-4267-8c2a-0064325206ea",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4880,
        1504
      ],
      "id": "2c97e2bf-93b4-4b90-856d-63ed620003e5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "SbK00X0JYCPblD2wp",
          "mode": "list",
          "cachedResultName": "Instagram Comments Scraper (apify/instagram-comment-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/SbK00X0JYCPblD2wp/input"
        },
        "customBody": "={\n    \"directUrls\": [\n        \"{{ $json.url }}\"\n    ],\n    \"includeNestedComments\": true,\n    \"isNewestComments\": true,\n    \"resultsLimit\": {{$json.comments_count}}\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        5120,
        1520
      ],
      "id": "db87e1dd-66fb-48a2-8c8b-2bb7cdcaee68",
      "name": "Apify Comments",
      "credentials": {
        "apifyApi": {
          "id": "xiqdphq7OrN8BBMi",
          "name": "Apify Instagran Monitor"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const shortCode = $('Edit Fields').first().json.short_code;\nconst now = new Date().toISOString();\n\nreturn $input.all().map(item => {\n  const c = item.json;\n  const commentId = String(c.id ?? '');\n\n  return {\n    json: {\n      post_id:           shortCode,\n      comment_id:        commentId,\n      comment_text:      c.text ?? '',\n      comment_username:  c.ownerUsername ?? '',\n      comment_timestamp: c.timestamp ?? null,\n      likes_count:       c.likesCount ?? 0,\n      replies_count:     c.repliesCount ?? (c.replies?.length ?? 0),\n      captured_at:       now,\n      replies: (c.replies ?? []).map(r => ({\n        comment_id:      commentId,\n        reply_id:        String(r.id ?? ''),\n        reply_text:      r.text ?? '',\n        reply_username:  r.ownerUsername ?? '',\n        reply_timestamp: r.timestamp ?? null,\n        likes_count:     r.likesCount ?? 0,\n        captured_at:     now\n      }))\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5360,
        1520
      ],
      "id": "5e85216c-7279-4040-aec0-0dee892d584e",
      "name": "Formata Comentários"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Params').item.json.SUPABASE_URL }}/rest/v1/ig_comments?on_conflict=comment_id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "comment_id",
              "value": "={{ $json.comment_id }}"
            },
            {
              "name": "post_id",
              "value": "={{ $json.post_id }}"
            },
            {
              "name": "comment_text",
              "value": "={{ $json.comment_text }}"
            },
            {
              "name": "comment_username",
              "value": "={{ $json.comment_username }}"
            },
            {
              "name": "comment_timestamp",
              "value": "={{ $json.comment_timestamp }}"
            },
            {
              "name": "likes_count",
              "value": "={{ $json.likes_count }}"
            },
            {
              "name": "replies_count",
              "value": "={{ $json.replies_count }}"
            },
            {
              "name": "captured_at",
              "value": "={{ $json.captured_at }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5600,
        1520
      ],
      "id": "c1d27271-43f3-4a3d-a97c-b48c90aef17e",
      "name": "Salva Comentários",
      "credentials": {
        "supabaseApi": {
          "id": "o3wOJfxXzuZsmCis",
          "name": "Supa Instagram Monitor"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $('Formata Comentários').all().map(item => ({\n  json: {\n    replies: item.json.replies ?? []\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4880,
        1744
      ],
      "id": "750fa123-44d2-40ba-b7a5-0d2c9a34fa03",
      "name": "Recupera Replies"
    },
    {
      "parameters": {
        "fieldToSplitOut": "replies",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        5136,
        1744
      ],
      "id": "f1d2cb65-b0b2-41b8-b8f3-1dbb81af60e8",
      "name": "Split Replies",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-reply-check",
              "leftValue": "={{ $json.reply_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5376,
        1744
      ],
      "id": "ea518117-e6df-4b05-90dc-e8c0a4ef3e78",
      "name": "IF Tem Reply"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Params').item.json.SUPABASE_URL }}/rest/v1/ig_comment_replies?on_conflict=reply_id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "reply_id",
              "value": "={{ $json.reply_id }}"
            },
            {
              "name": "comment_id",
              "value": "={{ $json.comment_id }}"
            },
            {
              "name": "reply_text",
              "value": "={{ $json.reply_text }}"
            },
            {
              "name": "reply_username",
              "value": "={{ $json.reply_username }}"
            },
            {
              "name": "reply_timestamp",
              "value": "={{ $json.reply_timestamp }}"
            },
            {
              "name": "likes_count",
              "value": "={{ $json.likes_count }}"
            },
            {
              "name": "captured_at",
              "value": "={{ $json.captured_at }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5600,
        1728
      ],
      "id": "8ed5d917-043b-41ba-a20a-064bcc355847",
      "name": "Salva Replies",
      "credentials": {
        "supabaseApi": {
          "id": "o3wOJfxXzuZsmCis",
          "name": "Supa Instagram Monitor"
        }
      }
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Params": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Apify Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify Comments": {
      "main": [
        [
          {
            "node": "Formata Comentários",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Comentários": {
      "main": [
        [
          {
            "node": "Salva Comentários",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva Comentários": {
      "main": [
        [
          {
            "node": "Recupera Replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recupera Replies": {
      "main": [
        [
          {
            "node": "Split Replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Replies": {
      "main": [
        [
          {
            "node": "IF Tem Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Tem Reply": {
      "main": [
        [
          {
            "node": "Salva Replies",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva Replies": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "f8bcdd98-f87c-4044-b811-ab1b278b1947",
  "activeVersionId": null,
  "versionCounter": 82,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-11T02:36:05.533Z",
      "createdAt": "2026-05-11T02:36:05.533Z",
      "role": "workflow:owner",
      "workflowId": "9I2XrkYgqdM2Fhml",
      "projectId": "HDCZE4IUw9KS2WL1",
      "project": {
        "updatedAt": "2026-04-25T06:06:33.787Z",
        "createdAt": "2026-04-25T05:57:18.593Z",
        "id": "HDCZE4IUw9KS2WL1",
        "name": "Synapiens Development <synapiens@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a3e10bf8-6240-4e87-9f09-99823d96b21a"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-05-11T01:52:13.660Z",
      "createdAt": "2026-05-11T01:52:13.660Z",
      "id": "w3V2M4sW7eo8yuSz",
      "name": "Agente Instagram"
    }
  ],
  "activeVersion": null
}