workflows/Agente_Instagram/Instagram_Coleta_Posts_v1.json
{
  "updatedAt": "2026-05-12T01:13:14.586Z",
  "createdAt": "2026-05-11T11:32:27.105Z",
  "id": "iLC0eZ5EE6JU497g",
  "name": "Instagram Coleta Posts v1",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "09fc52cb-bb3e-480e-af3b-c06ece78ebae",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        1584
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "account_handle",
              "value": "=marcelvanhattem",
              "type": "string",
              "id": "8cd609b2-d6be-41e5-93bc-6a7533f3c616"
            },
            {
              "name": "post_limits",
              "value": 50,
              "type": "number",
              "id": "b308cbe2-dc3b-4401-9a67-10da6c58e429"
            },
            {
              "name": "SUPABASE_URL",
              "value": "https://qwaebnwemqiwmyklsuzd.supabase.co",
              "type": "string",
              "id": "965d54df-f383-4146-bb44-552d9f3a7a1d"
            },
            {
              "id": "106286e5-08b0-4526-8b3e-0addaabd3a28",
              "name": "posts_days",
              "value": "20",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        1584
      ],
      "name": "Params",
      "id": "24e686d4-6c6b-4724-b267-af7519e97c63"
    },
    {
      "parameters": {
        "tableId": "scrape_jobs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "username",
              "fieldValue": "={{ $json.account_handle }}"
            },
            {
              "fieldId": "limit_posts",
              "fieldValue": "={{ $json.post_limits }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        1584
      ],
      "name": "Cria Job",
      "id": "b24ed74c-2ee9-48d5-98aa-aab23301c4f0",
      "credentials": {
        "supabaseApi": {
          "id": "o3wOJfxXzuZsmCis",
          "name": "Supa Instagram Monitor"
        }
      }
    },
    {
      "parameters": {
        "resource": "Actors",
        "operation": "Run actor and get dataset"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        720,
        2176
      ],
      "name": "Apify Profile",
      "id": "0bac0188-8186-4970-a1b5-7c8094ce1c5a",
      "credentials": {
        "apifyApi": {
          "id": "xiqdphq7OrN8BBMi",
          "name": "Apify Instagran Monitor"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Params').item.json.SUPABASE_URL }}/rest/v1/ig_profile?on_conflict=instagram_id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "instagram_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "username",
              "value": "={{ $json.username }}"
            },
            {
              "name": "full_name",
              "value": "={{ $json.fullName }}"
            },
            {
              "name": "profile_pic_url_hd",
              "value": "={{ $json.profilePicUrlHD }}"
            },
            {
              "name": "biography",
              "value": "={{ $json.biography }}"
            },
            {
              "name": "external_url",
              "value": "={{ $json.externalUrl }}"
            },
            {
              "name": "followers_count",
              "value": "={{ $json.followersCount }}"
            },
            {
              "name": "following_count",
              "value": "={{ $json.followsCount }}"
            },
            {
              "name": "posts_count",
              "value": "={{ $json.postsCount }}"
            },
            {
              "name": "is_verified",
              "value": "={{ $json.verified }}"
            },
            {
              "name": "is_business_account",
              "value": "={{ $json.isBusinessAccount }}"
            },
            {
              "name": "business_category",
              "value": "={{ $json.businessCategoryName }}"
            },
            {
              "name": "location_name",
              "value": "={{ $json.businessAddress?.location_name }}"
            },
            {
              "name": "business_address",
              "value": "={{ $json.businessAddress }}"
            },
            {
              "name": "last_scraped_at",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        960,
        2176
      ],
      "name": "Save Profile",
      "id": "a7e0dfa7-53fd-4c01-8f24-2441f72b2290",
      "credentials": {
        "supabaseApi": {
          "id": "o3wOJfxXzuZsmCis",
          "name": "Supa Instagram Monitor"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "943d6b02-6c89-41c3-af6b-78786012fe9e",
              "leftValue": "={{ $json.dif_date.days }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1216,
        1568
      ],
      "id": "3895a168-ef88-4c7e-b518-951cfa53e21c",
      "name": "Testa 120 Horas"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b0453b64-40bc-44fe-8680-bb00c53b9a92",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        1584
      ],
      "id": "2f718296-484c-41e4-a315-8dc2808e56bf",
      "name": "Perfil Existe?"
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "={{ $json.last_scraped_at }}",
        "endDate": "={{ $now }}",
        "outputFieldName": "dif_date",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        928,
        1568
      ],
      "id": "f9d5493d-e736-45b0-b4e1-5c3d3d0bce99",
      "name": "Date & Time"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1248,
        2176
      ],
      "id": "007d0703-5cec-4aa9-bf81-730a396c0ec4",
      "name": "Menos de 5 dias"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "ig_profile",
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "keyValue": "={{ $('Params').item.json.account_handle }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        288,
        1584
      ],
      "id": "afe30094-2085-471d-b61f-b92f7c57b0d8",
      "name": "Verifica Perfil",
      "credentials": {
        "supabaseApi": {
          "id": "o3wOJfxXzuZsmCis",
          "name": "Supa Instagram Monitor"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Params": {
      "main": [
        [
          {
            "node": "Cria Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Job": {
      "main": [
        [
          {
            "node": "Verifica Perfil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica Perfil": {
      "main": [
        [
          {
            "node": "Perfil Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perfil Existe?": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Apify Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Testa 120 Horas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Testa 120 Horas": {
      "main": [
        [
          {
            "node": "Apify Profile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menos de 5 dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify Profile": {
      "main": [
        [
          {
            "node": "Save Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "5e4bce06-e035-4a8e-8a12-c3da7aac9745",
  "activeVersionId": null,
  "versionCounter": 35,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-11T11:32:27.105Z",
      "createdAt": "2026-05-11T11:32:27.105Z",
      "role": "workflow:owner",
      "workflowId": "iLC0eZ5EE6JU497g",
      "projectId": "HDCZE4IUw9KS2WL1",
      "project": {
        "updatedAt": "2026-04-25T06:06:33.787Z",
        "createdAt": "2026-04-25T05:57:18.593Z",
        "id": "HDCZE4IUw9KS2WL1",
        "name": "Synapiens Development <synapiens@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a3e10bf8-6240-4e87-9f09-99823d96b21a"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-05-11T01:52:13.660Z",
      "createdAt": "2026-05-11T01:52:13.660Z",
      "id": "w3V2M4sW7eo8yuSz",
      "name": "Agente Instagram"
    }
  ],
  "activeVersion": null
}