workflows/SANCAL_DRE_V0/000100_-_Calcula_Corp_Filler.json
{
  "updatedAt": "2026-05-12T00:38:17.750Z",
  "createdAt": "2026-04-25T07:35:08.346Z",
  "id": "FbnUu5kap87klgrL",
  "name": "000/100 - Calcula Corp Filler",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "visao_id",
              "value": "={{ $json.body.visao_id }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "periodo",
              "value": "={{ $json.body.periodo }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        352
      ],
      "id": "3595f176-ac3f-4648-a697-efc73b62534b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3",
              "name": "periodo",
              "value": "={{ $json.query.carga }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "visao_id",
              "value": "={{ $json.query.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        576
      ],
      "id": "82f9caf0-db91-4817-82f3-2b7da4733d07",
      "name": "Normaliza Param"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "dre_calc_atual",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "crg_periodo",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields').item.json.periodo }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1008,
        576
      ],
      "id": "35e3d2d0-9df8-4554-8f6f-2e21f4a0ac89",
      "name": "Busca DREs",
      "credentials": {
        "supabaseApi": {
          "id": "XZF8BL3CGNL9YXQR",
          "name": "Supa Sancal DRE"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "viw_rel_visao_empresa",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "visao_id",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields').item.json.visao_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        768,
        816
      ],
      "id": "2bad843b-63ac-4578-9537-bdad3697bb2f",
      "name": "Busca Empresas",
      "credentials": {
        "supabaseApi": {
          "id": "XZF8BL3CGNL9YXQR",
          "name": "Supa Sancal DRE"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5",
              "name": "visao_id",
              "value": "={{ $json.visao_id }}",
              "type": "string"
            },
            {
              "id": "f6",
              "name": "emp_cod_integra",
              "value": "={{ $json.empresa_integra_id }}",
              "type": "string"
            },
            {
              "id": "f7",
              "name": "emp_cnpj_raiz",
              "value": "={{ $json.emp_cnpj_raiz }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        816
      ],
      "id": "e06cc115-cf99-4a51-bf72-14196e95b526",
      "name": "Normaliza Empresa"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "emp_cod_integra",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1360,
        592
      ],
      "id": "c0b40c2c-b3e8-4b0e-8131-6fa37853be33",
      "name": "Une Empresas",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "tab_estilo_linha",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "estilo_ativo_sn",
              "condition": "eq",
              "keyValue": "S"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        336
      ],
      "id": "22dc145b-dfb2-417f-816b-e65c29f536a5",
      "name": "Busca Estilo Linha",
      "credentials": {
        "supabaseApi": {
          "id": "XZF8BL3CGNL9YXQR",
          "name": "Supa Sancal DRE"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8",
              "name": "estilo_linha_id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "f9",
              "name": "est_tipg_tela",
              "value": "={{ $json.est_tipg_tela }}",
              "type": "string"
            },
            {
              "id": "f10",
              "name": "est_nivel_ident",
              "value": "={{ $json.est_nivel_ident }}",
              "type": "string"
            },
            {
              "id": "f11",
              "name": "est_fdo_tela",
              "value": "={{ $json.est_fdo_tela }}",
              "type": "string"
            },
            {
              "id": "f12",
              "name": "est_txt_tela",
              "value": "={{ $json.est_txt_tela }}",
              "type": "string"
            },
            {
              "id": "f13",
              "name": "est_alin_tela",
              "value": "={{ $json.est_alin_tela }}",
              "type": "string"
            },
            {
              "id": "f14",
              "name": "est_opac_tela",
              "value": "={{ $json.est_opac_tela }}",
              "type": "number"
            },
            {
              "id": "f15",
              "name": "est_tipg_doc",
              "value": "={{ $json.est_tipg_doc }}",
              "type": "string"
            },
            {
              "id": "f16",
              "name": "est_fdo_doc",
              "value": "={{ $json.est_fdo_doc }}",
              "type": "string"
            },
            {
              "id": "f17",
              "name": "est_txt_doc",
              "value": "={{ $json.est_txt_doc }}",
              "type": "string"
            },
            {
              "id": "f18",
              "name": "est_alin_doc",
              "value": "={{ $json.est_alin_doc }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        336
      ],
      "id": "b82ad6ee-9e0a-4f35-ac67-283e4c2b613e",
      "name": "Normaliza Estilo"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "viw_visao_detalhe",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields').item.json.visao_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        784,
        112
      ],
      "id": "df86b43f-d2d6-4e3a-8adf-f19e1cc5bc17",
      "name": "Busca Visao",
      "credentials": {
        "supabaseApi": {
          "id": "XZF8BL3CGNL9YXQR",
          "name": "Supa Sancal DRE"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f19",
              "name": "visao_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f20",
              "name": "tipo_visao_id",
              "value": "={{ $json.tipo_visao_id }}",
              "type": "number"
            },
            {
              "id": "f21",
              "name": "tp_vis_nome",
              "value": "={{ $json.tpvis_nome }}",
              "type": "string"
            },
            {
              "id": "f22",
              "name": "cliente_id",
              "value": "={{ $json.cliente_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        112
      ],
      "id": "c330c2c5-8ba9-425a-b39f-db0542dd715e",
      "name": "Normaliza Visao"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "estilo_linha_id",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1536,
        352
      ],
      "id": "0b049296-53b7-4074-a8cf-be52a2e003b5",
      "name": "Une Estilo Linha"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "visao_id",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1488,
        128
      ],
      "id": "29378e91-1c87-4758-9a80-e66c6996987d",
      "name": "Une Visao"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "g1",
              "name": "visao_id",
              "value": "={{ $json.visao_id }}",
              "type": "string"
            },
            {
              "id": "g2",
              "name": "cliente_id",
              "value": "={{ $json.cliente_id }}",
              "type": "string"
            },
            {
              "id": "g3",
              "name": "emp_cod_integra",
              "value": "={{ $json.emp_cod_integra }}",
              "type": "string"
            },
            {
              "id": "g4",
              "name": "crg_periodo",
              "value": "={{ $json.crg_periodo }}",
              "type": "number"
            },
            {
              "id": "g5",
              "name": "estilo_linha_id",
              "value": "={{ $json.estilo_linha_id }}",
              "type": "number"
            },
            {
              "id": "g6",
              "name": "dre_linha_visivel",
              "value": "={{ $json.dre_linha_visivel }}",
              "type": "string"
            },
            {
              "id": "g7",
              "name": "dre_linha_valor",
              "value": "={{ $json.dre_linha_valor }}",
              "type": "string"
            },
            {
              "id": "g8",
              "name": "dre_linha_seq",
              "value": "={{ $json.dre_linha_seq }}",
              "type": "number"
            },
            {
              "id": "g9",
              "name": "dre_linha_descri",
              "value": "={{ $json.dre_linha_descri }}",
              "type": "string"
            },
            {
              "id": "g10",
              "name": "conta_janeiro",
              "value": "={{ $json.conta_janeiro }}",
              "type": "number"
            },
            {
              "id": "g11",
              "name": "conta_fevereiro",
              "value": "={{ $json.conta_fevereiro }}",
              "type": "number"
            },
            {
              "id": "g12",
              "name": "conta_marco",
              "value": "={{ $json.conta_marco }}",
              "type": "number"
            },
            {
              "id": "g13",
              "name": "conta_abril",
              "value": "={{ $json.conta_abril }}",
              "type": "number"
            },
            {
              "id": "g14",
              "name": "conta_maio",
              "value": "={{ $json.conta_maio }}",
              "type": "number"
            },
            {
              "id": "g15",
              "name": "conta_junho",
              "value": "={{ $json.conta_junho }}",
              "type": "number"
            },
            {
              "id": "g16",
              "name": "conta_julho",
              "value": "={{ $json.conta_julho }}",
              "type": "number"
            },
            {
              "id": "g17",
              "name": "conta_agosto",
              "value": "={{ $json.conta_agosto }}",
              "type": "number"
            },
            {
              "id": "g18",
              "name": "conta_setembro",
              "value": "={{ $json.conta_setembro }}",
              "type": "number"
            },
            {
              "id": "g19",
              "name": "conta_outubro",
              "value": "={{ $json.conta_outubro }}",
              "type": "number"
            },
            {
              "id": "g20",
              "name": "conta_novembro",
              "value": "={{ $json.conta_novembro }}",
              "type": "number"
            },
            {
              "id": "g21",
              "name": "conta_dezembro",
              "value": "={{ $json.conta_dezembro }}",
              "type": "number"
            },
            {
              "id": "g22",
              "name": "conta_acumulado",
              "value": "={{ $json.conta_acumulado }}",
              "type": "number"
            },
            {
              "id": "g23",
              "name": "conta_perc",
              "value": "={{ $json.conta_perc }}",
              "type": "number"
            },
            {
              "id": "g24",
              "name": "perc_ref",
              "value": "={{ $json.perc_ref }}",
              "type": "string"
            },
            {
              "id": "g25",
              "name": "est_nivel_ident",
              "value": "={{ $json.est_nivel_ident }}",
              "type": "string"
            },
            {
              "id": "g26",
              "name": "est_tipg_tela",
              "value": "={{ $json.est_tipg_tela }}",
              "type": "string"
            },
            {
              "id": "g27",
              "name": "emp_cnpj_raiz",
              "value": "={{ $json.emp_cnpj_raiz }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        128
      ],
      "id": "80d19fde-9319-4253-9a26-96efdf48ab1b",
      "name": "Normaliza DRE"
    },
    {
      "parameters": {
        "jsCode": "const grouped = {};\nfor (const item of $input.all()) {\n  const cnpj = item.json.emp_cnpj_raiz || '';\n  const key = `${item.json.dre_linha_seq}_${item.json.dre_linha_descri}_${cnpj}`;\n  if (!grouped[key]) {\n    grouped[key] = {\n      visao_id: item.json.visao_id,\n      cliente_id: item.json.cliente_id,\n      crg_periodo: item.json.crg_periodo,\n      dre_linha_seq: item.json.dre_linha_seq,\n      dre_linha_descri: item.json.dre_linha_descri,\n      dre_linha_visivel: item.json.dre_linha_visivel,\n      dre_linha_valor: item.json.dre_linha_valor,\n      estilo_linha_id: item.json.estilo_linha_id,\n      est_nivel_ident: item.json.est_nivel_ident,\n      est_tipg_tela: item.json.est_tipg_tela,\n      perc_ref: item.json.perc_ref,\n      cnpj_raiz: cnpj,\n      conta_janeiro:0,conta_fevereiro:0,conta_marco:0,conta_abril:0,\n      conta_maio:0,conta_junho:0,conta_julho:0,conta_agosto:0,\n      conta_setembro:0,conta_outubro:0,conta_novembro:0,conta_dezembro:0,\n      conta_acumulado:0\n    };\n  }\n  if (item.json.perc_ref !== '#L%%') {\n    grouped[key].conta_janeiro   += item.json.conta_janeiro   || 0;\n    grouped[key].conta_fevereiro += item.json.conta_fevereiro || 0;\n    grouped[key].conta_marco     += item.json.conta_marco     || 0;\n    grouped[key].conta_abril     += item.json.conta_abril     || 0;\n    grouped[key].conta_maio      += item.json.conta_maio      || 0;\n    grouped[key].conta_junho     += item.json.conta_junho     || 0;\n    grouped[key].conta_julho     += item.json.conta_julho     || 0;\n    grouped[key].conta_agosto    += item.json.conta_agosto    || 0;\n    grouped[key].conta_setembro  += item.json.conta_setembro  || 0;\n    grouped[key].conta_outubro   += item.json.conta_outubro   || 0;\n    grouped[key].conta_novembro  += item.json.conta_novembro  || 0;\n    grouped[key].conta_dezembro  += item.json.conta_dezembro  || 0;\n    grouped[key].conta_acumulado += item.json.conta_acumulado || 0;\n  }\n}\nconst result = Object.values(grouped).sort((a,b) => {\n  if (a.dre_linha_seq !== b.dre_linha_seq) return a.dre_linha_seq - b.dre_linha_seq;\n  return a.cnpj_raiz.localeCompare(b.cnpj_raiz);\n});\nconst colunas = ['conta_janeiro','conta_fevereiro','conta_marco','conta_abril','conta_maio','conta_junho','conta_julho','conta_agosto','conta_setembro','conta_outubro','conta_novembro','conta_dezembro','conta_acumulado'];\nconst linhaMap = {};\nresult.forEach(item => { linhaMap[`${item.dre_linha_seq}_${item.cnpj_raiz}`] = item; });\nfunction parsePercFormula(formula) {\n  if (!formula || !formula.startsWith('PERC(')) return null;\n  const match = formula.match(/PERC\\(#L(\\d+)\\/#L(\\d+)\\)/);\n  if (!match) return null;\n  return { numerador: parseInt(match[1]), denominador: parseInt(match[2]) };\n}\nresult.forEach(item => {\n  if (item.perc_ref === '#L%%' && item.dre_linha_valor) {\n    const formula = parsePercFormula(item.dre_linha_valor);\n    if (formula) {\n      const num = linhaMap[`${formula.numerador}_${item.cnpj_raiz}`];\n      const den = linhaMap[`${formula.denominador}_${item.cnpj_raiz}`];\n      if (num && den && num.perc_ref !== '#L%%' && den.perc_ref !== '#L%%') {\n        colunas.forEach(col => { item[col] = den[col] === 0 ? 0 : (num[col]||0)/(den[col]||1)*100; });\n      }\n    }\n  }\n});\nresult.forEach(item => {\n  const percRef = item.perc_ref;\n  if (!percRef || percRef === '') { item.conta_perc = null; }\n  else if (percRef === '#L%') { item.conta_perc = 100; }\n  else if (percRef === '#L%%') { item.conta_perc = null; }\n  else if (percRef.startsWith('#L')) {\n    const refSeq = parseInt(percRef.replace('#L',''),10);\n    const linhaRef = linhaMap[`${refSeq}_${item.cnpj_raiz}`];\n    if (!linhaRef) { item.conta_perc = null; }\n    else if (linhaRef.conta_acumulado === 0) { item.conta_perc = 0; }\n    else { item.conta_perc = (item.conta_acumulado / linhaRef.conta_acumulado) * 100; }\n  } else { item.conta_perc = null; }\n  delete item.dre_linha_valor;\n});\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        128
      ],
      "id": "5db2a0bf-f486-4540-96ae-d9472f9fbcfd",
      "name": "Calcula Valores"
    },
    {
      "parameters": {
        "tableId": "dre_calc_filler_corp",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1920,
        352
      ],
      "id": "bf4dab22-dcef-4bb4-83d4-a0ccfd41dd32",
      "name": "Grava Cálculo",
      "credentials": {
        "supabaseApi": {
          "id": "XZF8BL3CGNL9YXQR",
          "name": "Supa Sancal DRE"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "corp",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        512,
        128
      ],
      "id": "27e16e62-22fe-4e1f-b7ee-c8d5490925db",
      "name": "Webhook",
      "webhookId": "6ac022ca-2599-4fb7-ac62-cfe440484f8c"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "dre_calc_filler_corp",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "visao_id",
              "condition": "eq",
              "keyValue": "={{ $json.visao_id }}"
            },
            {
              "keyName": "crg_periodo",
              "condition": "gt",
              "keyValue": "={{  Math.trunc(($json.periodo/100)) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        528,
        576
      ],
      "id": "f52c38a0-964b-4482-8ff2-c37ebd1bb41f",
      "name": "Delete a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "XZF8BL3CGNL9YXQR",
          "name": "Supa Sancal DRE"
        }
      }
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza Param": {
      "main": [
        [
          {
            "node": "Busca DREs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca Empresas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca Estilo Linha",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca Visao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca DREs": {
      "main": [
        [
          {
            "node": "Une Empresas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Empresas": {
      "main": [
        [
          {
            "node": "Normaliza Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza Empresa": {
      "main": [
        [
          {
            "node": "Une Empresas",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Une Empresas": {
      "main": [
        [
          {
            "node": "Une Estilo Linha",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Busca Estilo Linha": {
      "main": [
        [
          {
            "node": "Normaliza Estilo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza Estilo": {
      "main": [
        [
          {
            "node": "Une Estilo Linha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Une Estilo Linha": {
      "main": [
        [
          {
            "node": "Une Visao",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Busca Visao": {
      "main": [
        [
          {
            "node": "Normaliza Visao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza Visao": {
      "main": [
        [
          {
            "node": "Une Visao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Une Visao": {
      "main": [
        [
          {
            "node": "Normaliza DRE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza DRE": {
      "main": [
        [
          {
            "node": "Calcula Valores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcula Valores": {
      "main": [
        [
          {
            "node": "Grava Cálculo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Normaliza Param",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5ffca59e-af28-4d82-8c08-1c1649188c73",
  "activeVersionId": "5ffca59e-af28-4d82-8c08-1c1649188c73",
  "versionCounter": 21,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-25T07:35:08.346Z",
      "createdAt": "2026-04-25T07:35:08.346Z",
      "role": "workflow:owner",
      "workflowId": "FbnUu5kap87klgrL",
      "projectId": "HDCZE4IUw9KS2WL1",
      "project": {
        "updatedAt": "2026-04-25T06:06:33.787Z",
        "createdAt": "2026-04-25T05:57:18.593Z",
        "id": "HDCZE4IUw9KS2WL1",
        "name": "Synapiens Development <synapiens@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a3e10bf8-6240-4e87-9f09-99823d96b21a"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-05-12T00:37:39.540Z",
      "createdAt": "2026-05-12T00:37:39.540Z",
      "id": "rf0POV5W2OD5ST1P",
      "name": "SANCAL DRE V0"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-26T21:19:13.711Z",
    "createdAt": "2026-04-26T21:19:08.796Z",
    "versionId": "5ffca59e-af28-4d82-8c08-1c1649188c73",
    "workflowId": "FbnUu5kap87klgrL",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f1",
                "name": "visao_id",
                "value": "={{ $json.body.visao_id }}",
                "type": "string"
              },
              {
                "id": "f2",
                "name": "periodo",
                "value": "={{ $json.body.periodo }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          528,
          352
        ],
        "id": "3595f176-ac3f-4648-a697-efc73b62534b",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f3",
                "name": "periodo",
                "value": "={{ $json.query.carga }}",
                "type": "string"
              },
              {
                "id": "f4",
                "name": "visao_id",
                "value": "={{ $json.query.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          768,
          576
        ],
        "id": "82f9caf0-db91-4817-82f3-2b7da4733d07",
        "name": "Normaliza Param"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "dre_calc_atual",
          "returnAll": true,
          "filters": {
            "conditions": [
              {
                "keyName": "crg_periodo",
                "condition": "eq",
                "keyValue": "={{ $('Edit Fields').item.json.periodo }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1008,
          576
        ],
        "id": "35e3d2d0-9df8-4554-8f6f-2e21f4a0ac89",
        "name": "Busca DREs",
        "credentials": {
          "supabaseApi": {
            "id": "XZF8BL3CGNL9YXQR",
            "name": "Supa Sancal DRE"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "viw_rel_visao_empresa",
          "returnAll": true,
          "filters": {
            "conditions": [
              {
                "keyName": "visao_id",
                "condition": "eq",
                "keyValue": "={{ $('Edit Fields').item.json.visao_id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          768,
          816
        ],
        "id": "2bad843b-63ac-4578-9537-bdad3697bb2f",
        "name": "Busca Empresas",
        "credentials": {
          "supabaseApi": {
            "id": "XZF8BL3CGNL9YXQR",
            "name": "Supa Sancal DRE"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f5",
                "name": "visao_id",
                "value": "={{ $json.visao_id }}",
                "type": "string"
              },
              {
                "id": "f6",
                "name": "emp_cod_integra",
                "value": "={{ $json.empresa_integra_id }}",
                "type": "string"
              },
              {
                "id": "f7",
                "name": "emp_cnpj_raiz",
                "value": "={{ $json.emp_cnpj_raiz }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1360,
          816
        ],
        "id": "e06cc115-cf99-4a51-bf72-14196e95b526",
        "name": "Normaliza Empresa"
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "emp_cod_integra",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1360,
          592
        ],
        "id": "c0b40c2c-b3e8-4b0e-8131-6fa37853be33",
        "name": "Une Empresas",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "tab_estilo_linha",
          "returnAll": true,
          "filters": {
            "conditions": [
              {
                "keyName": "estilo_ativo_sn",
                "condition": "eq",
                "keyValue": "S"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          800,
          336
        ],
        "id": "22dc145b-dfb2-417f-816b-e65c29f536a5",
        "name": "Busca Estilo Linha",
        "credentials": {
          "supabaseApi": {
            "id": "XZF8BL3CGNL9YXQR",
            "name": "Supa Sancal DRE"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f8",
                "name": "estilo_linha_id",
                "value": "={{ $json.id }}",
                "type": "number"
              },
              {
                "id": "f9",
                "name": "est_tipg_tela",
                "value": "={{ $json.est_tipg_tela }}",
                "type": "string"
              },
              {
                "id": "f10",
                "name": "est_nivel_ident",
                "value": "={{ $json.est_nivel_ident }}",
                "type": "string"
              },
              {
                "id": "f11",
                "name": "est_fdo_tela",
                "value": "={{ $json.est_fdo_tela }}",
                "type": "string"
              },
              {
                "id": "f12",
                "name": "est_txt_tela",
                "value": "={{ $json.est_txt_tela }}",
                "type": "string"
              },
              {
                "id": "f13",
                "name": "est_alin_tela",
                "value": "={{ $json.est_alin_tela }}",
                "type": "string"
              },
              {
                "id": "f14",
                "name": "est_opac_tela",
                "value": "={{ $json.est_opac_tela }}",
                "type": "number"
              },
              {
                "id": "f15",
                "name": "est_tipg_doc",
                "value": "={{ $json.est_tipg_doc }}",
                "type": "string"
              },
              {
                "id": "f16",
                "name": "est_fdo_doc",
                "value": "={{ $json.est_fdo_doc }}",
                "type": "string"
              },
              {
                "id": "f17",
                "name": "est_txt_doc",
                "value": "={{ $json.est_txt_doc }}",
                "type": "string"
              },
              {
                "id": "f18",
                "name": "est_alin_doc",
                "value": "={{ $json.est_alin_doc }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1200,
          336
        ],
        "id": "b82ad6ee-9e0a-4f35-ac67-283e4c2b613e",
        "name": "Normaliza Estilo"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "viw_visao_detalhe",
          "returnAll": true,
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $('Edit Fields').item.json.visao_id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          784,
          112
        ],
        "id": "df86b43f-d2d6-4e3a-8adf-f19e1cc5bc17",
        "name": "Busca Visao",
        "credentials": {
          "supabaseApi": {
            "id": "XZF8BL3CGNL9YXQR",
            "name": "Supa Sancal DRE"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f19",
                "name": "visao_id",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "f20",
                "name": "tipo_visao_id",
                "value": "={{ $json.tipo_visao_id }}",
                "type": "number"
              },
              {
                "id": "f21",
                "name": "tp_vis_nome",
                "value": "={{ $json.tpvis_nome }}",
                "type": "string"
              },
              {
                "id": "f22",
                "name": "cliente_id",
                "value": "={{ $json.cliente_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          992,
          112
        ],
        "id": "c330c2c5-8ba9-425a-b39f-db0542dd715e",
        "name": "Normaliza Visao"
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "estilo_linha_id",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1536,
          352
        ],
        "id": "0b049296-53b7-4074-a8cf-be52a2e003b5",
        "name": "Une Estilo Linha"
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "visao_id",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1488,
          128
        ],
        "id": "29378e91-1c87-4758-9a80-e66c6996987d",
        "name": "Une Visao"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "g1",
                "name": "visao_id",
                "value": "={{ $json.visao_id }}",
                "type": "string"
              },
              {
                "id": "g2",
                "name": "cliente_id",
                "value": "={{ $json.cliente_id }}",
                "type": "string"
              },
              {
                "id": "g3",
                "name": "emp_cod_integra",
                "value": "={{ $json.emp_cod_integra }}",
                "type": "string"
              },
              {
                "id": "g4",
                "name": "crg_periodo",
                "value": "={{ $json.crg_periodo }}",
                "type": "number"
              },
              {
                "id": "g5",
                "name": "estilo_linha_id",
                "value": "={{ $json.estilo_linha_id }}",
                "type": "number"
              },
              {
                "id": "g6",
                "name": "dre_linha_visivel",
                "value": "={{ $json.dre_linha_visivel }}",
                "type": "string"
              },
              {
                "id": "g7",
                "name": "dre_linha_valor",
                "value": "={{ $json.dre_linha_valor }}",
                "type": "string"
              },
              {
                "id": "g8",
                "name": "dre_linha_seq",
                "value": "={{ $json.dre_linha_seq }}",
                "type": "number"
              },
              {
                "id": "g9",
                "name": "dre_linha_descri",
                "value": "={{ $json.dre_linha_descri }}",
                "type": "string"
              },
              {
                "id": "g10",
                "name": "conta_janeiro",
                "value": "={{ $json.conta_janeiro }}",
                "type": "number"
              },
              {
                "id": "g11",
                "name": "conta_fevereiro",
                "value": "={{ $json.conta_fevereiro }}",
                "type": "number"
              },
              {
                "id": "g12",
                "name": "conta_marco",
                "value": "={{ $json.conta_marco }}",
                "type": "number"
              },
              {
                "id": "g13",
                "name": "conta_abril",
                "value": "={{ $json.conta_abril }}",
                "type": "number"
              },
              {
                "id": "g14",
                "name": "conta_maio",
                "value": "={{ $json.conta_maio }}",
                "type": "number"
              },
              {
                "id": "g15",
                "name": "conta_junho",
                "value": "={{ $json.conta_junho }}",
                "type": "number"
              },
              {
                "id": "g16",
                "name": "conta_julho",
                "value": "={{ $json.conta_julho }}",
                "type": "number"
              },
              {
                "id": "g17",
                "name": "conta_agosto",
                "value": "={{ $json.conta_agosto }}",
                "type": "number"
              },
              {
                "id": "g18",
                "name": "conta_setembro",
                "value": "={{ $json.conta_setembro }}",
                "type": "number"
              },
              {
                "id": "g19",
                "name": "conta_outubro",
                "value": "={{ $json.conta_outubro }}",
                "type": "number"
              },
              {
                "id": "g20",
                "name": "conta_novembro",
                "value": "={{ $json.conta_novembro }}",
                "type": "number"
              },
              {
                "id": "g21",
                "name": "conta_dezembro",
                "value": "={{ $json.conta_dezembro }}",
                "type": "number"
              },
              {
                "id": "g22",
                "name": "conta_acumulado",
                "value": "={{ $json.conta_acumulado }}",
                "type": "number"
              },
              {
                "id": "g23",
                "name": "conta_perc",
                "value": "={{ $json.conta_perc }}",
                "type": "number"
              },
              {
                "id": "g24",
                "name": "perc_ref",
                "value": "={{ $json.perc_ref }}",
                "type": "string"
              },
              {
                "id": "g25",
                "name": "est_nivel_ident",
                "value": "={{ $json.est_nivel_ident }}",
                "type": "string"
              },
              {
                "id": "g26",
                "name": "est_tipg_tela",
                "value": "={{ $json.est_tipg_tela }}",
                "type": "string"
              },
              {
                "id": "g27",
                "name": "emp_cnpj_raiz",
                "value": "={{ $json.emp_cnpj_raiz }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1776,
          128
        ],
        "id": "80d19fde-9319-4253-9a26-96efdf48ab1b",
        "name": "Normaliza DRE"
      },
      {
        "parameters": {
          "jsCode": "const grouped = {};\nfor (const item of $input.all()) {\n  const cnpj = item.json.emp_cnpj_raiz || '';\n  const key = `${item.json.dre_linha_seq}_${item.json.dre_linha_descri}_${cnpj}`;\n  if (!grouped[key]) {\n    grouped[key] = {\n      visao_id: item.json.visao_id,\n      cliente_id: item.json.cliente_id,\n      crg_periodo: item.json.crg_periodo,\n      dre_linha_seq: item.json.dre_linha_seq,\n      dre_linha_descri: item.json.dre_linha_descri,\n      dre_linha_visivel: item.json.dre_linha_visivel,\n      dre_linha_valor: item.json.dre_linha_valor,\n      estilo_linha_id: item.json.estilo_linha_id,\n      est_nivel_ident: item.json.est_nivel_ident,\n      est_tipg_tela: item.json.est_tipg_tela,\n      perc_ref: item.json.perc_ref,\n      cnpj_raiz: cnpj,\n      conta_janeiro:0,conta_fevereiro:0,conta_marco:0,conta_abril:0,\n      conta_maio:0,conta_junho:0,conta_julho:0,conta_agosto:0,\n      conta_setembro:0,conta_outubro:0,conta_novembro:0,conta_dezembro:0,\n      conta_acumulado:0\n    };\n  }\n  if (item.json.perc_ref !== '#L%%') {\n    grouped[key].conta_janeiro   += item.json.conta_janeiro   || 0;\n    grouped[key].conta_fevereiro += item.json.conta_fevereiro || 0;\n    grouped[key].conta_marco     += item.json.conta_marco     || 0;\n    grouped[key].conta_abril     += item.json.conta_abril     || 0;\n    grouped[key].conta_maio      += item.json.conta_maio      || 0;\n    grouped[key].conta_junho     += item.json.conta_junho     || 0;\n    grouped[key].conta_julho     += item.json.conta_julho     || 0;\n    grouped[key].conta_agosto    += item.json.conta_agosto    || 0;\n    grouped[key].conta_setembro  += item.json.conta_setembro  || 0;\n    grouped[key].conta_outubro   += item.json.conta_outubro   || 0;\n    grouped[key].conta_novembro  += item.json.conta_novembro  || 0;\n    grouped[key].conta_dezembro  += item.json.conta_dezembro  || 0;\n    grouped[key].conta_acumulado += item.json.conta_acumulado || 0;\n  }\n}\nconst result = Object.values(grouped).sort((a,b) => {\n  if (a.dre_linha_seq !== b.dre_linha_seq) return a.dre_linha_seq - b.dre_linha_seq;\n  return a.cnpj_raiz.localeCompare(b.cnpj_raiz);\n});\nconst colunas = ['conta_janeiro','conta_fevereiro','conta_marco','conta_abril','conta_maio','conta_junho','conta_julho','conta_agosto','conta_setembro','conta_outubro','conta_novembro','conta_dezembro','conta_acumulado'];\nconst linhaMap = {};\nresult.forEach(item => { linhaMap[`${item.dre_linha_seq}_${item.cnpj_raiz}`] = item; });\nfunction parsePercFormula(formula) {\n  if (!formula || !formula.startsWith('PERC(')) return null;\n  const match = formula.match(/PERC\\(#L(\\d+)\\/#L(\\d+)\\)/);\n  if (!match) return null;\n  return { numerador: parseInt(match[1]), denominador: parseInt(match[2]) };\n}\nresult.forEach(item => {\n  if (item.perc_ref === '#L%%' && item.dre_linha_valor) {\n    const formula = parsePercFormula(item.dre_linha_valor);\n    if (formula) {\n      const num = linhaMap[`${formula.numerador}_${item.cnpj_raiz}`];\n      const den = linhaMap[`${formula.denominador}_${item.cnpj_raiz}`];\n      if (num && den && num.perc_ref !== '#L%%' && den.perc_ref !== '#L%%') {\n        colunas.forEach(col => { item[col] = den[col] === 0 ? 0 : (num[col]||0)/(den[col]||1)*100; });\n      }\n    }\n  }\n});\nresult.forEach(item => {\n  const percRef = item.perc_ref;\n  if (!percRef || percRef === '') { item.conta_perc = null; }\n  else if (percRef === '#L%') { item.conta_perc = 100; }\n  else if (percRef === '#L%%') { item.conta_perc = null; }\n  else if (percRef.startsWith('#L')) {\n    const refSeq = parseInt(percRef.replace('#L',''),10);\n    const linhaRef = linhaMap[`${refSeq}_${item.cnpj_raiz}`];\n    if (!linhaRef) { item.conta_perc = null; }\n    else if (linhaRef.conta_acumulado === 0) { item.conta_perc = 0; }\n    else { item.conta_perc = (item.conta_acumulado / linhaRef.conta_acumulado) * 100; }\n  } else { item.conta_perc = null; }\n  delete item.dre_linha_valor;\n});\nreturn result;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2032,
          128
        ],
        "id": "5db2a0bf-f486-4540-96ae-d9472f9fbcfd",
        "name": "Calcula Valores"
      },
      {
        "parameters": {
          "tableId": "dre_calc_filler_corp",
          "dataToSend": "autoMapInputData"
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1920,
          352
        ],
        "id": "bf4dab22-dcef-4bb4-83d4-a0ccfd41dd32",
        "name": "Grava Cálculo",
        "credentials": {
          "supabaseApi": {
            "id": "XZF8BL3CGNL9YXQR",
            "name": "Supa Sancal DRE"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "corp",
          "responseMode": "lastNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          512,
          128
        ],
        "id": "27e16e62-22fe-4e1f-b7ee-c8d5490925db",
        "name": "Webhook",
        "webhookId": "6ac022ca-2599-4fb7-ac62-cfe440484f8c"
      },
      {
        "parameters": {
          "operation": "delete",
          "tableId": "dre_calc_filler_corp",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "visao_id",
                "condition": "eq",
                "keyValue": "={{ $json.visao_id }}"
              },
              {
                "keyName": "crg_periodo",
                "condition": "gt",
                "keyValue": "={{  Math.trunc(($json.periodo/100)) }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          528,
          576
        ],
        "id": "f52c38a0-964b-4482-8ff2-c37ebd1bb41f",
        "name": "Delete a row",
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "XZF8BL3CGNL9YXQR",
            "name": "Supa Sancal DRE"
          }
        }
      }
    ],
    "connections": {
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Delete a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normaliza Param": {
        "main": [
          [
            {
              "node": "Busca DREs",
              "type": "main",
              "index": 0
            },
            {
              "node": "Busca Empresas",
              "type": "main",
              "index": 0
            },
            {
              "node": "Busca Estilo Linha",
              "type": "main",
              "index": 0
            },
            {
              "node": "Busca Visao",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca DREs": {
        "main": [
          [
            {
              "node": "Une Empresas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca Empresas": {
        "main": [
          [
            {
              "node": "Normaliza Empresa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normaliza Empresa": {
        "main": [
          [
            {
              "node": "Une Empresas",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Une Empresas": {
        "main": [
          [
            {
              "node": "Une Estilo Linha",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Busca Estilo Linha": {
        "main": [
          [
            {
              "node": "Normaliza Estilo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normaliza Estilo": {
        "main": [
          [
            {
              "node": "Une Estilo Linha",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Une Estilo Linha": {
        "main": [
          [
            {
              "node": "Une Visao",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Busca Visao": {
        "main": [
          [
            {
              "node": "Normaliza Visao",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normaliza Visao": {
        "main": [
          [
            {
              "node": "Une Visao",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Une Visao": {
        "main": [
          [
            {
              "node": "Normaliza DRE",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normaliza DRE": {
        "main": [
          [
            {
              "node": "Calcula Valores",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calcula Valores": {
        "main": [
          [
            {
              "node": "Grava Cálculo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete a row": {
        "main": [
          [
            {
              "node": "Normaliza Param",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Synapiens Development",
    "name": "Version 5ffca59e",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-26T21:19:13.705Z",
        "id": 11,
        "workflowId": "FbnUu5kap87klgrL",
        "versionId": "5ffca59e-af28-4d82-8c08-1c1649188c73",
        "event": "activated",
        "userId": "a3e10bf8-6240-4e87-9f09-99823d96b21a"
      },
      {
        "createdAt": "2026-04-26T21:19:21.944Z",
        "id": 12,
        "workflowId": "FbnUu5kap87klgrL",
        "versionId": "5ffca59e-af28-4d82-8c08-1c1649188c73",
        "event": "deactivated",
        "userId": "a3e10bf8-6240-4e87-9f09-99823d96b21a"
      },
      {
        "createdAt": "2026-04-26T21:19:22.138Z",
        "id": 13,
        "workflowId": "FbnUu5kap87klgrL",
        "versionId": "5ffca59e-af28-4d82-8c08-1c1649188c73",
        "event": "activated",
        "userId": "a3e10bf8-6240-4e87-9f09-99823d96b21a"
      }
    ]
  }
}