workflows/SANCAL_DRE_V0/110_Calcula_Corp_Filler_nao.json
{
  "updatedAt": "2026-05-12T01:11:20.493Z",
  "createdAt": "2026-04-25T07:37:29.596Z",
  "id": "SE2ao5nRrFIrtQgH",
  "name": "110 Calcula Corp Filler nao",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        464
      ],
      "id": "07580ed4-ba16-450f-a8dc-d5963c924825",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "query.id",
              "value": "e4267bff-0efe-47de-af32-e6d8dc9cb690",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "query.carga",
              "value": "202602",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        464
      ],
      "id": "1a561964-76ac-467a-9be3-5e47e8cdc4ef",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3",
              "name": "periodo",
              "value": "={{ $json.query.carga }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "visao_id",
              "value": "={{ $json.query.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        464
      ],
      "id": "424ad785-1b91-4da0-90d8-e69df29bd8d2",
      "name": "Normaliza Param"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "dre_calc_atual",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "crg_periodo",
              "condition": "eq",
              "keyValue": "={{ $json.periodo }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        464
      ],
      "id": "7a1ee3b5-e991-49b1-aac4-9b49f3156141",
      "name": "Busca DREs"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "viw_rel_visao_empresa",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "visao_id",
              "condition": "eq",
              "keyValue": "={{ $json.visao_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -16,
        704
      ],
      "id": "0f8deaaf-b201-4c5d-8daa-0a5ad418c7ef",
      "name": "Busca Empresas"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5",
              "name": "visao_id",
              "value": "={{ $json.visao_id }}",
              "type": "string"
            },
            {
              "id": "f6",
              "name": "emp_cod_integra",
              "value": "={{ $json.empresa_integra_id }}",
              "type": "string"
            },
            {
              "id": "f7",
              "name": "emp_cnpj_raiz",
              "value": "={{ $json.emp_cnpj_raiz }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        704
      ],
      "id": "967d066e-742b-4406-a383-ab464a47cfd6",
      "name": "Normaliza Empresa"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "emp_cod_integra",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        576,
        480
      ],
      "id": "afb73339-cf23-404b-90bb-bca31cac3590",
      "name": "Une Empresas",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "tab_estilo_linha",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "estilo_ativo_sn",
              "condition": "eq",
              "keyValue": "S"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        224
      ],
      "id": "63c92223-9f4f-4767-8249-68b3539fd482",
      "name": "Busca Estilo Linha"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8",
              "name": "estilo_linha_id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "f9",
              "name": "est_tipg_tela",
              "value": "={{ $json.est_tipg_tela }}",
              "type": "string"
            },
            {
              "id": "f10",
              "name": "est_nivel_ident",
              "value": "={{ $json.est_nivel_ident }}",
              "type": "string"
            },
            {
              "id": "f11",
              "name": "est_fdo_tela",
              "value": "={{ $json.est_fdo_tela }}",
              "type": "string"
            },
            {
              "id": "f12",
              "name": "est_txt_tela",
              "value": "={{ $json.est_txt_tela }}",
              "type": "string"
            },
            {
              "id": "f13",
              "name": "est_alin_tela",
              "value": "={{ $json.est_alin_tela }}",
              "type": "string"
            },
            {
              "id": "f14",
              "name": "est_opac_tela",
              "value": "={{ $json.est_opac_tela }}",
              "type": "number"
            },
            {
              "id": "f15",
              "name": "est_tipg_doc",
              "value": "={{ $json.est_tipg_doc }}",
              "type": "string"
            },
            {
              "id": "f16",
              "name": "est_fdo_doc",
              "value": "={{ $json.est_fdo_doc }}",
              "type": "string"
            },
            {
              "id": "f17",
              "name": "est_txt_doc",
              "value": "={{ $json.est_txt_doc }}",
              "type": "string"
            },
            {
              "id": "f18",
              "name": "est_alin_doc",
              "value": "={{ $json.est_alin_doc }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        224
      ],
      "id": "09540d88-e113-4e2b-ab84-11e87cf93063",
      "name": "Normaliza Estilo"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "viw_visao_detalhe",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.visao_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4f57af5f-f5db-44eb-bdda-0900136f8378",
      "name": "Busca Visao"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f19",
              "name": "visao_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f20",
              "name": "tipo_visao_id",
              "value": "={{ $json.tipo_visao_id }}",
              "type": "number"
            },
            {
              "id": "f21",
              "name": "tp_vis_nome",
              "value": "={{ $json.tpvis_nome }}",
              "type": "string"
            },
            {
              "id": "f22",
              "name": "cliente_id",
              "value": "={{ $json.cliente_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "421819d9-3b24-4c53-8e6c-8d455b075d6f",
      "name": "Normaliza Visao"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "estilo_linha_id",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        544,
        240
      ],
      "id": "6ef46e53-af48-4475-8ac6-b418450ddbc5",
      "name": "Une Estilo Linha"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "visao_id",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        496,
        16
      ],
      "id": "f5a2d360-439c-4f9e-9e1c-6591836df610",
      "name": "Une Visao"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "g1",
              "name": "visao_id",
              "value": "={{ $json.visao_id }}",
              "type": "string"
            },
            {
              "id": "g2",
              "name": "cliente_id",
              "value": "={{ $json.cliente_id }}",
              "type": "string"
            },
            {
              "id": "g3",
              "name": "emp_cod_integra",
              "value": "={{ $json.emp_cod_integra }}",
              "type": "string"
            },
            {
              "id": "g4",
              "name": "crg_periodo",
              "value": "={{ $json.crg_periodo }}",
              "type": "number"
            },
            {
              "id": "g5",
              "name": "estilo_linha_id",
              "value": "={{ $json.estilo_linha_id }}",
              "type": "number"
            },
            {
              "id": "g6",
              "name": "dre_linha_visivel",
              "value": "={{ $json.dre_linha_visivel }}",
              "type": "string"
            },
            {
              "id": "g7",
              "name": "dre_linha_valor",
              "value": "={{ $json.dre_linha_valor }}",
              "type": "string"
            },
            {
              "id": "g8",
              "name": "dre_linha_seq",
              "value": "={{ $json.dre_linha_seq }}",
              "type": "number"
            },
            {
              "id": "g9",
              "name": "dre_linha_descri",
              "value": "={{ $json.dre_linha_descri }}",
              "type": "string"
            },
            {
              "id": "g10",
              "name": "conta_janeiro",
              "value": "={{ $json.conta_janeiro }}",
              "type": "number"
            },
            {
              "id": "g11",
              "name": "conta_fevereiro",
              "value": "={{ $json.conta_fevereiro }}",
              "type": "number"
            },
            {
              "id": "g12",
              "name": "conta_marco",
              "value": "={{ $json.conta_marco }}",
              "type": "number"
            },
            {
              "id": "g13",
              "name": "conta_abril",
              "value": "={{ $json.conta_abril }}",
              "type": "number"
            },
            {
              "id": "g14",
              "name": "conta_maio",
              "value": "={{ $json.conta_maio }}",
              "type": "number"
            },
            {
              "id": "g15",
              "name": "conta_junho",
              "value": "={{ $json.conta_junho }}",
              "type": "number"
            },
            {
              "id": "g16",
              "name": "conta_julho",
              "value": "={{ $json.conta_julho }}",
              "type": "number"
            },
            {
              "id": "g17",
              "name": "conta_agosto",
              "value": "={{ $json.conta_agosto }}",
              "type": "number"
            },
            {
              "id": "g18",
              "name": "conta_setembro",
              "value": "={{ $json.conta_setembro }}",
              "type": "number"
            },
            {
              "id": "g19",
              "name": "conta_outubro",
              "value": "={{ $json.conta_outubro }}",
              "type": "number"
            },
            {
              "id": "g20",
              "name": "conta_novembro",
              "value": "={{ $json.conta_novembro }}",
              "type": "number"
            },
            {
              "id": "g21",
              "name": "conta_dezembro",
              "value": "={{ $json.conta_dezembro }}",
              "type": "number"
            },
            {
              "id": "g22",
              "name": "conta_acumulado",
              "value": "={{ $json.conta_acumulado }}",
              "type": "number"
            },
            {
              "id": "g23",
              "name": "conta_perc",
              "value": "={{ $json.conta_perc }}",
              "type": "number"
            },
            {
              "id": "g24",
              "name": "perc_ref",
              "value": "={{ $json.perc_ref }}",
              "type": "string"
            },
            {
              "id": "g25",
              "name": "est_nivel_ident",
              "value": "={{ $json.est_nivel_ident }}",
              "type": "string"
            },
            {
              "id": "g26",
              "name": "est_tipg_tela",
              "value": "={{ $json.est_tipg_tela }}",
              "type": "string"
            },
            {
              "id": "g27",
              "name": "emp_cnpj_raiz",
              "value": "={{ $json.emp_cnpj_raiz }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        16
      ],
      "id": "4494b91e-8dd1-4e0f-b784-df6387bb3267",
      "name": "Normaliza DRE"
    },
    {
      "parameters": {
        "jsCode": "const grouped = {};\nfor (const item of $input.all()) {\n  const cnpj = item.json.emp_cnpj_raiz || '';\n  const key = `${item.json.dre_linha_seq}_${item.json.dre_linha_descri}_${cnpj}`;\n  if (!grouped[key]) {\n    grouped[key] = {\n      visao_id: item.json.visao_id,\n      cliente_id: item.json.cliente_id,\n      crg_periodo: item.json.crg_periodo,\n      dre_linha_seq: item.json.dre_linha_seq,\n      dre_linha_descri: item.json.dre_linha_descri,\n      dre_linha_visivel: item.json.dre_linha_visivel,\n      dre_linha_valor: item.json.dre_linha_valor,\n      estilo_linha_id: item.json.estilo_linha_id,\n      est_nivel_ident: item.json.est_nivel_ident,\n      est_tipg_tela: item.json.est_tipg_tela,\n      perc_ref: item.json.perc_ref,\n      cnpj_raiz: cnpj,\n      conta_janeiro:0,conta_fevereiro:0,conta_marco:0,conta_abril:0,\n      conta_maio:0,conta_junho:0,conta_julho:0,conta_agosto:0,\n      conta_setembro:0,conta_outubro:0,conta_novembro:0,conta_dezembro:0,\n      conta_acumulado:0\n    };\n  }\n  if (item.json.perc_ref !== '#L%%') {\n    grouped[key].conta_janeiro   += item.json.conta_janeiro   || 0;\n    grouped[key].conta_fevereiro += item.json.conta_fevereiro || 0;\n    grouped[key].conta_marco     += item.json.conta_marco     || 0;\n    grouped[key].conta_abril     += item.json.conta_abril     || 0;\n    grouped[key].conta_maio      += item.json.conta_maio      || 0;\n    grouped[key].conta_junho     += item.json.conta_junho     || 0;\n    grouped[key].conta_julho     += item.json.conta_julho     || 0;\n    grouped[key].conta_agosto    += item.json.conta_agosto    || 0;\n    grouped[key].conta_setembro  += item.json.conta_setembro  || 0;\n    grouped[key].conta_outubro   += item.json.conta_outubro   || 0;\n    grouped[key].conta_novembro  += item.json.conta_novembro  || 0;\n    grouped[key].conta_dezembro  += item.json.conta_dezembro  || 0;\n    grouped[key].conta_acumulado += item.json.conta_acumulado || 0;\n  }\n}\nconst result = Object.values(grouped).sort((a,b) => {\n  if (a.dre_linha_seq !== b.dre_linha_seq) return a.dre_linha_seq - b.dre_linha_seq;\n  return a.cnpj_raiz.localeCompare(b.cnpj_raiz);\n});\nconst colunas = ['conta_janeiro','conta_fevereiro','conta_marco','conta_abril','conta_maio','conta_junho','conta_julho','conta_agosto','conta_setembro','conta_outubro','conta_novembro','conta_dezembro','conta_acumulado'];\nconst linhaMap = {};\nresult.forEach(item => { linhaMap[`${item.dre_linha_seq}_${item.cnpj_raiz}`] = item; });\nfunction parsePercFormula(formula) {\n  if (!formula || !formula.startsWith('PERC(')) return null;\n  const match = formula.match(/PERC\\(#L(\\d+)\\/#L(\\d+)\\)/);\n  if (!match) return null;\n  return { numerador: parseInt(match[1]), denominador: parseInt(match[2]) };\n}\nresult.forEach(item => {\n  if (item.perc_ref === '#L%%' && item.dre_linha_valor) {\n    const formula = parsePercFormula(item.dre_linha_valor);\n    if (formula) {\n      const num = linhaMap[`${formula.numerador}_${item.cnpj_raiz}`];\n      const den = linhaMap[`${formula.denominador}_${item.cnpj_raiz}`];\n      if (num && den && num.perc_ref !== '#L%%' && den.perc_ref !== '#L%%') {\n        colunas.forEach(col => { item[col] = den[col] === 0 ? 0 : (num[col]||0)/(den[col]||1)*100; });\n      }\n    }\n  }\n});\nresult.forEach(item => {\n  const percRef = item.perc_ref;\n  if (!percRef || percRef === '') { item.conta_perc = null; }\n  else if (percRef === '#L%') { item.conta_perc = 100; }\n  else if (percRef === '#L%%') { item.conta_perc = null; }\n  else if (percRef.startsWith('#L')) {\n    const refSeq = parseInt(percRef.replace('#L',''),10);\n    const linhaRef = linhaMap[`${refSeq}_${item.cnpj_raiz}`];\n    if (!linhaRef) { item.conta_perc = null; }\n    else if (linhaRef.conta_acumulado === 0) { item.conta_perc = 0; }\n    else { item.conta_perc = (item.conta_acumulado / linhaRef.conta_acumulado) * 100; }\n  } else { item.conta_perc = null; }\n  delete item.dre_linha_valor;\n});\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        16
      ],
      "id": "e6e2480d-e3e7-477c-892c-0c761cc64f18",
      "name": "Calcula Valores"
    },
    {
      "parameters": {
        "tableId": "dre_calc_filler_corp",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        928,
        240
      ],
      "id": "f5331cfa-ed02-4da1-bf55-28d8e26d83c0",
      "name": "Grava Cálculo"
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Normaliza Param",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza Param": {
      "main": [
        [
          {
            "node": "Busca DREs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca Empresas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca Estilo Linha",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca Visao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca DREs": {
      "main": [
        [
          {
            "node": "Une Empresas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Empresas": {
      "main": [
        [
          {
            "node": "Normaliza Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza Empresa": {
      "main": [
        [
          {
            "node": "Une Empresas",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Une Empresas": {
      "main": [
        [
          {
            "node": "Une Estilo Linha",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Busca Estilo Linha": {
      "main": [
        [
          {
            "node": "Normaliza Estilo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza Estilo": {
      "main": [
        [
          {
            "node": "Une Estilo Linha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Une Estilo Linha": {
      "main": [
        [
          {
            "node": "Une Visao",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Busca Visao": {
      "main": [
        [
          {
            "node": "Normaliza Visao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza Visao": {
      "main": [
        [
          {
            "node": "Une Visao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Une Visao": {
      "main": [
        [
          {
            "node": "Normaliza DRE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza DRE": {
      "main": [
        [
          {
            "node": "Calcula Valores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcula Valores": {
      "main": [
        [
          {
            "node": "Grava Cálculo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ded289c3-942c-492f-a1f7-f07b7a438c0a",
  "activeVersionId": null,
  "versionCounter": 4,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-25T07:37:29.596Z",
      "createdAt": "2026-04-25T07:37:29.596Z",
      "role": "workflow:owner",
      "workflowId": "SE2ao5nRrFIrtQgH",
      "projectId": "HDCZE4IUw9KS2WL1",
      "project": {
        "updatedAt": "2026-04-25T06:06:33.787Z",
        "createdAt": "2026-04-25T05:57:18.593Z",
        "id": "HDCZE4IUw9KS2WL1",
        "name": "Synapiens Development <synapiens@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a3e10bf8-6240-4e87-9f09-99823d96b21a"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-05-12T00:37:39.540Z",
      "createdAt": "2026-05-12T00:37:39.540Z",
      "id": "rf0POV5W2OD5ST1P",
      "name": "SANCAL DRE V0"
    }
  ],
  "activeVersion": null
}