workflows/SANCAL_DRE_V0/300_-_Busca_DRE.json
{
  "updatedAt": "2026-05-12T00:40:27.712Z",
  "createdAt": "2026-04-25T07:38:05.345Z",
  "id": "gglsR5ZdAfzaKNYw",
  "name": "300 - Busca DRE",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8f593dc-2c3e-4dae-ae54-10ed00d2744c",
              "name": "visao_id",
              "value": "={{ $json.visao_id }}",
              "type": "string"
            },
            {
              "id": "bb0b8770-baee-4b21-a299-bf527b38b857",
              "name": "cliente_id",
              "value": "={{ $json.cliente_id }}",
              "type": "string"
            },
            {
              "id": "3e9cfecb-5c1b-452a-b36f-5aacf843ecb4",
              "name": "emp_cod_integra",
              "value": "={{ $json.emp_cod_integra }}",
              "type": "string"
            },
            {
              "id": "08b4c906-f1cc-40ae-895f-3f3d982b9daf",
              "name": "crg_periodo",
              "value": "={{ $json.crg_periodo }}",
              "type": "number"
            },
            {
              "id": "b83e464b-a728-4907-b4e0-cf6179be4c79",
              "name": "estilo_linha_id",
              "value": "={{ $json.estilo_linha_id }}",
              "type": "number"
            },
            {
              "id": "ee08c595-352d-49f8-9a11-cfddbae46d9a",
              "name": "dre_linha_visivel",
              "value": "={{ $json.dre_linha_visivel }}",
              "type": "string"
            },
            {
              "id": "ee545e0a-a014-4b11-8f8e-3ec8e10405a9",
              "name": "dre_linha_valor",
              "value": "={{ $json.dre_linha_valor }}",
              "type": "string"
            },
            {
              "id": "b4d67d46-0a70-4c48-afb1-ff9f0adef8ff",
              "name": "dre_linha_seq",
              "value": "={{ $json.dre_linha_seq }}",
              "type": "number"
            },
            {
              "id": "60caae7d-7a77-4d69-b02a-385906d23295",
              "name": "dre_linha_descri",
              "value": "={{ $json.dre_linha_descri }}",
              "type": "string"
            },
            {
              "id": "4c620238-0659-4f28-8c8b-afa46d59e910",
              "name": "conta_janeiro",
              "value": "={{ $json.conta_janeiro }}",
              "type": "number"
            },
            {
              "id": "d4a8ebcb-c1b8-4705-a863-67fe63ae79d4",
              "name": "conta_fevereiro",
              "value": "={{ $json.conta_fevereiro }}",
              "type": "number"
            },
            {
              "id": "d5b52020-c85e-48de-870f-7e996b41c1a0",
              "name": "conta_marco",
              "value": "={{ $json.conta_marco }}",
              "type": "number"
            },
            {
              "id": "536bb1e5-a343-41d9-9446-6d4ea849bd0f",
              "name": "conta_abril",
              "value": "={{ $json.conta_abril }}",
              "type": "number"
            },
            {
              "id": "2b07dc2f-2b67-4d3e-85e0-bcaf499f4df6",
              "name": "conta_maio",
              "value": "={{ $json.conta_maio }}",
              "type": "number"
            },
            {
              "id": "6f778e5a-5ec5-4789-8881-1daed835e9f1",
              "name": "conta_junho",
              "value": "={{ $json.conta_junho }}",
              "type": "number"
            },
            {
              "id": "299b58e1-1e08-43e6-aca9-cbf405231e91",
              "name": "conta_julho",
              "value": "={{ $json.conta_julho }}",
              "type": "number"
            },
            {
              "id": "8f1d8b16-28ef-4d94-a0b4-af256e3f1a3b",
              "name": "conta_agosto",
              "value": "={{ $json.conta_agosto }}",
              "type": "number"
            },
            {
              "id": "4730321a-aa5b-414b-8e5e-aa3262a7ffd7",
              "name": "conta_setembro",
              "value": "={{ $json.conta_setembro }}",
              "type": "number"
            },
            {
              "id": "1b9b0ace-5bb6-46d3-be60-00097b4317d6",
              "name": "conta_outubro",
              "value": "={{ $json.conta_outubro }}",
              "type": "number"
            },
            {
              "id": "144aa9fd-8782-4671-9cd4-edb68ff293d5",
              "name": "conta_novembro",
              "value": "={{ $json.conta_novembro }}",
              "type": "number"
            },
            {
              "id": "ff3dca03-ebce-460c-937a-d66832a03e51",
              "name": "conta_dezembro",
              "value": "={{ $json.conta_dezembro }}",
              "type": "number"
            },
            {
              "id": "35c3755b-fbc9-4501-9584-bbe7bf6a0c6c",
              "name": "conta_acumulado",
              "value": "={{ $json.conta_acumulado }}",
              "type": "number"
            },
            {
              "id": "62683d5f-73ca-4985-8c89-cacaa148b17f",
              "name": "conta_perc",
              "value": "={{ $json.conta_perc }}",
              "type": "number"
            },
            {
              "id": "a7ab16cd-874e-46c6-8d7d-bd7be9eefc34",
              "name": "perc_ref",
              "value": "={{ $json.perc_ref }}",
              "type": "string"
            },
            {
              "id": "cd412726-ab3d-4af3-9788-664cea62f302",
              "name": "est_nivel_ident",
              "value": "={{ $json.est_nivel_ident }}",
              "type": "string"
            },
            {
              "id": "00e962cc-276f-477e-bfdf-ac5efc6457ce",
              "name": "est_tipg_tela",
              "value": "={{ $json.est_tipg_tela }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        688
      ],
      "id": "ba5fc76e-e128-4783-9fe8-94e3a06c6834",
      "name": "Normaliza DRE"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "emp_cod_integra",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        816,
        480
      ],
      "id": "325fb398-af15-4c90-b424-d366fea6e7e0",
      "name": "Une Empresas",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a95dbbe4-477e-4a7d-b4ca-0282b45d4b37",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "34276e42-5b0e-42f3-9568-9d32b941d21f",
              "name": "created_at",
              "value": "={{ $json.created_at }}",
              "type": "string"
            },
            {
              "id": "d9fb2cd6-5d40-4e56-9709-a386a906f105",
              "name": "empresa_id",
              "value": "={{ $json.empresa_id }}",
              "type": "string"
            },
            {
              "id": "d7f495d7-fb44-43fc-b1a7-8ef5d7016359",
              "name": "rel_vis_emp_atv_sn",
              "value": "={{ $json.rel_vis_emp_atv_sn }}",
              "type": "string"
            },
            {
              "id": "41dedd65-4dc0-4a96-ba44-5548a14fca6a",
              "name": "visao_id",
              "value": "={{ $json.visao_id }}",
              "type": "string"
            },
            {
              "id": "cd89b4f5-7d3a-43c4-acee-d0852774ddc8",
              "name": "emp_cod_integra",
              "value": "={{ $json.empresa_integra_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        496
      ],
      "id": "e82ecb95-c9d5-4ba4-b5ac-ba135411c117",
      "name": "Normaliza Empresa"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ee817d83-0cc3-4f93-9f09-b17c91c3bd48",
              "name": "periodo",
              "value": "={{ $json.query.carga }}",
              "type": "string"
            },
            {
              "id": "c421ac0e-39b6-44dd-9609-c0e3a892185f",
              "name": "visao_id",
              "value": "={{ $json.query.id }}",
              "type": "string"
            },
            {
              "id": "8e3ec6c8-f0f8-427d-9b88-ba7f4ce90d81",
              "name": "emp_id_integra",
              "value": "={{ $json.query.emp_id_integra }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        272
      ],
      "id": "3c32c7f4-ebb3-4597-9c8b-11d79a06c5c1",
      "name": "Normaliza Param"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "rel_visao_empresa",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "visao_id",
              "condition": "eq",
              "keyValue": "={{ $json.visao_id }}"
            },
            {
              "keyName": "empresa_integra_id",
              "condition": "eq",
              "keyValue": "={{ $json.emp_id_integra }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        496
      ],
      "id": "69574beb-bcfd-44bd-94f6-57f3f36b7d05",
      "name": "Busca Empresas"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "dre_calc_atual",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "crg_periodo",
              "condition": "eq",
              "keyValue": "={{ $json.periodo }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        864,
        272
      ],
      "id": "69234c68-c86e-43e8-b349-06a17d970bcc",
      "name": "Busca DREs"
    },
    {
      "parameters": {
        "path": "dre_busca_novo",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        400,
        272
      ],
      "id": "e50a3b53-0aed-42a3-89ec-63bf01c3c8bc",
      "name": "Webhook",
      "webhookId": "40873710-1668-4716-8a26-e0ffd43f1cd0"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1344,
        496
      ],
      "id": "ddbb59b9-d561-48b5-b70b-d89962971107",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Agrupa por linha da DRE\nconst grouped = {};\n\nfor (const item of $input.all()) {\n  const key = `${item.json.dre_linha_seq}_${item.json.dre_linha_descri}`;\n  \n  if (!grouped[key]) {\n    grouped[key] = {\n      visao_id: item.json.visao_id,\n      dre_linha_seq: item.json.dre_linha_seq,\n      dre_linha_descri: item.json.dre_linha_descri,\n      dre_linha_visivel: item.json.dre_linha_visivel,\n      dre_linha_valor: item.json.dre_linha_valor,\n      estilo_linha_id: item.json.estilo_linha_id,\n      conta_janeiro: 0,\n      conta_fevereiro: 0,\n      conta_marco: 0,\n      conta_abril: 0,\n      conta_maio: 0,\n      conta_junho: 0,\n      conta_julho: 0,\n      conta_agosto: 0,\n      conta_setembro: 0,\n      conta_outubro: 0,\n      conta_novembro: 0,\n      conta_dezembro: 0,\n      conta_acumulado: 0,\n      conta_perc_sum: 0,\n      count: 0\n    };\n  }\n  \n  // Soma todos os meses\n  grouped[key].conta_janeiro += item.json.conta_janeiro || 0;\n  grouped[key].conta_fevereiro += item.json.conta_fevereiro || 0;\n  grouped[key].conta_marco += item.json.conta_marco || 0;\n  grouped[key].conta_abril += item.json.conta_abril || 0;\n  grouped[key].conta_maio += item.json.conta_maio || 0;\n  grouped[key].conta_junho += item.json.conta_junho || 0;\n  grouped[key].conta_julho += item.json.conta_julho || 0;\n  grouped[key].conta_agosto += item.json.conta_agosto || 0;\n  grouped[key].conta_setembro += item.json.conta_setembro || 0;\n  grouped[key].conta_outubro += item.json.conta_outubro || 0;\n  grouped[key].conta_novembro += item.json.conta_novembro || 0;\n  grouped[key].conta_dezembro += item.json.conta_dezembro || 0;\n  grouped[key].conta_acumulado += item.json.conta_acumulado || 0;\n  grouped[key].conta_perc_sum += item.json.conta_perc * 100 || 0;\n  grouped[key].count++;\n}\n\n// Converte para array e calcula média do percentual\nconst result = Object.values(grouped).map(item => ({\n  ...item,\n  conta_perc: item.conta_perc_sum / item.count,\n  count: undefined,\n  conta_perc_sum: undefined\n})).sort((a, b) => a.dre_linha_seq - b.dre_linha_seq);\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "4f2802e1-ec53-427b-87d8-2e995fd9126c",
      "name": "Calcula Valores 00"
    },
    {
      "parameters": {
        "jsCode": "// Agrupa por linha da DRE\nconst grouped = {};\n\nfor (const item of $input.all()) {\n  const key = `${item.json.dre_linha_seq}_${item.json.dre_linha_descri}`;\n  \n  if (!grouped[key]) {\n    grouped[key] = {\n      visao_id: item.json.visao_id,\n      dre_linha_seq: item.json.dre_linha_seq,\n      dre_linha_descri: item.json.dre_linha_descri,\n      dre_linha_visivel: item.json.dre_linha_visivel,\n      dre_linha_valor: item.json.dre_linha_valor,\n      estilo_linha_id: item.json.estilo_linha_id,\n      perc_ref: item.json.perc_ref, // Preserva perc_ref\n      conta_janeiro: 0,\n      conta_fevereiro: 0,\n      conta_marco: 0,\n      conta_abril: 0,\n      conta_maio: 0,\n      conta_junho: 0,\n      conta_julho: 0,\n      conta_agosto: 0,\n      conta_setembro: 0,\n      conta_outubro: 0,\n      conta_novembro: 0,\n      conta_dezembro: 0,\n      conta_acumulado: 0\n    };\n  }\n  \n  // Soma todos os meses\n  grouped[key].conta_janeiro += item.json.conta_janeiro || 0;\n  grouped[key].conta_fevereiro += item.json.conta_fevereiro || 0;\n  grouped[key].conta_marco += item.json.conta_marco || 0;\n  grouped[key].conta_abril += item.json.conta_abril || 0;\n  grouped[key].conta_maio += item.json.conta_maio || 0;\n  grouped[key].conta_junho += item.json.conta_junho || 0;\n  grouped[key].conta_julho += item.json.conta_julho || 0;\n  grouped[key].conta_agosto += item.json.conta_agosto || 0;\n  grouped[key].conta_setembro += item.json.conta_setembro || 0;\n  grouped[key].conta_outubro += item.json.conta_outubro || 0;\n  grouped[key].conta_novembro += item.json.conta_novembro || 0;\n  grouped[key].conta_dezembro += item.json.conta_dezembro || 0;\n  grouped[key].conta_acumulado += item.json.conta_acumulado || 0;\n}\n\n// Converte para array\nconst result = Object.values(grouped).sort((a, b) => a.dre_linha_seq - b.dre_linha_seq);\n\n// Cria mapa de valores acumulados por sequência\nconst acumuladoMap = {};\nresult.forEach(item => {\n  acumuladoMap[item.dre_linha_seq] = item.conta_acumulado;\n});\n\n// Calcula conta_perc baseado em perc_ref\nresult.forEach(item => {\n  const percRef = item.perc_ref;\n  \n  if (!percRef || percRef === null || percRef === '') {\n    // null ou vazio → null\n    item.conta_perc = null;\n  } else if (percRef === '#L%') {\n    // Linha base → 100\n    item.conta_perc = 100;\n  } else if (percRef === '#L%%') {\n    // Não calcula → null\n    item.conta_perc = null;\n  } else if (percRef.startsWith('#L')) {\n    // Extrai número da linha de referência\n    const refSeq = parseInt(percRef.replace('#L', ''));\n    const valorRef = acumuladoMap[refSeq];\n    \n    if (valorRef === undefined) {\n      // Linha não existe → null\n      item.conta_perc = null;\n    } else if (valorRef === 0) {\n      // Divisão por zero → 0\n      item.conta_perc = 0;\n    } else {\n      // Calcula percentual\n      item.conta_perc = (item.conta_acumulado / valorRef) * 100;\n    }\n  } else {\n    // Formato desconhecido → null\n    item.conta_perc = null;\n  }\n  \n  // Remove perc_ref do output final (opcional, remova esta linha se quiser manter)\n  delete item.perc_ref;\n});\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        144
      ],
      "id": "4986f886-c830-4e05-a2f0-36eb8ad41ce0",
      "name": "Calcula Valores 01"
    },
    {
      "parameters": {
        "jsCode": "// Agrupa por linha da DRE\nconst grouped = {};\n\nfor (const item of $input.all()) {\n  const key = `${item.json.dre_linha_seq}_${item.json.dre_linha_descri}`;\n  \n  if (!grouped[key]) {\n    grouped[key] = {\n      visao_id: item.json.visao_id,\n      dre_linha_seq: item.json.dre_linha_seq,\n      dre_linha_descri: item.json.dre_linha_descri,\n      dre_linha_visivel: item.json.dre_linha_visivel,\n      dre_linha_valor: item.json.dre_linha_valor,\n      estilo_linha_id: item.json.estilo_linha_id,\n      est_nivel_ident: item.json.est_nivel_ident,\n      est_tipg_tela: item.json.est_tipg_tela,\n      perc_ref: item.json.perc_ref,\n      conta_janeiro: 0,\n      conta_fevereiro: 0,\n      conta_marco: 0,\n      conta_abril: 0,\n      conta_maio: 0,\n      conta_junho: 0,\n      conta_julho: 0,\n      conta_agosto: 0,\n      conta_setembro: 0,\n      conta_outubro: 0,\n      conta_novembro: 0,\n      conta_dezembro: 0,\n      conta_acumulado: 0\n    };\n  }\n  \n  // Soma todos os meses APENAS se não for #L%%\n  if (item.json.perc_ref !== '#L%%') {\n    grouped[key].conta_janeiro += item.json.conta_janeiro || 0;\n    grouped[key].conta_fevereiro += item.json.conta_fevereiro || 0;\n    grouped[key].conta_marco += item.json.conta_marco || 0;\n    grouped[key].conta_abril += item.json.conta_abril || 0;\n    grouped[key].conta_maio += item.json.conta_maio || 0;\n    grouped[key].conta_junho += item.json.conta_junho || 0;\n    grouped[key].conta_julho += item.json.conta_julho || 0;\n    grouped[key].conta_agosto += item.json.conta_agosto || 0;\n    grouped[key].conta_setembro += item.json.conta_setembro || 0;\n    grouped[key].conta_outubro += item.json.conta_outubro || 0;\n    grouped[key].conta_novembro += item.json.conta_novembro || 0;\n    grouped[key].conta_dezembro += item.json.conta_dezembro || 0;\n    grouped[key].conta_acumulado += item.json.conta_acumulado || 0;\n  }\n}\n\n// Converte para array e ordena\nconst result = Object.values(grouped).sort((a, b) => a.dre_linha_seq - b.dre_linha_seq);\n\n// Cria mapa de linhas por sequência (com objetos completos)\nconst linhaMap = {};\nresult.forEach(item => {\n  linhaMap[item.dre_linha_seq] = item;\n});\n\n// Lista de colunas (meses + acumulado)\nconst colunas = [\n  'conta_janeiro', 'conta_fevereiro', 'conta_marco', 'conta_abril',\n  'conta_maio', 'conta_junho', 'conta_julho', 'conta_agosto',\n  'conta_setembro', 'conta_outubro', 'conta_novembro', 'conta_dezembro',\n  'conta_acumulado'\n];\n\n// Função para parsear fórmula PERC(#LX/#LY)\nfunction parsePercFormula(formula) {\n  if (!formula || !formula.startsWith('PERC(')) return null;\n  \n  const match = formula.match(/PERC\\(#L(\\d+)\\/#L(\\d+)\\)/);\n  if (!match) return null;\n  \n  return {\n    numerador: parseInt(match[1]),\n    denominador: parseInt(match[2])\n  };\n}\n\n// Função para calcular percentual com proteção\nfunction calcularPercentual(numerador, denominador) {\n  if (denominador === 0) return 0;\n  return (numerador / denominador) * 100;\n}\n\n// ========================================\n// ETAPA 1: Calcula valores de linhas #L%%\n// ========================================\nresult.forEach(item => {\n  if (item.perc_ref === '#L%%' && item.dre_linha_valor) {\n    const formula = parsePercFormula(item.dre_linha_valor);\n    \n    if (formula) {\n      const linhaNumerador = linhaMap[formula.numerador];\n      const linhaDenominador = linhaMap[formula.denominador];\n      \n      // Verifica se ambas as linhas existem E não são #L%%\n      if (linhaNumerador && linhaDenominador && \n          linhaNumerador.perc_ref !== '#L%%' && \n          linhaDenominador.perc_ref !== '#L%%') {\n        \n        // Calcula percentual para cada coluna\n        colunas.forEach(coluna => {\n          const valorNum = linhaNumerador[coluna] || 0;\n          const valorDen = linhaDenominador[coluna] || 0;\n          item[coluna] = calcularPercentual(valorNum, valorDen);\n        });\n      }\n    }\n  }\n});\n\n// ========================================\n// ETAPA 2: Calcula conta_perc\n// ========================================\nresult.forEach(item => {\n  const percRef = item.perc_ref;\n  \n  if (!percRef || percRef === null || percRef === '') {\n    item.conta_perc = null;\n  } else if (percRef === '#L%') {\n    item.conta_perc = 100;\n  } else if (percRef === '#L%%') {\n    // Para linhas calculadas, conta_perc pode ser null ou o acumulado\n    item.conta_perc = null;\n  } else if (percRef.startsWith('#L')) {\n    const refSeq = parseInt(percRef.replace('#L', ''));\n    const linhaRef = linhaMap[refSeq];\n    \n    if (!linhaRef) {\n      item.conta_perc = null;\n    } else if (linhaRef.conta_acumulado === 0) {\n      item.conta_perc = 0;\n    } else {\n      item.conta_perc = (item.conta_acumulado / linhaRef.conta_acumulado) * 100;\n    }\n  } else {\n    item.conta_perc = null;\n  }\n  \n  // Remove campos auxiliares\n  delete item.perc_ref;\n  delete item.dre_linha_valor;\n});\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        688
      ],
      "id": "2d4b2262-535e-42d8-8684-9e327280d472",
      "name": "Calcula Valores "
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "tab_estilo_linha",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "estilo_ativo_sn",
              "condition": "eq",
              "keyValue": "S"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        384,
        688
      ],
      "id": "e8a5cf3d-1eba-4bc9-acbe-eab7cb04c45d",
      "name": "Busca Estilo Linha"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "estilo_linha_id",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        832,
        672
      ],
      "id": "e5a484fa-e02c-4fbf-93d8-3b1278aa3da8",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "922b6f99-6b65-4790-a987-21f1bf84f4eb",
              "name": "estilo_linha_id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "f281f65c-84d3-4c75-af68-24907fa5dbfd",
              "name": "estilo_nome",
              "value": "={{ $json.estilo_nome }}",
              "type": "string"
            },
            {
              "id": "ae3454de-5bb8-4da4-aa63-72b32e89f985",
              "name": "estilo_ativo_sn",
              "value": "={{ $json.estilo_ativo_sn }}",
              "type": "string"
            },
            {
              "id": "22c19af6-c2d7-46e6-8e05-9d29a95ad8d8",
              "name": "est_tipg_tela",
              "value": "={{ $json.est_tipg_tela }}",
              "type": "string"
            },
            {
              "id": "33350fb5-9851-47b4-b684-b66972722314",
              "name": "est_tipg_doc",
              "value": "={{ $json.est_tipg_doc }}",
              "type": "string"
            },
            {
              "id": "0c668051-2ea4-4098-862a-52928c4908a1",
              "name": "est_fdo_tela",
              "value": "={{ $json.est_fdo_tela }}",
              "type": "string"
            },
            {
              "id": "988bd32f-9504-416a-b13f-56b1227d7867",
              "name": "est_fdo_doc",
              "value": "={{ $json.est_fdo_doc }}",
              "type": "string"
            },
            {
              "id": "13fded61-a845-4312-b1ff-0bc0132b0cd2",
              "name": "est_opac_tela",
              "value": "={{ $json.est_opac_tela }}",
              "type": "number"
            },
            {
              "id": "4735fe04-8f17-4290-9e55-e1341413dbfe",
              "name": "est_alin_tela",
              "value": "={{ $json.est_alin_tela }}",
              "type": "string"
            },
            {
              "id": "0ac317a6-f697-4c99-bb76-458da0dde29d",
              "name": "est_alin_doc",
              "value": "={{ $json.est_alin_doc }}",
              "type": "string"
            },
            {
              "id": "7bb4065a-74c1-4795-8ae9-12900a9b882d",
              "name": "est_nivel_ident",
              "value": "={{ $json.est_nivel_ident }}",
              "type": "string"
            },
            {
              "id": "3b9dd27b-17d6-4cb6-aaaf-8d742603bb02",
              "name": "est_txt_tela",
              "value": "={{ $json.est_txt_tela }}",
              "type": "string"
            },
            {
              "id": "7535ff61-0392-41e5-b6cf-bf4fb8571ae7",
              "name": "est_txt_doc",
              "value": "={{ $json.est_txt_doc }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        688
      ],
      "id": "fcf7a7d3-c139-4b38-a0d9-80b7fe58762e",
      "name": "Normaliza Estilo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a9860903-b189-4949-abb7-e04843234ffd",
              "leftValue": "={{ $json.cliente_id }}",
              "rightValue": "=54c506f0-d07e-4335-9071-8f2fa6d88309",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "aa418680-7f41-43f4-a52e-8ccd73a6ffee",
              "leftValue": "={{ $json.visao_id }}",
              "rightValue": "e4267bff-0efe-47de-af32-e6d8dc9cb690",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1088,
        672
      ],
      "id": "13c6bdc3-c6c1-48c1-9aa6-843340f60179",
      "name": "If"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "visao_id"
            },
            {
              "fieldToAggregate": "cliente_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1088,
        464
      ],
      "id": "d6fcffa9-2874-4299-829b-e298c96e54ee",
      "name": "Aggregate",
      "alwaysOutputData": false,
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "viw_corp_filler",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "visao_id",
              "condition": "eq",
              "keyValue": "={{ $json.visao_id[0] }}"
            },
            {
              "keyName": "crg_periodo",
              "condition": "eq",
              "keyValue": "={{ $('Normaliza Param').item.json.periodo }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1104,
        272
      ],
      "id": "685d312d-c611-4854-b751-6b99ffc8056b",
      "name": "Busca Corp Filler"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42e9a39e-5221-476f-a671-d0fe9fa5a2e2",
              "name": "visao_id",
              "value": "={{ $json.visao_id }}",
              "type": "string"
            },
            {
              "id": "29262998-c846-498c-a7dd-1779f3504c8c",
              "name": "dre_linha_seq",
              "value": "={{ $json.linha_seq_corp }}",
              "type": "number"
            },
            {
              "id": "5723a79c-0e3e-4285-9361-bf8752ebef0c",
              "name": "dre_linha_descri",
              "value": "={{ $json.dre_linha_descri }}",
              "type": "string"
            },
            {
              "id": "12ec943f-b83e-469e-b2a8-b4feb69f4ff2",
              "name": "dre_linha_visivel",
              "value": "={{ $json.dre_linha_visivel }}",
              "type": "string"
            },
            {
              "id": "3fc672f3-e9ba-4968-9cf4-b6bce4dbb6c8",
              "name": "estilo_linha_id",
              "value": "={{ $json.estilo_linha_id }}",
              "type": "number"
            },
            {
              "id": "ff7e6926-70ea-48ca-b4b5-ff5fd22c92fa",
              "name": "est_nivel_ident",
              "value": "={{ $json.est_nivel_ident }}",
              "type": "string"
            },
            {
              "id": "cf970e28-540f-408b-a162-209e39fe3d7d",
              "name": "est_tipg_tela",
              "value": "={{ $json.est_tipg_tela }}",
              "type": "string"
            },
            {
              "id": "335f0bc1-6385-4169-97f9-b53c631b508e",
              "name": "conta_janeiro",
              "value": "={{ $json.conta_janeiro }}",
              "type": "number"
            },
            {
              "id": "8d937a2a-1efc-4dcb-a10f-4b6b25fa1691",
              "name": "conta_fevereiro",
              "value": "={{ $json.conta_fevereiro }}",
              "type": "number"
            },
            {
              "id": "a6e6d409-00cd-4b36-ba0c-4e6c3e46b162",
              "name": "conta_marco",
              "value": "={{ $json.conta_marco }}",
              "type": "number"
            },
            {
              "id": "151fb7a5-86a5-4ae0-a9d6-daeb8161d180",
              "name": "conta_abril",
              "value": "={{ $json.conta_abril }}",
              "type": "number"
            },
            {
              "id": "61191f54-df84-4ff0-bd26-e63f52b92c2a",
              "name": "conta_maio",
              "value": "={{ $json.conta_maio }}",
              "type": "number"
            },
            {
              "id": "cef27156-3b28-40b3-8d66-91d0cd823fc5",
              "name": "conta_junho",
              "value": "={{ $json.conta_junho }}",
              "type": "number"
            },
            {
              "id": "630c5d7f-0321-4167-b8c7-cb581b61a85f",
              "name": "conta_julho",
              "value": "={{ $json.conta_julho }}",
              "type": "number"
            },
            {
              "id": "d48c8155-31cd-46e0-87c1-7903c4357331",
              "name": "conta_agosto",
              "value": "={{ $json.conta_agosto }}",
              "type": "number"
            },
            {
              "id": "0393b8ea-f8a6-4b38-9bd1-7aabaea5980d",
              "name": "conta_setembro",
              "value": "={{ $json.conta_setembro }}",
              "type": "number"
            },
            {
              "id": "d7352d3b-f3ba-4946-9f7b-ccd102d82419",
              "name": "conta_outubro",
              "value": "={{ $json.conta_outubro }}",
              "type": "number"
            },
            {
              "id": "70a82607-4f96-4f84-8583-fc6052b75ccc",
              "name": "conta_novembro",
              "value": "={{ $json.conta_novembro }}",
              "type": "number"
            },
            {
              "id": "536608c7-d173-48ae-95f3-4985b6a29c9d",
              "name": "conta_dezembro",
              "value": "={{ $json.conta_dezembro }}",
              "type": "number"
            },
            {
              "id": "18a5c542-5244-4647-9ab9-144d920fa77e",
              "name": "conta_acumulado",
              "value": "={{ $json.conta_acumulado }}",
              "type": "number"
            },
            {
              "id": "11e44fd2-e9c3-4c49-b095-58d7163c217f",
              "name": "conta_perc",
              "value": "={{ $json.conta_perc }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        272
      ],
      "id": "b4f3f56e-6a4b-4c7d-a5ef-4c99fa49eb24",
      "name": "Normaliza Corp"
    }
  ],
  "connections": {
    "Une Empresas": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza Empresa": {
      "main": [
        [
          {
            "node": "Une Empresas",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Normaliza Param": {
      "main": [
        [
          {
            "node": "Busca Empresas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca DREs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca Estilo Linha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Empresas": {
      "main": [
        [
          {
            "node": "Normaliza Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca DREs": {
      "main": [
        [
          {
            "node": "Une Empresas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza DRE": {
      "main": [
        [
          {
            "node": "Calcula Valores ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Normaliza Param",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcula Valores ": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Estilo Linha": {
      "main": [
        [
          {
            "node": "Normaliza Estilo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza Estilo": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normaliza DRE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Busca Corp Filler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Corp Filler": {
      "main": [
        [
          {
            "node": "Normaliza Corp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza Corp": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "2b7e6097-84da-48d6-bbf6-2a6d06ea0096",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-25T07:38:05.345Z",
      "createdAt": "2026-04-25T07:38:05.345Z",
      "role": "workflow:owner",
      "workflowId": "gglsR5ZdAfzaKNYw",
      "projectId": "HDCZE4IUw9KS2WL1",
      "project": {
        "updatedAt": "2026-04-25T06:06:33.787Z",
        "createdAt": "2026-04-25T05:57:18.593Z",
        "id": "HDCZE4IUw9KS2WL1",
        "name": "Synapiens Development <synapiens@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a3e10bf8-6240-4e87-9f09-99823d96b21a"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-05-12T00:37:39.540Z",
      "createdAt": "2026-05-12T00:37:39.540Z",
      "id": "rf0POV5W2OD5ST1P",
      "name": "SANCAL DRE V0"
    }
  ],
  "activeVersion": null
}