workflows/SANCAL_DRE_V0/900-150_Carga_movto_contabil.json
{
  "updatedAt": "2026-05-12T00:37:58.074Z",
  "createdAt": "2026-04-25T07:36:32.551Z",
  "id": "XaE4pLsYkqyaxKLE",
  "name": "900-150 / Carga movto contabil",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Setup obrigatório\n\n**Credencial Supabase API**\nSettings > Credentials > Add > Supabase API\n- Host: https://oezifbbcnqfpjakyrohh.supabase.co\n- Service Role Secret: sua service_role key\n\nVincule nos nós:\n- Download CSV do Storage\n- Upsert no Supabase\n\n**Payload do webhook (POST):**\n{\n  file_path: <caminho no bucket, ex: uuid/empresa/arquivo.csv>,\n  table: minha_tabela,\n  on_conflict: id\n}",
        "height": 340,
        "width": 500,
        "color": 4
      },
      "id": "def60419-b975-4607-ab6e-42d2573411a4",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -608,
        384
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "movto_upsert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bd50a7a7-c200-42b7-985c-0cf3abca46cd",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -224,
        176
      ],
      "webhookId": "4e242846-ba41-4e02-b7c9-1b1ee88c27f4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2",
              "name": "file_path",
              "value": "={{ $json.body.file_path }}",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "table",
              "value": "={{ $json.body.table }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "on_conflict",
              "value": "={{ $json.on_conflict ?? 'id' }}",
              "type": "string"
            },
            {
              "id": "38b5ab89-c551-4c39-b29a-796716494d0c",
              "name": "body.cliente_id",
              "value": "={{ $json.body.cliente_id }}",
              "type": "string"
            },
            {
              "id": "1d1c89fb-b42c-426a-b953-4c1e24abd355",
              "name": "body.cliente_id",
              "value": "={{ $json.body.cliente_id }}",
              "type": "string"
            },
            {
              "id": "3335be4d-fd54-4b62-b452-fc017a69e9bf",
              "name": "body.emp_cod_integra",
              "value": "={{ $json.body.emp_cod_integra }}",
              "type": "string"
            },
            {
              "id": "8e85a917-1a9a-4464-ae87-570de3ab9e41",
              "name": "body.cnpj_emp",
              "value": "={{ $json.body.cnpj_emp }}",
              "type": "string"
            },
            {
              "id": "ff935aac-c53b-4ade-a31b-4cf175351e15",
              "name": "body.crg_emp_periodo_ano",
              "value": "={{ $json.body.crg_emp_periodo_ano }}",
              "type": "number"
            },
            {
              "id": "64acb39a-7b2c-4b81-8561-251ee118c4e1",
              "name": "body.crg_emp_periodo_mes",
              "value": "={{ $json.body.crg_emp_periodo_mes }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "e4631259-c851-4aa6-8750-6ff1740181bc",
      "name": "Set Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        176
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://oezifbbcnqfpjakyrohh.supabase.co/storage/v1/object/movto_upload/' + $json.file_path }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "csvFile"
            }
          }
        }
      },
      "id": "d5f66f77-5b2e-46b5-8448-2aad9606c9db",
      "name": "Download CSV do Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        176
      ],
      "credentials": {
        "supabaseApi": {
          "id": "XZF8BL3CGNL9YXQR",
          "name": "Supa Sancal DRE"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  (() => {\n    try {\n      const http = $('HTTP Request').first().json;\n\n      if (http.error || http.code) {\n        return {\n          success: false,\n          message: 'Erro ao gravar no Supabase.',\n          error: http.message || http.error || JSON.stringify(http)\n        };\n      }\n\n      const total = $('Parse HTTP').first().json.total;\n\n      return {\n        success: true,\n        message: `Gravação concluída com sucesso. ${total} registros gravados.`,\n        records_upserted: total\n      };\n\n    } catch (e) {\n      return {\n        success: false,\n        message: 'Erro inesperado ao processar resposta.',\n        error: e.message\n      };\n    }\n  })()\n}}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "d88a6057-89a4-4ead-b373-69eedb0f54a5",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        208,
        576
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse HTTP - Montar batches para upsert rápido\nconst BATCH_SIZE = 500;\nconst batches = [];\n\nfor (let i = 0; i < items.length; i += BATCH_SIZE) {\n  const batch = items.slice(i, i + BATCH_SIZE).map(item => item.json);\n  \n  batches.push({\n    json: {\n      rows: batch,\n      total: items.length\n    }\n  });\n}\n\nreturn batches;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        384
      ],
      "id": "5b40196d-2bf8-4aa2-a4d9-c67cdcdbcd83",
      "name": "Parse HTTP"
    },
    {
      "parameters": {
        "binaryPropertyName": "csvFile",
        "fileFormat": "csv",
        "options": {
          "delimiter": ";",
          "encoding": "latin1",
          "headerRow": true,
          "rawData": true
        }
      },
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        416,
        176
      ],
      "name": "Ler planilha",
      "id": "a58fdc9e-a5aa-4e1d-81da-98e37bfe9e01"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17a62e0e-2b04-49b6-9cc5-4e7d6f4ec08b",
              "name": "crg_emp_integra",
              "value": "={{ $('Set Context').item.json.body.emp_cod_integra }}",
              "type": "string"
            },
            {
              "id": "c04e6977-2184-4419-8e5a-13341bbba60d",
              "name": "crg_period_ano",
              "value": "={{ $('Set Context').item.json.body.crg_emp_periodo_ano }}",
              "type": "number"
            },
            {
              "id": "ba399e2b-79c0-4344-aa30-6591f13546c0",
              "name": "crg_periodo_mes",
              "value": "={{ $('Set Context').item.json.body.crg_emp_periodo_mes }}",
              "type": "number"
            },
            {
              "id": "6ff4d9aa-6f88-40e5-bde5-cdaaeecb3e09",
              "name": "crg_periodo",
              "value": "= {{ ( $('Set Context').item.json.body.crg_emp_periodo_ano * 100 ) + $('Set Context').item.json.body.crg_emp_periodo_mes}}",
              "type": "number"
            },
            {
              "id": "e1580fc9-c096-4588-bb3e-912b60726c75",
              "name": "crg_arq_nome",
              "value": "={{ $('Set Context').item.json.file_path }}",
              "type": "string"
            },
            {
              "id": "fd9ee37c-c0ab-4b02-83d2-c24b49c3ccf5",
              "name": "conta_estru",
              "value": "={{ $('Ler planilha').item.json.Conta }}",
              "type": "string"
            },
            {
              "id": "62f4b045-e1b4-47e3-9b4f-849fae9682e1",
              "name": "conta_grau",
              "value": "={{ $('Ler planilha').item.json.Conta.split('.').length }}",
              "type": "string"
            },
            {
              "id": "6bb8506e-19b6-43a6-a86f-7499f45d3e5b",
              "name": "conta_descri",
              "value": "={{ $('Ler planilha').item.json['Descrição'] }}",
              "type": "string"
            },
            {
              "id": "2845d83b-d609-416c-98cf-271d4c0115ec",
              "name": "conta_janeiro",
              "value": "={{ $('Ler planilha').item.json.Janeiro.replaceAll(\",\",\".\").toNumber() }}",
              "type": "number"
            },
            {
              "id": "fc3eb5a6-22cb-47fa-8b2b-d90dfa4d301c",
              "name": "conta_fevereiro",
              "value": "={{ $('Ler planilha').item.json.Fevereiro.replaceAll(\",\",\".\").toNumber() }}",
              "type": "number"
            },
            {
              "id": "aa6547a0-11ea-4f11-a296-7b9c865c9112",
              "name": "conta_marco",
              "value": "={{ $('Ler planilha').item.json['Março'].replaceAll(\",\",\".\").toNumber() }}",
              "type": "number"
            },
            {
              "id": "e75787a3-0226-4dce-81c3-736556c7b318",
              "name": "conta_abril",
              "value": "={{ $('Ler planilha').item.json.Abril.replaceAll(\",\",\".\").toNumber() }}",
              "type": "number"
            },
            {
              "id": "2bc6664b-29db-426b-af6f-681be527f581",
              "name": "conta_maio",
              "value": "={{ $('Ler planilha').item.json.Maio.replaceAll(\",\",\".\").toNumber() }}",
              "type": "number"
            },
            {
              "id": "af81c17c-feeb-4486-a703-34a5fd515935",
              "name": "conta_junho",
              "value": "={{ $('Ler planilha').item.json.Junho.replaceAll(\",\",\".\").toNumber() }}",
              "type": "number"
            },
            {
              "id": "2f3f74e4-6213-40be-a28a-b6bbba779965",
              "name": "conta_julho",
              "value": "={{ $('Ler planilha').item.json.Julho.replaceAll(\",\",\".\").toNumber() }}",
              "type": "number"
            },
            {
              "id": "53afca33-7c99-4089-b247-7434918d3b95",
              "name": "conta_agosto",
              "value": "={{ $('Ler planilha').item.json.Agosto.replaceAll(\",\",\".\").toNumber() }}",
              "type": "number"
            },
            {
              "id": "bb40de82-27dc-4af2-a8f6-8b404e66994b",
              "name": "conta_setembro",
              "value": "={{ $('Ler planilha').item.json.Setembro.replaceAll(\",\",\".\").toNumber() }}",
              "type": "number"
            },
            {
              "id": "44d7213a-2b5c-4b95-8f09-54f1a89b19d1",
              "name": "conta_outubro",
              "value": "={{ $('Ler planilha').item.json.Outubro.replaceAll(\",\",\".\").toNumber() }}",
              "type": "number"
            },
            {
              "id": "d9f6a1a6-4338-4ced-98f5-6abe8045fb2a",
              "name": "conta_novembro",
              "value": "={{ $('Ler planilha').item.json.Novembro.replaceAll(\",\",\".\").toNumber() }}",
              "type": "number"
            },
            {
              "id": "e9ccd4f6-b77c-4bd4-b612-aebf3e02da89",
              "name": "conta_dezembro",
              "value": "={{ $('Ler planilha').item.json.Dezembro.replaceAll(\",\",\".\").toNumber() }}",
              "type": "number"
            },
            {
              "id": "f308f8f7-c502-47ea-9963-431b82e9f94d",
              "name": "conta_acumulado",
              "value": "={{ $('Ler planilha').item.json.Total.replaceAll(\",\",\".\").toNumber() }}",
              "type": "number"
            },
            {
              "id": "16607eea-e487-47eb-886f-fd794bb1135c",
              "name": "conta_acum_check",
              "value": "={{ ($('Ler planilha').item.json.Dezembro.replaceAll(\",\",\".\").toNumber() + \n   $('Ler planilha').item.json.Novembro.replaceAll(\",\",\".\").toNumber() + \n   $('Ler planilha').item.json.Outubro.replaceAll(\",\",\".\").toNumber() + \n   $('Ler planilha').item.json.Setembro.replaceAll(\",\",\".\").toNumber() + \n   $('Ler planilha').item.json.Agosto.replaceAll(\",\",\".\").toNumber() + \n   $('Ler planilha').item.json.Julho.replaceAll(\",\",\".\").toNumber() + \n   $('Ler planilha').item.json.Junho.replaceAll(\",\",\".\").toNumber() + \n   $('Ler planilha').item.json.Maio.replaceAll(\",\",\".\").toNumber() + \n   $('Ler planilha').item.json.Abril.replaceAll(\",\",\".\").toNumber() + \n   $('Ler planilha').item.json.Março.replaceAll(\",\",\".\").toNumber() + \n   $('Ler planilha').item.json.Fevereiro.replaceAll(\",\",\".\").toNumber() + \n   $('Ler planilha').item.json.Janeiro.replaceAll(\",\",\".\").toNumber()).round(2) \n}}",
              "type": "number"
            },
            {
              "id": "d95e96a8-4823-4988-a1b7-cc5342f92cf5",
              "name": "conta_perc",
              "value": "={{ $('Ler planilha').item.json['Perc.'].replaceAll('%','').replaceAll(',','.').toNumber() / 100}}",
              "type": "number"
            },
            {
              "id": "75b1f3e8-93ad-44f1-907f-f4d41e54d474",
              "name": "carga_data",
              "value": "={{ $json.currentDate.split('T')[0].split('-')[2] }}/{{ $json.currentDate.split('T')[0].split('-')[1] }}/{{ $json.currentDate.split('T')[0].split('-')[0] }}",
              "type": "string"
            },
            {
              "id": "4226831e-b92a-45bf-91b5-2bc7f37d1304",
              "name": "carga_hora",
              "value": "={{ $json.currentDate.split('T')[1].split('-')[0].split('.')[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        384
      ],
      "id": "0f27abcf-e0da-4df7-ae0a-3b9f6ad81efe",
      "name": "Dados Compl"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oezifbbcnqfpjakyrohh.supabase.co/rest/v1/dre_carga_contabil?on_conflict=crg_emp_integra,crg_periodo,conta_estru",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.rows}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        576
      ],
      "id": "1a7f4472-a4bd-427b-8f44-ef5549c21c9c",
      "name": "Grava Movto",
      "credentials": {
        "supabaseApi": {
          "id": "XZF8BL3CGNL9YXQR",
          "name": "Supa Sancal DRE"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        0,
        384
      ],
      "id": "6be65620-122d-433d-9a6f-68153303a46a",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "dre_carga_contabil",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "crg_emp_integra",
              "condition": "eq",
              "keyValue": "={{ $json.body.emp_cod_integra }}"
            },
            {
              "keyName": "crg_periodo",
              "condition": "gt",
              "keyValue": "={{ $json.body.crg_emp_periodo_ano * 100 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9fc2a213-bc14-4c19-97fc-103ff0cfac84",
      "name": "Exclui Cargas do Ano",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "XZF8BL3CGNL9YXQR",
          "name": "Supa Sancal DRE"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Set Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Context": {
      "main": [
        [
          {
            "node": "Exclui Cargas do Ano",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download CSV do Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download CSV do Storage": {
      "main": [
        [
          {
            "node": "Ler planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse HTTP": {
      "main": [
        [
          {
            "node": "Grava Movto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler planilha": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Compl": {
      "main": [
        [
          {
            "node": "Parse HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grava Movto": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Dados Compl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook Trigger": [
      {
        "json": {
          "headers": {
            "host": "webhook.synapiens.com.br",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/147.0.0.0 Safari/537.36",
            "content-length": "370",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9",
            "content-type": "application/json",
            "origin": "https://dre-sanca.vercel.app",
            "priority": "u=1, i",
            "referer": "https://dre-sanca.vercel.app/",
            "sec-ch-ua": "\"Brave\";v=\"147\", \"Not.A/Brand\";v=\"8\", \"Chromium\";v=\"147\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "sec-gpc": "1",
            "x-forwarded-for": "177.10.5.205",
            "x-forwarded-host": "webhook.synapiens.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "b55954f872fc",
            "x-real-ip": "177.10.5.205"
          },
          "params": {},
          "query": {},
          "body": {
            "file_path": "54c506f0-d07e-4335-9071-8f2fa6d88309/00.176.513/202603/1776464838699_1506-Analise_de_contas_-_Filler_Alimentos_03.2026.csv",
            "bucket": "movto_upload",
            "table": "dre_carga_contabil",
            "on_conflict": "id",
            "cliente_id": "54c506f0-d07e-4335-9071-8f2fa6d88309",
            "emp_cod_integra": "1506",
            "cnpj_emp": "00.176.513/0011-20",
            "crg_emp_periodo_ano": 2026,
            "crg_emp_periodo_mes": 3
          },
          "webhookUrl": "https://webhook.synapiens.com.br/webhook/movto_upsert",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "41eb765d-899f-43d1-914c-00fe79f2a9c5",
  "activeVersionId": "41eb765d-899f-43d1-914c-00fe79f2a9c5",
  "versionCounter": 18,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-25T07:36:32.551Z",
      "createdAt": "2026-04-25T07:36:32.551Z",
      "role": "workflow:owner",
      "workflowId": "XaE4pLsYkqyaxKLE",
      "projectId": "HDCZE4IUw9KS2WL1",
      "project": {
        "updatedAt": "2026-04-25T06:06:33.787Z",
        "createdAt": "2026-04-25T05:57:18.593Z",
        "id": "HDCZE4IUw9KS2WL1",
        "name": "Synapiens Development <synapiens@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a3e10bf8-6240-4e87-9f09-99823d96b21a"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-05-12T00:37:39.540Z",
      "createdAt": "2026-05-12T00:37:39.540Z",
      "id": "rf0POV5W2OD5ST1P",
      "name": "SANCAL DRE V0"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-26T21:21:09.520Z",
    "createdAt": "2026-04-26T21:21:03.690Z",
    "versionId": "41eb765d-899f-43d1-914c-00fe79f2a9c5",
    "workflowId": "XaE4pLsYkqyaxKLE",
    "nodes": [
      {
        "parameters": {
          "content": "## Setup obrigatório\n\n**Credencial Supabase API**\nSettings > Credentials > Add > Supabase API\n- Host: https://oezifbbcnqfpjakyrohh.supabase.co\n- Service Role Secret: sua service_role key\n\nVincule nos nós:\n- Download CSV do Storage\n- Upsert no Supabase\n\n**Payload do webhook (POST):**\n{\n  file_path: <caminho no bucket, ex: uuid/empresa/arquivo.csv>,\n  table: minha_tabela,\n  on_conflict: id\n}",
          "height": 340,
          "width": 500,
          "color": 4
        },
        "id": "def60419-b975-4607-ab6e-42d2573411a4",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -608,
          384
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "movto_upsert",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "bd50a7a7-c200-42b7-985c-0cf3abca46cd",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -224,
          176
        ],
        "webhookId": "4e242846-ba41-4e02-b7c9-1b1ee88c27f4"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f2",
                "name": "file_path",
                "value": "={{ $json.body.file_path }}",
                "type": "string"
              },
              {
                "id": "f3",
                "name": "table",
                "value": "={{ $json.body.table }}",
                "type": "string"
              },
              {
                "id": "f4",
                "name": "on_conflict",
                "value": "={{ $json.on_conflict ?? 'id' }}",
                "type": "string"
              },
              {
                "id": "38b5ab89-c551-4c39-b29a-796716494d0c",
                "name": "body.cliente_id",
                "value": "={{ $json.body.cliente_id }}",
                "type": "string"
              },
              {
                "id": "1d1c89fb-b42c-426a-b953-4c1e24abd355",
                "name": "body.cliente_id",
                "value": "={{ $json.body.cliente_id }}",
                "type": "string"
              },
              {
                "id": "3335be4d-fd54-4b62-b452-fc017a69e9bf",
                "name": "body.emp_cod_integra",
                "value": "={{ $json.body.emp_cod_integra }}",
                "type": "string"
              },
              {
                "id": "8e85a917-1a9a-4464-ae87-570de3ab9e41",
                "name": "body.cnpj_emp",
                "value": "={{ $json.body.cnpj_emp }}",
                "type": "string"
              },
              {
                "id": "ff935aac-c53b-4ade-a31b-4cf175351e15",
                "name": "body.crg_emp_periodo_ano",
                "value": "={{ $json.body.crg_emp_periodo_ano }}",
                "type": "number"
              },
              {
                "id": "64acb39a-7b2c-4b81-8561-251ee118c4e1",
                "name": "body.crg_emp_periodo_mes",
                "value": "={{ $json.body.crg_emp_periodo_mes }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "id": "e4631259-c851-4aa6-8750-6ff1740181bc",
        "name": "Set Context",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          0,
          176
        ]
      },
      {
        "parameters": {
          "url": "={{ 'https://oezifbbcnqfpjakyrohh.supabase.co/storage/v1/object/movto_upload/' + $json.file_path }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "supabaseApi",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file",
                "outputPropertyName": "csvFile"
              }
            }
          }
        },
        "id": "d5f66f77-5b2e-46b5-8448-2aad9606c9db",
        "name": "Download CSV do Storage",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          208,
          176
        ],
        "credentials": {
          "supabaseApi": {
            "id": "XZF8BL3CGNL9YXQR",
            "name": "Supa Sancal DRE"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{\n  (() => {\n    try {\n      const http = $('HTTP Request').first().json;\n\n      if (http.error || http.code) {\n        return {\n          success: false,\n          message: 'Erro ao gravar no Supabase.',\n          error: http.message || http.error || JSON.stringify(http)\n        };\n      }\n\n      const total = $('Parse HTTP').first().json.total;\n\n      return {\n        success: true,\n        message: `Gravação concluída com sucesso. ${total} registros gravados.`,\n        records_upserted: total\n      };\n\n    } catch (e) {\n      return {\n        success: false,\n        message: 'Erro inesperado ao processar resposta.',\n        error: e.message\n      };\n    }\n  })()\n}}",
          "options": {
            "responseCode": 200
          }
        },
        "id": "d88a6057-89a4-4ead-b373-69eedb0f54a5",
        "name": "Responder Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          208,
          576
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Parse HTTP - Montar batches para upsert rápido\nconst BATCH_SIZE = 500;\nconst batches = [];\n\nfor (let i = 0; i < items.length; i += BATCH_SIZE) {\n  const batch = items.slice(i, i + BATCH_SIZE).map(item => item.json);\n  \n  batches.push({\n    json: {\n      rows: batch,\n      total: items.length\n    }\n  });\n}\n\nreturn batches;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          416,
          384
        ],
        "id": "5b40196d-2bf8-4aa2-a4d9-c67cdcdbcd83",
        "name": "Parse HTTP"
      },
      {
        "parameters": {
          "binaryPropertyName": "csvFile",
          "fileFormat": "csv",
          "options": {
            "delimiter": ";",
            "encoding": "latin1",
            "headerRow": true,
            "rawData": true
          }
        },
        "type": "n8n-nodes-base.spreadsheetFile",
        "typeVersion": 2,
        "position": [
          416,
          176
        ],
        "name": "Ler planilha",
        "id": "a58fdc9e-a5aa-4e1d-81da-98e37bfe9e01"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "17a62e0e-2b04-49b6-9cc5-4e7d6f4ec08b",
                "name": "crg_emp_integra",
                "value": "={{ $('Set Context').item.json.body.emp_cod_integra }}",
                "type": "string"
              },
              {
                "id": "c04e6977-2184-4419-8e5a-13341bbba60d",
                "name": "crg_period_ano",
                "value": "={{ $('Set Context').item.json.body.crg_emp_periodo_ano }}",
                "type": "number"
              },
              {
                "id": "ba399e2b-79c0-4344-aa30-6591f13546c0",
                "name": "crg_periodo_mes",
                "value": "={{ $('Set Context').item.json.body.crg_emp_periodo_mes }}",
                "type": "number"
              },
              {
                "id": "6ff4d9aa-6f88-40e5-bde5-cdaaeecb3e09",
                "name": "crg_periodo",
                "value": "= {{ ( $('Set Context').item.json.body.crg_emp_periodo_ano * 100 ) + $('Set Context').item.json.body.crg_emp_periodo_mes}}",
                "type": "number"
              },
              {
                "id": "e1580fc9-c096-4588-bb3e-912b60726c75",
                "name": "crg_arq_nome",
                "value": "={{ $('Set Context').item.json.file_path }}",
                "type": "string"
              },
              {
                "id": "fd9ee37c-c0ab-4b02-83d2-c24b49c3ccf5",
                "name": "conta_estru",
                "value": "={{ $('Ler planilha').item.json.Conta }}",
                "type": "string"
              },
              {
                "id": "62f4b045-e1b4-47e3-9b4f-849fae9682e1",
                "name": "conta_grau",
                "value": "={{ $('Ler planilha').item.json.Conta.split('.').length }}",
                "type": "string"
              },
              {
                "id": "6bb8506e-19b6-43a6-a86f-7499f45d3e5b",
                "name": "conta_descri",
                "value": "={{ $('Ler planilha').item.json['Descrição'] }}",
                "type": "string"
              },
              {
                "id": "2845d83b-d609-416c-98cf-271d4c0115ec",
                "name": "conta_janeiro",
                "value": "={{ $('Ler planilha').item.json.Janeiro.replaceAll(\",\",\".\").toNumber() }}",
                "type": "number"
              },
              {
                "id": "fc3eb5a6-22cb-47fa-8b2b-d90dfa4d301c",
                "name": "conta_fevereiro",
                "value": "={{ $('Ler planilha').item.json.Fevereiro.replaceAll(\",\",\".\").toNumber() }}",
                "type": "number"
              },
              {
                "id": "aa6547a0-11ea-4f11-a296-7b9c865c9112",
                "name": "conta_marco",
                "value": "={{ $('Ler planilha').item.json['Março'].replaceAll(\",\",\".\").toNumber() }}",
                "type": "number"
              },
              {
                "id": "e75787a3-0226-4dce-81c3-736556c7b318",
                "name": "conta_abril",
                "value": "={{ $('Ler planilha').item.json.Abril.replaceAll(\",\",\".\").toNumber() }}",
                "type": "number"
              },
              {
                "id": "2bc6664b-29db-426b-af6f-681be527f581",
                "name": "conta_maio",
                "value": "={{ $('Ler planilha').item.json.Maio.replaceAll(\",\",\".\").toNumber() }}",
                "type": "number"
              },
              {
                "id": "af81c17c-feeb-4486-a703-34a5fd515935",
                "name": "conta_junho",
                "value": "={{ $('Ler planilha').item.json.Junho.replaceAll(\",\",\".\").toNumber() }}",
                "type": "number"
              },
              {
                "id": "2f3f74e4-6213-40be-a28a-b6bbba779965",
                "name": "conta_julho",
                "value": "={{ $('Ler planilha').item.json.Julho.replaceAll(\",\",\".\").toNumber() }}",
                "type": "number"
              },
              {
                "id": "53afca33-7c99-4089-b247-7434918d3b95",
                "name": "conta_agosto",
                "value": "={{ $('Ler planilha').item.json.Agosto.replaceAll(\",\",\".\").toNumber() }}",
                "type": "number"
              },
              {
                "id": "bb40de82-27dc-4af2-a8f6-8b404e66994b",
                "name": "conta_setembro",
                "value": "={{ $('Ler planilha').item.json.Setembro.replaceAll(\",\",\".\").toNumber() }}",
                "type": "number"
              },
              {
                "id": "44d7213a-2b5c-4b95-8f09-54f1a89b19d1",
                "name": "conta_outubro",
                "value": "={{ $('Ler planilha').item.json.Outubro.replaceAll(\",\",\".\").toNumber() }}",
                "type": "number"
              },
              {
                "id": "d9f6a1a6-4338-4ced-98f5-6abe8045fb2a",
                "name": "conta_novembro",
                "value": "={{ $('Ler planilha').item.json.Novembro.replaceAll(\",\",\".\").toNumber() }}",
                "type": "number"
              },
              {
                "id": "e9ccd4f6-b77c-4bd4-b612-aebf3e02da89",
                "name": "conta_dezembro",
                "value": "={{ $('Ler planilha').item.json.Dezembro.replaceAll(\",\",\".\").toNumber() }}",
                "type": "number"
              },
              {
                "id": "f308f8f7-c502-47ea-9963-431b82e9f94d",
                "name": "conta_acumulado",
                "value": "={{ $('Ler planilha').item.json.Total.replaceAll(\",\",\".\").toNumber() }}",
                "type": "number"
              },
              {
                "id": "16607eea-e487-47eb-886f-fd794bb1135c",
                "name": "conta_acum_check",
                "value": "={{ ($('Ler planilha').item.json.Dezembro.replaceAll(\",\",\".\").toNumber() + \n   $('Ler planilha').item.json.Novembro.replaceAll(\",\",\".\").toNumber() + \n   $('Ler planilha').item.json.Outubro.replaceAll(\",\",\".\").toNumber() + \n   $('Ler planilha').item.json.Setembro.replaceAll(\",\",\".\").toNumber() + \n   $('Ler planilha').item.json.Agosto.replaceAll(\",\",\".\").toNumber() + \n   $('Ler planilha').item.json.Julho.replaceAll(\",\",\".\").toNumber() + \n   $('Ler planilha').item.json.Junho.replaceAll(\",\",\".\").toNumber() + \n   $('Ler planilha').item.json.Maio.replaceAll(\",\",\".\").toNumber() + \n   $('Ler planilha').item.json.Abril.replaceAll(\",\",\".\").toNumber() + \n   $('Ler planilha').item.json.Março.replaceAll(\",\",\".\").toNumber() + \n   $('Ler planilha').item.json.Fevereiro.replaceAll(\",\",\".\").toNumber() + \n   $('Ler planilha').item.json.Janeiro.replaceAll(\",\",\".\").toNumber()).round(2) \n}}",
                "type": "number"
              },
              {
                "id": "d95e96a8-4823-4988-a1b7-cc5342f92cf5",
                "name": "conta_perc",
                "value": "={{ $('Ler planilha').item.json['Perc.'].replaceAll('%','').replaceAll(',','.').toNumber() / 100}}",
                "type": "number"
              },
              {
                "id": "75b1f3e8-93ad-44f1-907f-f4d41e54d474",
                "name": "carga_data",
                "value": "={{ $json.currentDate.split('T')[0].split('-')[2] }}/{{ $json.currentDate.split('T')[0].split('-')[1] }}/{{ $json.currentDate.split('T')[0].split('-')[0] }}",
                "type": "string"
              },
              {
                "id": "4226831e-b92a-45bf-91b5-2bc7f37d1304",
                "name": "carga_hora",
                "value": "={{ $json.currentDate.split('T')[1].split('-')[0].split('.')[0] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          208,
          384
        ],
        "id": "0f27abcf-e0da-4df7-ae0a-3b9f6ad81efe",
        "name": "Dados Compl"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://oezifbbcnqfpjakyrohh.supabase.co/rest/v1/dre_carga_contabil?on_conflict=crg_emp_integra,crg_periodo,conta_estru",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "supabaseApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Prefer",
                "value": "resolution=merge-duplicates"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{$json.rows}}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          0,
          576
        ],
        "id": "1a7f4472-a4bd-427b-8f44-ef5549c21c9c",
        "name": "Grava Movto",
        "credentials": {
          "supabaseApi": {
            "id": "XZF8BL3CGNL9YXQR",
            "name": "Supa Sancal DRE"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.dateTime",
        "typeVersion": 2,
        "position": [
          0,
          384
        ],
        "id": "6be65620-122d-433d-9a6f-68153303a46a",
        "name": "Date & Time"
      },
      {
        "parameters": {
          "operation": "delete",
          "tableId": "dre_carga_contabil",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "crg_emp_integra",
                "condition": "eq",
                "keyValue": "={{ $json.body.emp_cod_integra }}"
              },
              {
                "keyName": "crg_periodo",
                "condition": "gt",
                "keyValue": "={{ $json.body.crg_emp_periodo_ano * 100 }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "9fc2a213-bc14-4c19-97fc-103ff0cfac84",
        "name": "Exclui Cargas do Ano",
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "XZF8BL3CGNL9YXQR",
            "name": "Supa Sancal DRE"
          }
        }
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Set Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Context": {
        "main": [
          [
            {
              "node": "Exclui Cargas do Ano",
              "type": "main",
              "index": 0
            },
            {
              "node": "Download CSV do Storage",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download CSV do Storage": {
        "main": [
          [
            {
              "node": "Ler planilha",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse HTTP": {
        "main": [
          [
            {
              "node": "Grava Movto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ler planilha": {
        "main": [
          [
            {
              "node": "Date & Time",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dados Compl": {
        "main": [
          [
            {
              "node": "Parse HTTP",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Grava Movto": {
        "main": [
          [
            {
              "node": "Responder Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Date & Time": {
        "main": [
          [
            {
              "node": "Dados Compl",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Synapiens Development",
    "name": "Version 41eb765d",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-26T21:21:09.515Z",
        "id": 17,
        "workflowId": "XaE4pLsYkqyaxKLE",
        "versionId": "41eb765d-899f-43d1-914c-00fe79f2a9c5",
        "event": "activated",
        "userId": "a3e10bf8-6240-4e87-9f09-99823d96b21a"
      },
      {
        "createdAt": "2026-04-26T21:21:15.107Z",
        "id": 18,
        "workflowId": "XaE4pLsYkqyaxKLE",
        "versionId": "41eb765d-899f-43d1-914c-00fe79f2a9c5",
        "event": "deactivated",
        "userId": "a3e10bf8-6240-4e87-9f09-99823d96b21a"
      },
      {
        "createdAt": "2026-04-26T21:21:15.144Z",
        "id": 19,
        "workflowId": "XaE4pLsYkqyaxKLE",
        "versionId": "41eb765d-899f-43d1-914c-00fe79f2a9c5",
        "event": "activated",
        "userId": "a3e10bf8-6240-4e87-9f09-99823d96b21a"
      }
    ]
  }
}