workflows/SANCAL_DRE_V0/900202_-_Calcula_DRE.json
{
  "updatedAt": "2026-05-12T00:37:48.247Z",
  "createdAt": "2026-04-25T07:38:28.942Z",
  "id": "oTzP4eqo3UdpiwLC",
  "name": "900/202 - Calcula DRE",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calc_dre",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        272
      ],
      "id": "ef94941c-0c9e-4c38-83cf-10cfd75cbb5d",
      "name": "Webhook",
      "webhookId": "cd0ed607-b440-4f8f-a85c-f7553fc0ee9a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b9933092-5c95-4724-9dd2-553f152dd69a",
              "name": "empresa",
              "value": "={{ $json.body.emp_cod_integra }}",
              "type": "string"
            },
            {
              "id": "9311d32a-1033-45f8-a440-b296f53c3d55",
              "name": "periodo",
              "value": "={{ ($json.body.crg_emp_periodo_ano * 100) + $json.body.crg_emp_periodo_mes }}",
              "type": "number"
            },
            {
              "id": "36a0e0e5-57d6-4adc-871b-e42ae3fa4cd8",
              "name": "origem_disparo",
              "value": "={{ $json.headers.origin }}",
              "type": "string"
            },
            {
              "id": "133903f1-801d-4b78-a9cc-bfc88187589d",
              "name": "ip_disp",
              "value": "={{ $json.headers['x-forwarded-for'] }}",
              "type": "string"
            },
            {
              "id": "d4e5f6a7-b8c9-0123-def0-123456789012",
              "name": "user_id",
              "value": "={{ $json.body.user_id }}",
              "type": "string"
            },
            {
              "id": "e5f6a7b8-c9d0-1234-ef01-234567890123",
              "name": "cliente_id",
              "value": "={{ $json.body.cliente_id }}",
              "type": "string"
            },
            {
              "id": "467a38ec-f93e-4fc6-9c68-2c5d192f7aff",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        272
      ],
      "id": "a2283f3a-fa39-4e54-af0b-0d57d3703c6b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "viw_emp_crg",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "crg_periodo",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields').first().json.periodo }}"
            },
            {
              "keyName": "crg_emp_integra",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields').first().json.empresa }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        704,
        272
      ],
      "id": "c12db11d-2f38-4115-bf0a-1f7b905bcec9",
      "name": "Busca Emp Carga",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "XZF8BL3CGNL9YXQR",
          "name": "Supa Sancal DRE"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "viw_linha_carga",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "emp_cod_integra",
              "condition": "eq",
              "keyValue": "={{ $json.crg_emp_integra }}"
            },
            {
              "keyName": "dre_ativo_sn",
              "condition": "eq",
              "keyValue": "S"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        944,
        272
      ],
      "id": "385cbea2-5ce0-43c4-9bf1-8ce2e3aa70a0",
      "name": "Busca Linhas",
      "executeOnce": false,
      "credentials": {
        "supabaseApi": {
          "id": "XZF8BL3CGNL9YXQR",
          "name": "Supa Sancal DRE"
        }
      }
    },
    {
      "parameters": {
        "tableId": "dre_calc_atual",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "dre_template_id",
              "fieldValue": "={{ $('Percentuais').first().json.dre_template_id }}"
            },
            {
              "fieldId": "cliente_id",
              "fieldValue": "={{ $('Percentuais').first().json.cliente_id }}"
            },
            {
              "fieldId": "emp_cnpj_raiz",
              "fieldValue": "={{ $json.cnpj_raiz }}"
            },
            {
              "fieldId": "emp_cod_integra",
              "fieldValue": "={{ $json.emp_cod_integra }}"
            },
            {
              "fieldId": "emp_cnpj",
              "fieldValue": "={{ $json.emp_cnpj }}"
            },
            {
              "fieldId": "emp_nome_reduz",
              "fieldValue": "={{ $json.emp_nome_reduz }}"
            },
            {
              "fieldId": "estilo_linha_id",
              "fieldValue": "={{ $json.estilo_linha_id }}"
            },
            {
              "fieldId": "crg_periodo",
              "fieldValue": "={{ $json.crg_periodo }}"
            },
            {
              "fieldId": "crg_prd_mes",
              "fieldValue": "={{ $json.crg_periodo % 100 }}"
            },
            {
              "fieldId": "crg_prd_ano",
              "fieldValue": "={{ Math.floor($json.crg_periodo / 100) }}"
            },
            {
              "fieldId": "dre_linha_descri",
              "fieldValue": "={{ $json.dre_linha_descri }}"
            },
            {
              "fieldId": "dre_linha_seq",
              "fieldValue": "={{ $json.dre_linha_seq }}"
            },
            {
              "fieldId": "dre_linha_nivel",
              "fieldValue": "={{ $json.dre_linha_nivel }}"
            },
            {
              "fieldId": "calcula_sn",
              "fieldValue": "={{ $json.calcula_sn }}"
            },
            {
              "fieldId": "dre_linha_visivel",
              "fieldValue": "={{ $json.dre_linha_visivel }}"
            },
            {
              "fieldId": "dre_linha_valor",
              "fieldValue": "={{ $json.dre_linha_valor }}"
            },
            {
              "fieldId": "dre_linha_valor_fonte",
              "fieldValue": "={{ $json.dre_linha_valor_fonte }}"
            },
            {
              "fieldId": "conta_janeiro",
              "fieldValue": "={{ $json.conta_janeiro ?? 0 }}"
            },
            {
              "fieldId": "conta_fevereiro",
              "fieldValue": "={{ $json.conta_fevereiro ?? 0 }}"
            },
            {
              "fieldId": "conta_marco",
              "fieldValue": "={{ $json.conta_marco ?? 0 }}"
            },
            {
              "fieldId": "conta_abril",
              "fieldValue": "={{ $json.conta_abril ?? 0 }}"
            },
            {
              "fieldId": "conta_maio",
              "fieldValue": "={{ $json.conta_maio ?? 0 }}"
            },
            {
              "fieldId": "conta_junho",
              "fieldValue": "={{ $json.conta_junho ?? 0 }}"
            },
            {
              "fieldId": "conta_julho",
              "fieldValue": "={{ $json.conta_julho ?? 0 }}"
            },
            {
              "fieldId": "conta_agosto",
              "fieldValue": "={{ $json.conta_agosto ?? 0 }}"
            },
            {
              "fieldId": "conta_setembro",
              "fieldValue": "={{ $json.conta_setembro ?? 0 }}"
            },
            {
              "fieldId": "conta_outubro",
              "fieldValue": "={{ $json.conta_outubro ?? 0 }}"
            },
            {
              "fieldId": "conta_novembro",
              "fieldValue": "={{ $json.conta_novembro ?? 0 }}"
            },
            {
              "fieldId": "conta_dezembro",
              "fieldValue": "={{ $json.conta_dezembro ?? 0 }}"
            },
            {
              "fieldId": "conta_acumulado",
              "fieldValue": "={{ $json.conta_acumulado ?? 0 }}"
            },
            {
              "fieldId": "conta_acum_check",
              "fieldValue": "={{ $json.conta_acum_check ?? 0 }}"
            },
            {
              "fieldId": "conta_perc",
              "fieldValue": "={{ $json.conta_perc ?? 0 }}"
            },
            {
              "fieldId": "valores_calc",
              "fieldValue": "={{ $json.valoresCalculados ?? '{}' }}"
            },
            {
              "fieldId": "formula_original",
              "fieldValue": "={{ $json.formula_original ?? '' }}"
            },
            {
              "fieldId": "formula_processada",
              "fieldValue": "={{ $json.formula_processada ?? '' }}"
            },
            {
              "fieldId": "perc_ref",
              "fieldValue": "={{ $json.perc_ref }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        16,
        704
      ],
      "id": "60fc8957-bcf5-4b31-967a-7bee6c1fd8c8",
      "name": "Grava Calc",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "XZF8BL3CGNL9YXQR",
          "name": "Supa Sancal DRE"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Monta resposta e payload de log em um único nó\n// Evita referências a .item de nós anteriores que quebraram o pairedItem\nconst items = $input.all();\nconst ef = $('Edit Fields').first().json;\n\nconst linhasGravadas = items.length;\n\nreturn [{\n  json: {\n    // resposta ao frontend\n    resposta: {\n      sucesso: true,\n      empresa: ef.empresa,\n      periodo: ef.periodo,\n      linhas_gravadas: linhasGravadas,\n      processado_em: new Date().toISOString()\n    },\n    // payload do log\n    log: {\n      cliente_id:      ef.cliente_id     || null,\n      empresa_id:      ef.empresa_id     || null,\n      emp_integra_id:  ef.empresa,\n      calc_periodo:    ef.periodo,\n      user_calc:       ef.user_id        || null,\n      ip_disparo:      ef.ip_disp        || null,\n      origem_disparo:  ef.origem_disparo || null,\n      linhas_gravadas: linhasGravadas,\n      status_calc:     'sucesso'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        704
      ],
      "id": "edf9357f-fbf0-428b-a17c-4f03cd83aa80",
      "name": "Monta Resposta e Log"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.resposta) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        464,
        704
      ],
      "id": "cf1f9e98-a8ea-4904-8359-ac93282742fb",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "tableId": "tab_cntrl_calc",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "cliente_id",
              "fieldValue": "={{ $json.log.cliente_id }}"
            },
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.log.empresa_id }}"
            },
            {
              "fieldId": "emp_integra_id",
              "fieldValue": "={{ $json.log.emp_integra_id }}"
            },
            {
              "fieldId": "calc_periodo",
              "fieldValue": "={{ $json.log.calc_periodo }}"
            },
            {
              "fieldId": "user_calc",
              "fieldValue": "={{ $json.log.user_calc }}"
            },
            {
              "fieldId": "ip_disparo",
              "fieldValue": "={{ $json.log.ip_disparo }}"
            },
            {
              "fieldId": "origem_disparo",
              "fieldValue": "={{ $json.log.origem_disparo }}"
            },
            {
              "fieldId": "linhas_gravadas",
              "fieldValue": "={{ $json.log.linhas_gravadas }}"
            },
            {
              "fieldId": "status_calc",
              "fieldValue": "={{ $json.log.status_calc }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        688,
        704
      ],
      "id": "d2b0845c-0c2f-4298-81ae-e3947c8c74ab",
      "name": "Grava Log",
      "credentials": {
        "supabaseApi": {
          "id": "XZF8BL3CGNL9YXQR",
          "name": "Supa Sancal DRE"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nitems.sort((a, b) => {\n  if (a.json.dre_linha_nivel !== b.json.dre_linha_nivel) {\n    return a.json.dre_linha_nivel - b.json.dre_linha_nivel;\n  }\n  return a.json.dre_linha_seq - b.json.dre_linha_seq;\n});\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "acce2408-f8d5-44a5-a1ff-b1bab951f97b",
      "name": "Sequencia - old "
    },
    {
      "parameters": {
        "jsCode": "// ===== NODE 1: BASE (CONTA + CONSTANTE) =====\nconst items = $input.all();\nconst meses = [\n  'conta_janeiro', 'conta_fevereiro', 'conta_marco', 'conta_abril',\n  'conta_maio', 'conta_junho', 'conta_julho', 'conta_agosto',\n  'conta_setembro', 'conta_outubro', 'conta_novembro', 'conta_dezembro'\n];\n\nlet periodoLimite = null;\nitems.forEach(item => {\n  if (!periodoLimite && item.json.crg_periodo) {\n    periodoLimite = item.json.crg_periodo;\n  }\n});\n\nfunction getMesIndex(periodo) {\n  if (!periodo) return 11;\n  const mesNum = parseInt(periodo.toString().slice(-2));\n  return mesNum - 1;\n}\n\nconst mesLimiteIndex = getMesIndex(periodoLimite);\n\nconst linhasPorSeq = {};\nitems.forEach(item => {\n  linhasPorSeq[item.json.dre_linha_seq] = {\n    ...item.json,\n    valoresCalculados: null\n  };\n});\n\nObject.values(linhasPorSeq).forEach(linha => {\n  if (linha.tipo_linha !== 'CONTA' && linha.tipo_linha !== 'CONSTANTE') return;\n\n  const valores = {};\n  let somaAcumulado = 0;\n\n  if (linha.tipo_linha === 'CONSTANTE') {\n    const valorConstante = parseFloat(linha.dre_linha_valor || 0);\n    meses.forEach((mes, index) => {\n      if (index <= mesLimiteIndex) {\n        valores[mes] = valorConstante;\n        somaAcumulado += valorConstante;\n      } else {\n        valores[mes] = 0;\n      }\n    });\n  } else {\n    meses.forEach((mes, index) => {\n      if (index <= mesLimiteIndex) {\n        const valor = linha[mes] || 0;\n        valores[mes] = valor;\n        somaAcumulado += valor;\n      } else {\n        valores[mes] = 0;\n      }\n    });\n  }\n\n  valores.conta_acumulado = somaAcumulado;\n\n  linhasPorSeq[linha.dre_linha_seq] = {\n    ...linha,\n    ...valores,\n    valoresCalculados: valores\n  };\n});\n\nconst todasLinhas = Object.values(linhasPorSeq);\ntodasLinhas.sort((a, b) => a.dre_linha_seq - b.dre_linha_seq);\n\nreturn todasLinhas.map(linha => ({ json: linha }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "9ad5dabf-194c-4e27-a399-84c53335ed08",
      "name": "Base ( Contas e Constantes) - old"
    },
    {
      "parameters": {
        "jsCode": "// ===== NODE 2: FÓRMULAS =====\nconst items = $input.all();\nconst meses = [\n  'conta_janeiro', 'conta_fevereiro', 'conta_marco', 'conta_abril',\n  'conta_maio', 'conta_junho', 'conta_julho', 'conta_agosto',\n  'conta_setembro', 'conta_outubro', 'conta_novembro', 'conta_dezembro'\n];\n\nlet periodoLimite = null;\nitems.forEach(item => {\n  if (!periodoLimite && item.json.crg_periodo) {\n    periodoLimite = item.json.crg_periodo;\n  }\n});\n\nfunction getMesIndex(periodo) {\n  if (!periodo) return 11;\n  const mesNum = parseInt(periodo.toString().slice(-2));\n  return mesNum - 1;\n}\n\nconst mesLimiteIndex = getMesIndex(periodoLimite);\n\nconst linhasPorSeq = {};\nitems.forEach(item => {\n  linhasPorSeq[item.json.dre_linha_seq] = { ...item.json };\n});\n\nfunction corrigirFormula(formula) {\n  if (!formula || typeof formula !== 'string') return formula;\n  return formula.replace(/L#(\\d+)/g, '#L$1').trim();\n}\n\nfunction expandirSomaLinha(formula) {\n  const regex = /SOMA_LINHA\\(#L(\\d+):#L(\\d+)\\)/g;\n  return formula.replace(regex, (match, inicio, fim) => {\n    const linhas = [];\n    for (let i = parseInt(inicio); i <= parseInt(fim); i++) {\n      linhas.push(`#L${i}`);\n    }\n    return linhas.join('+');\n  });\n}\n\nfunction expandirPerc(formula) {\n  const regex = /PERC\\(([^)]+)\\)/g;\n  return formula.replace(regex, (match, expressao) => `((${expressao})*100)`);\n}\n\nfunction getValorLinha(numLinha, mes) {\n  const linha = linhasPorSeq[numLinha];\n  if (!linha) return 0;\n  if (linha.valoresCalculados && linha.valoresCalculados[mes] !== undefined) {\n    return linha.valoresCalculados[mes] || 0;\n  }\n  const valor = linha[mes];\n  return valor !== null && valor !== undefined ? valor : 0;\n}\n\nfunction calcularFormula(formula, mes) {\n  let expressao = formula.replace(/#L(\\d+)/g, (match, numLinha) => {\n    return getValorLinha(parseInt(numLinha), mes);\n  });\n  try {\n    const resultado = eval(expressao);\n    return isFinite(resultado) ? resultado : 0;\n  } catch (error) {\n    return 0;\n  }\n}\n\nObject.values(linhasPorSeq).forEach(linha => {\n  if (linha.tipo_linha !== 'FORMULA') return;\n\n  let formula = linha.dre_linha_valor;\n\n  if (!formula ||\n      formula.includes('APONTA PARA CONTA') ||\n      formula.includes('QUE NAO TEM') ||\n      formula.includes('PLANO DE CONTAS')) {\n    return;\n  }\n\n  formula = corrigirFormula(formula);\n\n  const isConstante = /^-?\\d+(\\.\\d+)?$/.test(formula);\n\n  if (isConstante) {\n    const valorConstante = parseFloat(formula);\n    const valores = {};\n    meses.forEach((mes, index) => {\n      valores[mes] = index <= mesLimiteIndex ? valorConstante : 0;\n    });\n    valores.conta_acumulado = valorConstante;\n    linhasPorSeq[linha.dre_linha_seq] = {\n      ...linha,\n      ...valores,\n      valoresCalculados: valores,\n      formula_original: linha.dre_linha_valor,\n      formula_processada: formula\n    };\n    return;\n  }\n\n  formula = expandirSomaLinha(formula);\n  formula = expandirPerc(formula);\n\n  const valores = {};\n  let somaAcumulado = 0;\n\n  meses.forEach((mes, index) => {\n    if (index <= mesLimiteIndex) {\n      const valor = calcularFormula(formula, mes);\n      valores[mes] = valor;\n      somaAcumulado += valor;\n    } else {\n      valores[mes] = 0;\n    }\n  });\n\n  valores.conta_acumulado = somaAcumulado;\n\n  linhasPorSeq[linha.dre_linha_seq] = {\n    ...linha,\n    ...valores,\n    valoresCalculados: valores,\n    formula_original: linha.dre_linha_valor,\n    formula_processada: formula\n  };\n});\n\nconst todasLinhas = Object.values(linhasPorSeq);\ntodasLinhas.sort((a, b) => a.dre_linha_seq - b.dre_linha_seq);\n\nreturn todasLinhas.map(linha => ({ json: linha }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "acac48f7-973f-44e1-9180-d91f152ee116",
      "name": "Fórmulas  - old"
    },
    {
      "parameters": {
        "jsCode": "// ===== NODE 3: ACUMULADOS (ACUM VLR ANT) =====\nconst items = $input.all();\nconst meses = [\n  'conta_janeiro', 'conta_fevereiro', 'conta_marco', 'conta_abril',\n  'conta_maio', 'conta_junho', 'conta_julho', 'conta_agosto',\n  'conta_setembro', 'conta_outubro', 'conta_novembro', 'conta_dezembro'\n];\n\nlet periodoLimite = null;\nitems.forEach(item => {\n  if (!periodoLimite && item.json.crg_periodo) {\n    periodoLimite = item.json.crg_periodo;\n  }\n});\n\nfunction getMesIndex(periodo) {\n  if (!periodo) return 11;\n  const mesNum = parseInt(periodo.toString().slice(-2));\n  return mesNum - 1;\n}\n\nconst mesLimiteIndex = getMesIndex(periodoLimite);\n\nconst linhasPorSeq = {};\nitems.forEach(item => {\n  linhasPorSeq[item.json.dre_linha_seq] = { ...item.json };\n});\n\nfunction getValorLinha(numLinha, mes) {\n  const linha = linhasPorSeq[numLinha];\n  if (!linha) return 0;\n  if (linha.valoresCalculados && linha.valoresCalculados[mes] !== undefined) {\n    return linha.valoresCalculados[mes] || 0;\n  }\n  const valor = linha[mes];\n  return valor !== null && valor !== undefined ? valor : 0;\n}\n\nfunction calcularAcumuladoValorAnterior(refLinha, mesLimiteIndex) {\n  const match = refLinha.match(/#L(\\d+)/);\n  if (!match) return null;\n\n  const numLinhaRef = parseInt(match[1]);\n  const linhaReferenciada = linhasPorSeq[numLinhaRef];\n  if (!linhaReferenciada) return null;\n\n  const valores = {};\n  let acumulado = 0;\n\n  meses.forEach((mes, index) => {\n    if (index <= mesLimiteIndex) {\n      const valorMes = getValorLinha(numLinhaRef, mes);\n      acumulado += valorMes;\n      valores[mes] = acumulado;\n    } else {\n      valores[mes] = 0;\n    }\n  });\n\n  valores.conta_acumulado = valores[meses[mesLimiteIndex]];\n  return valores;\n}\n\nObject.values(linhasPorSeq).forEach(linha => {\n  if (linha.tipo_linha !== 'ACUM VLR ANT') return;\n\n  const referencia = linha.dre_linha_valor;\n  if (!referencia) return;\n\n  const valores = calcularAcumuladoValorAnterior(referencia, mesLimiteIndex);\n\n  if (valores) {\n    linhasPorSeq[linha.dre_linha_seq] = {\n      ...linha,\n      ...valores,\n      valoresCalculados: valores,\n      referencia_original: referencia\n    };\n  }\n});\n\nconst todasLinhas = Object.values(linhasPorSeq);\ntodasLinhas.sort((a, b) => a.dre_linha_seq - b.dre_linha_seq);\n\nreturn todasLinhas.map(linha => ({ json: linha }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        0
      ],
      "id": "6e134c85-2e33-4de8-a66a-73f667923eca",
      "name": "Acumulados - old"
    },
    {
      "parameters": {
        "jsCode": "// ===== NODE 4: PERCENTUAIS =====\nconst items = $input.all();\n\nconst linhasPorSeq = {};\nitems.forEach(item => {\n  linhasPorSeq[item.json.dre_linha_seq] = { ...item.json };\n});\n\nObject.values(linhasPorSeq).forEach(linha => {\n  const percRef = linha.perc_ref;\n\n  if (!percRef || percRef === '') {\n    linha.conta_perc = null;\n    return;\n  }\n\n  if (percRef === '#L%') {\n    linha.conta_perc = 1;\n    return;\n  }\n\n  if (percRef === '#L%%') {\n    linha.conta_perc = null;\n    return;\n  }\n\n  const match = percRef.match(/#L(\\d+)/);\n  if (match) {\n    const numLinhaRef = parseInt(match[1]);\n    const linhaReferenciada = linhasPorSeq[numLinhaRef];\n\n    if (!linhaReferenciada) {\n      linha.conta_perc = null;\n      return;\n    }\n\n    const valorAtual = linha.conta_acumulado || 0;\n    const valorReferencia = linhaReferenciada.conta_acumulado || 0;\n\n    linha.conta_perc = valorReferencia === 0 ? 0 : valorAtual / valorReferencia;\n    return;\n  }\n\n  linha.conta_perc = null;\n});\n\nconst todasLinhas = Object.values(linhasPorSeq);\ntodasLinhas.sort((a, b) => a.dre_linha_seq - b.dre_linha_seq);\n\nreturn todasLinhas.map(linha => ({ json: linha }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        0
      ],
      "id": "63a98d1a-323d-491b-b19d-e2dc72a8d4bf",
      "name": "Percentuais - old"
    },
    {
      "parameters": {
        "jsCode": "// Pega os items de entrada\nconst items = $input.all();\n\n// Ordena por dre_linha_nivel primeiro, depois por dre_linha_seq\nitems.sort((a, b) => {\n  // Compara dre_linha_nivel\n  if (a.json.dre_linha_nivel !== b.json.dre_linha_nivel) {\n    return a.json.dre_linha_nivel - b.json.dre_linha_nivel;\n  }\n  // Se dre_linha_nivel for igual, compara dre_linha_seq\n  return a.json.dre_linha_seq - b.json.dre_linha_seq;\n});\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        480
      ],
      "id": "86a1d178-6abf-4e31-897e-5621cc113f0a",
      "name": "Sequencia"
    },
    {
      "parameters": {
        "jsCode": "// ===== NODE 1: BASE (CONTA + CONSTANTE) =====\n// Processa linhas que já têm valores prontos\n// Output: Todas as linhas com valores base preparados\n\nconst items = $input.all();\nconst meses = [\n  'conta_janeiro', 'conta_fevereiro', 'conta_marco', 'conta_abril',\n  'conta_maio', 'conta_junho', 'conta_julho', 'conta_agosto',\n  'conta_setembro', 'conta_outubro', 'conta_novembro', 'conta_dezembro'\n];\n\n// Captura período limite\nlet periodoLimite = null;\nitems.forEach(item => {\n  if (!periodoLimite && item.json.crg_periodo) {\n    periodoLimite = item.json.crg_periodo;\n  }\n});\n\nfunction getMesIndex(periodo) {\n  if (!periodo) return 11;\n  const mesNum = parseInt(periodo.toString().slice(-2));\n  return mesNum - 1;\n}\n\nconst mesLimiteIndex = getMesIndex(periodoLimite);\n\nconsole.log(`\\n🏁 NODE 1: BASE - Período ${periodoLimite} (até ${meses[mesLimiteIndex]})`);\n\n// Cria mapa com TODAS as linhas\nconst linhasPorSeq = {};\nitems.forEach(item => {\n  linhasPorSeq[item.json.dre_linha_seq] = {\n    ...item.json,\n    valoresCalculados: null\n  };\n});\n\nlet processados = 0;\n\n// Processa CONTA e CONSTANTE\nObject.values(linhasPorSeq).forEach(linha => {\n  if (linha.tipo_linha !== 'CONTA' && linha.tipo_linha !== 'CONSTANTE') {\n    return;\n  }\n\n  const valores = {};\n  let somaAcumulado = 0;\n\n  // Para CONTA: valores já vêm preenchidos nos campos conta_*\n  // Para CONSTANTE: pega o valor de dre_linha_valor\n  if (linha.tipo_linha === 'CONSTANTE') {\n    const valorConstante = parseFloat(linha.dre_linha_valor || 0);\n    \n    meses.forEach((mes, index) => {\n      if (index <= mesLimiteIndex) {\n        valores[mes] = valorConstante;\n        somaAcumulado += valorConstante;\n      } else {\n        valores[mes] = 0;\n      }\n    });\n  } else {\n    // CONTA: usa valores que já vêm nos campos\n    meses.forEach((mes, index) => {\n      if (index <= mesLimiteIndex) {\n        const valor = linha[mes] || 0;\n        valores[mes] = valor;\n        somaAcumulado += valor;\n      } else {\n        valores[mes] = 0;\n      }\n    });\n  }\n\n  valores.conta_acumulado = somaAcumulado;\n\n  // Atualiza linha\n  linhasPorSeq[linha.dre_linha_seq] = {\n    ...linha,\n    ...valores,\n    valoresCalculados: valores\n  };\n\n  processados++;\n  console.log(`✅ ${linha.tipo_linha} L${linha.dre_linha_seq} - ${linha.dre_linha_descri}`);\n});\n\n// Retorna TODAS as linhas ordenadas\nconst todasLinhas = Object.values(linhasPorSeq);\ntodasLinhas.sort((a, b) => a.dre_linha_seq - b.dre_linha_seq);\n\nconsole.log(`📊 BASE processadas: ${processados}`);\nconsole.log(`📦 Total linhas: ${todasLinhas.length}\\n`);\n\nreturn todasLinhas.map(linha => ({ json: linha }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        480
      ],
      "id": "9c9ddf8c-d2cc-40cd-aa1e-41ed0d4bc37b",
      "name": "Base ( Contas e Constantes)"
    },
    {
      "parameters": {
        "jsCode": "// ===== NODE 2: FÓRMULAS =====\n// Processa linhas do tipo FORMULA\n// Input: Todas as linhas (com BASE já calculada)\n// Output: Todas as linhas (com BASE + FORMULAS calculadas)\n\nconst items = $input.all();\nconst meses = [\n  'conta_janeiro', 'conta_fevereiro', 'conta_marco', 'conta_abril',\n  'conta_maio', 'conta_junho', 'conta_julho', 'conta_agosto',\n  'conta_setembro', 'conta_outubro', 'conta_novembro', 'conta_dezembro'\n];\n\n// Captura período limite\nlet periodoLimite = null;\nitems.forEach(item => {\n  if (!periodoLimite && item.json.crg_periodo) {\n    periodoLimite = item.json.crg_periodo;\n  }\n});\n\nfunction getMesIndex(periodo) {\n  if (!periodo) return 11;\n  const mesNum = parseInt(periodo.toString().slice(-2));\n  return mesNum - 1;\n}\n\nconst mesLimiteIndex = getMesIndex(periodoLimite);\n\nconsole.log(`\\n🧮 NODE 2: FÓRMULAS - Período ${periodoLimite}`);\n\n// Cria mapa\nconst linhasPorSeq = {};\nitems.forEach(item => {\n  linhasPorSeq[item.json.dre_linha_seq] = { ...item.json };\n});\n\n// Funções auxiliares\nfunction corrigirFormula(formula) {\n  if (!formula || typeof formula !== 'string') return formula;\n  return formula.replace(/L#(\\d+)/g, '#L$1').trim();\n}\n\nfunction expandirSomaLinha(formula) {\n  const regex = /SOMA_LINHA\\(#L(\\d+):#L(\\d+)\\)/g;\n  return formula.replace(regex, (match, inicio, fim) => {\n    const linhas = [];\n    for (let i = parseInt(inicio); i <= parseInt(fim); i++) {\n      linhas.push(`#L${i}`);\n    }\n    return linhas.join('+');\n  });\n}\n\nfunction expandirPerc(formula) {\n  const regex = /PERC\\(([^)]+)\\)/g;\n  return formula.replace(regex, (match, expressao) => {\n    return `((${expressao})*100)`;\n  });\n}\n\nfunction getValorLinha(numLinha, mes) {\n  const linha = linhasPorSeq[numLinha];\n  if (!linha) {\n    console.warn(`⚠️  Linha #L${numLinha} não encontrada`);\n    return 0;\n  }\n  \n  // Se já calculado, usa valor calculado\n  if (linha.valoresCalculados && linha.valoresCalculados[mes] !== undefined) {\n    return linha.valoresCalculados[mes] || 0;\n  }\n  \n  // Senão, pega valor direto\n  const valor = linha[mes];\n  return valor !== null && valor !== undefined ? valor : 0;\n}\n\nfunction calcularFormula(formula, mes) {\n  let expressao = formula.replace(/#L(\\d+)/g, (match, numLinha) => {\n    return getValorLinha(parseInt(numLinha), mes);\n  });\n  \n  try {\n    const resultado = eval(expressao);\n    return isFinite(resultado) ? resultado : 0;\n  } catch (error) {\n    console.error(`❌ Erro em fórmula: ${formula} (${mes})`);\n    return 0;\n  }\n}\n\nlet processados = 0;\nlet ignorados = 0;\n\n// Processa FORMULA\nObject.values(linhasPorSeq).forEach(linha => {\n  if (linha.tipo_linha !== 'FORMULA') {\n    return;\n  }\n\n  let formula = linha.dre_linha_valor;\n\n  // Ignora fórmulas inválidas\n  if (!formula || \n      formula.includes('APONTA PARA CONTA') || \n      formula.includes('QUE NAO TEM') ||\n      formula.includes('PLANO DE CONTAS')) {\n    console.log(`⚠️  Ignorado L${linha.dre_linha_seq} - ${formula}`);\n    ignorados++;\n    return;\n  }\n\n  // Processa\n  formula = corrigirFormula(formula);\n\n  // Verifica se é constante numérica\n  const isConstante = /^-?\\d+(\\.\\d+)?$/.test(formula);\n\n  if (isConstante) {\n    const valorConstante = parseFloat(formula);\n    const valores = {};\n    \n    meses.forEach((mes, index) => {\n      valores[mes] = index <= mesLimiteIndex ? valorConstante : 0;\n    });\n    valores.conta_acumulado = valorConstante;\n\n    linhasPorSeq[linha.dre_linha_seq] = {\n      ...linha,\n      ...valores,\n      valoresCalculados: valores,\n      formula_original: linha.dre_linha_valor,\n      formula_processada: formula\n    };\n\n    processados++;\n    console.log(`✅ CONSTANTE L${linha.dre_linha_seq} = ${valorConstante}`);\n    return;\n  }\n\n  // Expande funções\n  formula = expandirSomaLinha(formula);\n  formula = expandirPerc(formula);\n\n  // Calcula mês a mês\n  const valores = {};\n  let somaAcumulado = 0;\n\n  meses.forEach((mes, index) => {\n    if (index <= mesLimiteIndex) {\n      const valor = calcularFormula(formula, mes);\n      valores[mes] = valor;\n      somaAcumulado += valor;\n    } else {\n      valores[mes] = 0;\n    }\n  });\n\n  valores.conta_acumulado = somaAcumulado;\n\n  linhasPorSeq[linha.dre_linha_seq] = {\n    ...linha,\n    ...valores,\n    valoresCalculados: valores,\n    formula_original: linha.dre_linha_valor,\n    formula_processada: formula\n  };\n\n  processados++;\n  console.log(`✅ FORMULA L${linha.dre_linha_seq} - ${linha.dre_linha_descri}`);\n});\n\n// Retorna TODAS\nconst todasLinhas = Object.values(linhasPorSeq);\ntodasLinhas.sort((a, b) => a.dre_linha_seq - b.dre_linha_seq);\n\nconsole.log(`📊 Fórmulas processadas: ${processados}`);\nconsole.log(`⚠️  Fórmulas ignoradas: ${ignorados}`);\nconsole.log(`📦 Total linhas: ${todasLinhas.length}\\n`);\n\nreturn todasLinhas.map(linha => ({ json: linha }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        480
      ],
      "id": "217b739c-afbf-4c55-ab73-90220195f632",
      "name": "Fórmulas"
    },
    {
      "parameters": {
        "jsCode": "// ===== NODE 3: ACUMULADOS (ACUM VLR ANT) =====\n// Processa linhas do tipo ACUM VLR ANT\n// Input: Todas as linhas (com BASE + FORMULAS já calculadas)\n// Output: Todas as linhas (com ACUMULADOS calculados)\n\nconst items = $input.all();\nconst meses = [\n  'conta_janeiro', 'conta_fevereiro', 'conta_marco', 'conta_abril',\n  'conta_maio', 'conta_junho', 'conta_julho', 'conta_agosto',\n  'conta_setembro', 'conta_outubro', 'conta_novembro', 'conta_dezembro'\n];\n\n// Captura período limite\nlet periodoLimite = null;\nitems.forEach(item => {\n  if (!periodoLimite && item.json.crg_periodo) {\n    periodoLimite = item.json.crg_periodo;\n  }\n});\n\nfunction getMesIndex(periodo) {\n  if (!periodo) return 11;\n  const mesNum = parseInt(periodo.toString().slice(-2));\n  return mesNum - 1;\n}\n\nconst mesLimiteIndex = getMesIndex(periodoLimite);\n\nconsole.log(`\\n📈 NODE 3: ACUMULADOS - Período ${periodoLimite}`);\n\n// Cria mapa\nconst linhasPorSeq = {};\nitems.forEach(item => {\n  linhasPorSeq[item.json.dre_linha_seq] = { ...item.json };\n});\n\nfunction getValorLinha(numLinha, mes) {\n  const linha = linhasPorSeq[numLinha];\n  if (!linha) {\n    console.warn(`⚠️  Linha #L${numLinha} não encontrada`);\n    return 0;\n  }\n  \n  if (linha.valoresCalculados && linha.valoresCalculados[mes] !== undefined) {\n    return linha.valoresCalculados[mes] || 0;\n  }\n  \n  const valor = linha[mes];\n  return valor !== null && valor !== undefined ? valor : 0;\n}\n\nfunction calcularAcumuladoValorAnterior(refLinha, mesLimiteIndex) {\n  const match = refLinha.match(/#L(\\d+)/);\n  if (!match) {\n    console.warn(`⚠️  Referência inválida: ${refLinha}`);\n    return null;\n  }\n\n  const numLinhaRef = parseInt(match[1]);\n  const linhaReferenciada = linhasPorSeq[numLinhaRef];\n\n  if (!linhaReferenciada) {\n    console.warn(`⚠️  Linha #L${numLinhaRef} não encontrada`);\n    return null;\n  }\n\n  const valores = {};\n  let acumulado = 0;\n\n  meses.forEach((mes, index) => {\n    if (index <= mesLimiteIndex) {\n      const valorMes = getValorLinha(numLinhaRef, mes);\n      acumulado += valorMes;\n      valores[mes] = acumulado;\n    } else {\n      valores[mes] = 0;\n    }\n  });\n\n  valores.conta_acumulado = valores[meses[mesLimiteIndex]];\n\n  return valores;\n}\n\nlet processados = 0;\n\n// Processa ACUM VLR ANT\nObject.values(linhasPorSeq).forEach(linha => {\n  if (linha.tipo_linha !== 'ACUM VLR ANT') {\n    return;\n  }\n\n  const referencia = linha.dre_linha_valor;\n\n  if (!referencia) {\n    console.warn(`⚠️  L${linha.dre_linha_seq} sem referência`);\n    return;\n  }\n\n  const valores = calcularAcumuladoValorAnterior(referencia, mesLimiteIndex);\n\n  if (valores) {\n    linhasPorSeq[linha.dre_linha_seq] = {\n      ...linha,\n      ...valores,\n      valoresCalculados: valores,\n      referencia_original: referencia\n    };\n\n    processados++;\n    console.log(`✅ ACUM L${linha.dre_linha_seq} - ${linha.dre_linha_descri} (ref: ${referencia})`);\n  }\n});\n\n// Retorna TODAS\nconst todasLinhas = Object.values(linhasPorSeq);\ntodasLinhas.sort((a, b) => a.dre_linha_seq - b.dre_linha_seq);\n\nconsole.log(`📊 Acumulados processados: ${processados}`);\nconsole.log(`📦 Total linhas: ${todasLinhas.length}\\n`);\n\nreturn todasLinhas.map(linha => ({ json: linha }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        480
      ],
      "id": "46a3b39c-36d2-4d94-97b7-8cff5987b26f",
      "name": "Acumulados"
    },
    {
      "parameters": {
        "jsCode": "// ===== NODE 4: PERCENTUAIS =====\n// Calcula percentuais de TODAS as linhas com base em perc_ref\n// Input: Todas as linhas (completas)\n// Output: Todas as linhas com conta_perc calculado\n\nconst items = $input.all();\n\nconsole.log(`\\n📊 NODE 4: PERCENTUAIS`);\n\n// Cria mapa\nconst linhasPorSeq = {};\nitems.forEach(item => {\n  linhasPorSeq[item.json.dre_linha_seq] = { ...item.json };\n});\n\nlet processados = 0;\nlet semPerc = 0;\nlet erros = 0;\n\n// Processa TODOS os percentuais\nObject.values(linhasPorSeq).forEach(linha => {\n  const percRef = linha.perc_ref;\n\n  // Sem perc_ref = null\n  if (!percRef || percRef === '') {\n    linha.conta_perc = null;\n    semPerc++;\n    return;\n  }\n\n  // #L% = linha base (100%)\n  if (percRef === '#L%') {\n    linha.conta_perc = 1;\n    processados++;\n    console.log(`✅ BASE L${linha.dre_linha_seq} - ${linha.dre_linha_descri} = 100%`);\n    return;\n  }\n\n  // #L%% = não calcula\n  if (percRef === '#L%%') {\n    linha.conta_perc = null;\n    semPerc++;\n    return;\n  }\n\n  // #L## = referência a outra linha\n  const match = percRef.match(/#L(\\d+)/);\n  if (match) {\n    const numLinhaRef = parseInt(match[1]);\n    const linhaReferenciada = linhasPorSeq[numLinhaRef];\n\n    if (!linhaReferenciada) {\n      console.warn(`⚠️  L${linha.dre_linha_seq} - Ref #L${numLinhaRef} não encontrada`);\n      linha.conta_perc = null;\n      erros++;\n      return;\n    }\n\n    const valorAtual = linha.conta_acumulado || 0;\n    const valorReferencia = linhaReferenciada.conta_acumulado || 0;\n\n    if (valorReferencia === 0) {\n      linha.conta_perc = 0;\n      console.log(`⚠️  L${linha.dre_linha_seq} - Divisão por zero (ref: #L${numLinhaRef})`);\n    } else {\n      linha.conta_perc = valorAtual / valorReferencia;\n      processados++;\n      const percFormatado = (linha.conta_perc * 100).toFixed(2);\n      console.log(`✅ PERC L${linha.dre_linha_seq} = ${percFormatado}% (ref: #L${numLinhaRef})`);\n    }\n    return;\n  }\n\n  // Formato inválido\n  console.warn(`⚠️  L${linha.dre_linha_seq} - perc_ref inválido: ${percRef}`);\n  linha.conta_perc = null;\n  erros++;\n});\n\n// Retorna TODAS\nconst todasLinhas = Object.values(linhasPorSeq);\ntodasLinhas.sort((a, b) => a.dre_linha_seq - b.dre_linha_seq);\n\nconsole.log(`📊 Percentuais calculados: ${processados}`);\nconsole.log(`⚠️  Sem percentual: ${semPerc}`);\nconsole.log(`❌ Erros: ${erros}`);\nconsole.log(`📦 Total linhas: ${todasLinhas.length}\\n`);\n\nreturn todasLinhas.map(linha => ({ json: linha }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        480
      ],
      "id": "7f4c923d-54d2-43b3-8f08-148636e967ec",
      "name": "Percentuais"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "dre_calc_atual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "emp_cod_integra",
              "condition": "eq",
              "keyValue": "={{ $json.empresa }}"
            },
            {
              "keyName": "crg_periodo",
              "condition": "gt",
              "keyValue": "={{ $json.periodo.toString().substring(0,4).toNumber()*100 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        464,
        272
      ],
      "id": "0eab3178-0b6e-43c7-8669-7bf3eec1583b",
      "name": "Deleta Calculo",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "XZF8BL3CGNL9YXQR",
          "name": "Supa Sancal DRE"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Deleta Calculo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Emp Carga": {
      "main": [
        [
          {
            "node": "Busca Linhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Linhas": {
      "main": [
        [
          {
            "node": "Sequencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grava Calc": {
      "main": [
        [
          {
            "node": "Monta Resposta e Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monta Resposta e Log": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Grava Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sequencia - old ": {
      "main": [
        [
          {
            "node": "Base ( Contas e Constantes) - old",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base ( Contas e Constantes) - old": {
      "main": [
        [
          {
            "node": "Fórmulas  - old",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fórmulas  - old": {
      "main": [
        [
          {
            "node": "Acumulados - old",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acumulados - old": {
      "main": [
        [
          {
            "node": "Percentuais - old",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sequencia": {
      "main": [
        [
          {
            "node": "Base ( Contas e Constantes)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base ( Contas e Constantes)": {
      "main": [
        [
          {
            "node": "Fórmulas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fórmulas": {
      "main": [
        [
          {
            "node": "Acumulados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acumulados": {
      "main": [
        [
          {
            "node": "Percentuais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Percentuais": {
      "main": [
        [
          {
            "node": "Grava Calc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deleta Calculo": {
      "main": [
        [
          {
            "node": "Busca Emp Carga",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "62564403-64a5-4b75-b204-3edbe6c87247",
  "activeVersionId": "62564403-64a5-4b75-b204-3edbe6c87247",
  "versionCounter": 20,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-25T07:38:28.942Z",
      "createdAt": "2026-04-25T07:38:28.942Z",
      "role": "workflow:owner",
      "workflowId": "oTzP4eqo3UdpiwLC",
      "projectId": "HDCZE4IUw9KS2WL1",
      "project": {
        "updatedAt": "2026-04-25T06:06:33.787Z",
        "createdAt": "2026-04-25T05:57:18.593Z",
        "id": "HDCZE4IUw9KS2WL1",
        "name": "Synapiens Development <synapiens@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a3e10bf8-6240-4e87-9f09-99823d96b21a"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-05-12T00:37:39.540Z",
      "createdAt": "2026-05-12T00:37:39.540Z",
      "id": "rf0POV5W2OD5ST1P",
      "name": "SANCAL DRE V0"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-26T21:22:20.428Z",
    "createdAt": "2026-04-26T21:22:09.721Z",
    "versionId": "62564403-64a5-4b75-b204-3edbe6c87247",
    "workflowId": "oTzP4eqo3UdpiwLC",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "calc_dre",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          16,
          272
        ],
        "id": "ef94941c-0c9e-4c38-83cf-10cfd75cbb5d",
        "name": "Webhook",
        "webhookId": "cd0ed607-b440-4f8f-a85c-f7553fc0ee9a"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b9933092-5c95-4724-9dd2-553f152dd69a",
                "name": "empresa",
                "value": "={{ $json.body.emp_cod_integra }}",
                "type": "string"
              },
              {
                "id": "9311d32a-1033-45f8-a440-b296f53c3d55",
                "name": "periodo",
                "value": "={{ ($json.body.crg_emp_periodo_ano * 100) + $json.body.crg_emp_periodo_mes }}",
                "type": "number"
              },
              {
                "id": "36a0e0e5-57d6-4adc-871b-e42ae3fa4cd8",
                "name": "origem_disparo",
                "value": "={{ $json.headers.origin }}",
                "type": "string"
              },
              {
                "id": "133903f1-801d-4b78-a9cc-bfc88187589d",
                "name": "ip_disp",
                "value": "={{ $json.headers['x-forwarded-for'] }}",
                "type": "string"
              },
              {
                "id": "d4e5f6a7-b8c9-0123-def0-123456789012",
                "name": "user_id",
                "value": "={{ $json.body.user_id }}",
                "type": "string"
              },
              {
                "id": "e5f6a7b8-c9d0-1234-ef01-234567890123",
                "name": "cliente_id",
                "value": "={{ $json.body.cliente_id }}",
                "type": "string"
              },
              {
                "id": "467a38ec-f93e-4fc6-9c68-2c5d192f7aff",
                "name": "empresa_id",
                "value": "={{ $json.body.empresa_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          240,
          272
        ],
        "id": "a2283f3a-fa39-4e54-af0b-0d57d3703c6b",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "viw_emp_crg",
          "returnAll": true,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "crg_periodo",
                "condition": "eq",
                "keyValue": "={{ $('Edit Fields').first().json.periodo }}"
              },
              {
                "keyName": "crg_emp_integra",
                "condition": "eq",
                "keyValue": "={{ $('Edit Fields').first().json.empresa }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          704,
          272
        ],
        "id": "c12db11d-2f38-4115-bf0a-1f7b905bcec9",
        "name": "Busca Emp Carga",
        "executeOnce": true,
        "credentials": {
          "supabaseApi": {
            "id": "XZF8BL3CGNL9YXQR",
            "name": "Supa Sancal DRE"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "viw_linha_carga",
          "returnAll": true,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "emp_cod_integra",
                "condition": "eq",
                "keyValue": "={{ $json.crg_emp_integra }}"
              },
              {
                "keyName": "dre_ativo_sn",
                "condition": "eq",
                "keyValue": "S"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          944,
          272
        ],
        "id": "385cbea2-5ce0-43c4-9bf1-8ce2e3aa70a0",
        "name": "Busca Linhas",
        "executeOnce": false,
        "credentials": {
          "supabaseApi": {
            "id": "XZF8BL3CGNL9YXQR",
            "name": "Supa Sancal DRE"
          }
        }
      },
      {
        "parameters": {
          "tableId": "dre_calc_atual",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "dre_template_id",
                "fieldValue": "={{ $('Percentuais').first().json.dre_template_id }}"
              },
              {
                "fieldId": "cliente_id",
                "fieldValue": "={{ $('Percentuais').first().json.cliente_id }}"
              },
              {
                "fieldId": "emp_cnpj_raiz",
                "fieldValue": "={{ $json.cnpj_raiz }}"
              },
              {
                "fieldId": "emp_cod_integra",
                "fieldValue": "={{ $json.emp_cod_integra }}"
              },
              {
                "fieldId": "emp_cnpj",
                "fieldValue": "={{ $json.emp_cnpj }}"
              },
              {
                "fieldId": "emp_nome_reduz",
                "fieldValue": "={{ $json.emp_nome_reduz }}"
              },
              {
                "fieldId": "estilo_linha_id",
                "fieldValue": "={{ $json.estilo_linha_id }}"
              },
              {
                "fieldId": "crg_periodo",
                "fieldValue": "={{ $json.crg_periodo }}"
              },
              {
                "fieldId": "crg_prd_mes",
                "fieldValue": "={{ $json.crg_periodo % 100 }}"
              },
              {
                "fieldId": "crg_prd_ano",
                "fieldValue": "={{ Math.floor($json.crg_periodo / 100) }}"
              },
              {
                "fieldId": "dre_linha_descri",
                "fieldValue": "={{ $json.dre_linha_descri }}"
              },
              {
                "fieldId": "dre_linha_seq",
                "fieldValue": "={{ $json.dre_linha_seq }}"
              },
              {
                "fieldId": "dre_linha_nivel",
                "fieldValue": "={{ $json.dre_linha_nivel }}"
              },
              {
                "fieldId": "calcula_sn",
                "fieldValue": "={{ $json.calcula_sn }}"
              },
              {
                "fieldId": "dre_linha_visivel",
                "fieldValue": "={{ $json.dre_linha_visivel }}"
              },
              {
                "fieldId": "dre_linha_valor",
                "fieldValue": "={{ $json.dre_linha_valor }}"
              },
              {
                "fieldId": "dre_linha_valor_fonte",
                "fieldValue": "={{ $json.dre_linha_valor_fonte }}"
              },
              {
                "fieldId": "conta_janeiro",
                "fieldValue": "={{ $json.conta_janeiro ?? 0 }}"
              },
              {
                "fieldId": "conta_fevereiro",
                "fieldValue": "={{ $json.conta_fevereiro ?? 0 }}"
              },
              {
                "fieldId": "conta_marco",
                "fieldValue": "={{ $json.conta_marco ?? 0 }}"
              },
              {
                "fieldId": "conta_abril",
                "fieldValue": "={{ $json.conta_abril ?? 0 }}"
              },
              {
                "fieldId": "conta_maio",
                "fieldValue": "={{ $json.conta_maio ?? 0 }}"
              },
              {
                "fieldId": "conta_junho",
                "fieldValue": "={{ $json.conta_junho ?? 0 }}"
              },
              {
                "fieldId": "conta_julho",
                "fieldValue": "={{ $json.conta_julho ?? 0 }}"
              },
              {
                "fieldId": "conta_agosto",
                "fieldValue": "={{ $json.conta_agosto ?? 0 }}"
              },
              {
                "fieldId": "conta_setembro",
                "fieldValue": "={{ $json.conta_setembro ?? 0 }}"
              },
              {
                "fieldId": "conta_outubro",
                "fieldValue": "={{ $json.conta_outubro ?? 0 }}"
              },
              {
                "fieldId": "conta_novembro",
                "fieldValue": "={{ $json.conta_novembro ?? 0 }}"
              },
              {
                "fieldId": "conta_dezembro",
                "fieldValue": "={{ $json.conta_dezembro ?? 0 }}"
              },
              {
                "fieldId": "conta_acumulado",
                "fieldValue": "={{ $json.conta_acumulado ?? 0 }}"
              },
              {
                "fieldId": "conta_acum_check",
                "fieldValue": "={{ $json.conta_acum_check ?? 0 }}"
              },
              {
                "fieldId": "conta_perc",
                "fieldValue": "={{ $json.conta_perc ?? 0 }}"
              },
              {
                "fieldId": "valores_calc",
                "fieldValue": "={{ $json.valoresCalculados ?? '{}' }}"
              },
              {
                "fieldId": "formula_original",
                "fieldValue": "={{ $json.formula_original ?? '' }}"
              },
              {
                "fieldId": "formula_processada",
                "fieldValue": "={{ $json.formula_processada ?? '' }}"
              },
              {
                "fieldId": "perc_ref",
                "fieldValue": "={{ $json.perc_ref }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          16,
          704
        ],
        "id": "60fc8957-bcf5-4b31-967a-7bee6c1fd8c8",
        "name": "Grava Calc",
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "XZF8BL3CGNL9YXQR",
            "name": "Supa Sancal DRE"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Monta resposta e payload de log em um único nó\n// Evita referências a .item de nós anteriores que quebraram o pairedItem\nconst items = $input.all();\nconst ef = $('Edit Fields').first().json;\n\nconst linhasGravadas = items.length;\n\nreturn [{\n  json: {\n    // resposta ao frontend\n    resposta: {\n      sucesso: true,\n      empresa: ef.empresa,\n      periodo: ef.periodo,\n      linhas_gravadas: linhasGravadas,\n      processado_em: new Date().toISOString()\n    },\n    // payload do log\n    log: {\n      cliente_id:      ef.cliente_id     || null,\n      empresa_id:      ef.empresa_id     || null,\n      emp_integra_id:  ef.empresa,\n      calc_periodo:    ef.periodo,\n      user_calc:       ef.user_id        || null,\n      ip_disparo:      ef.ip_disp        || null,\n      origem_disparo:  ef.origem_disparo || null,\n      linhas_gravadas: linhasGravadas,\n      status_calc:     'sucesso'\n    }\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          240,
          704
        ],
        "id": "edf9357f-fbf0-428b-a17c-4f03cd83aa80",
        "name": "Monta Resposta e Log"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json.resposta) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          464,
          704
        ],
        "id": "cf1f9e98-a8ea-4904-8359-ac93282742fb",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "tableId": "tab_cntrl_calc",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "cliente_id",
                "fieldValue": "={{ $json.log.cliente_id }}"
              },
              {
                "fieldId": "empresa_id",
                "fieldValue": "={{ $json.log.empresa_id }}"
              },
              {
                "fieldId": "emp_integra_id",
                "fieldValue": "={{ $json.log.emp_integra_id }}"
              },
              {
                "fieldId": "calc_periodo",
                "fieldValue": "={{ $json.log.calc_periodo }}"
              },
              {
                "fieldId": "user_calc",
                "fieldValue": "={{ $json.log.user_calc }}"
              },
              {
                "fieldId": "ip_disparo",
                "fieldValue": "={{ $json.log.ip_disparo }}"
              },
              {
                "fieldId": "origem_disparo",
                "fieldValue": "={{ $json.log.origem_disparo }}"
              },
              {
                "fieldId": "linhas_gravadas",
                "fieldValue": "={{ $json.log.linhas_gravadas }}"
              },
              {
                "fieldId": "status_calc",
                "fieldValue": "={{ $json.log.status_calc }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          688,
          704
        ],
        "id": "d2b0845c-0c2f-4298-81ae-e3947c8c74ab",
        "name": "Grava Log",
        "credentials": {
          "supabaseApi": {
            "id": "XZF8BL3CGNL9YXQR",
            "name": "Supa Sancal DRE"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nitems.sort((a, b) => {\n  if (a.json.dre_linha_nivel !== b.json.dre_linha_nivel) {\n    return a.json.dre_linha_nivel - b.json.dre_linha_nivel;\n  }\n  return a.json.dre_linha_seq - b.json.dre_linha_seq;\n});\n\nreturn items;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "id": "acce2408-f8d5-44a5-a1ff-b1bab951f97b",
        "name": "Sequencia - old "
      },
      {
        "parameters": {
          "jsCode": "// ===== NODE 1: BASE (CONTA + CONSTANTE) =====\nconst items = $input.all();\nconst meses = [\n  'conta_janeiro', 'conta_fevereiro', 'conta_marco', 'conta_abril',\n  'conta_maio', 'conta_junho', 'conta_julho', 'conta_agosto',\n  'conta_setembro', 'conta_outubro', 'conta_novembro', 'conta_dezembro'\n];\n\nlet periodoLimite = null;\nitems.forEach(item => {\n  if (!periodoLimite && item.json.crg_periodo) {\n    periodoLimite = item.json.crg_periodo;\n  }\n});\n\nfunction getMesIndex(periodo) {\n  if (!periodo) return 11;\n  const mesNum = parseInt(periodo.toString().slice(-2));\n  return mesNum - 1;\n}\n\nconst mesLimiteIndex = getMesIndex(periodoLimite);\n\nconst linhasPorSeq = {};\nitems.forEach(item => {\n  linhasPorSeq[item.json.dre_linha_seq] = {\n    ...item.json,\n    valoresCalculados: null\n  };\n});\n\nObject.values(linhasPorSeq).forEach(linha => {\n  if (linha.tipo_linha !== 'CONTA' && linha.tipo_linha !== 'CONSTANTE') return;\n\n  const valores = {};\n  let somaAcumulado = 0;\n\n  if (linha.tipo_linha === 'CONSTANTE') {\n    const valorConstante = parseFloat(linha.dre_linha_valor || 0);\n    meses.forEach((mes, index) => {\n      if (index <= mesLimiteIndex) {\n        valores[mes] = valorConstante;\n        somaAcumulado += valorConstante;\n      } else {\n        valores[mes] = 0;\n      }\n    });\n  } else {\n    meses.forEach((mes, index) => {\n      if (index <= mesLimiteIndex) {\n        const valor = linha[mes] || 0;\n        valores[mes] = valor;\n        somaAcumulado += valor;\n      } else {\n        valores[mes] = 0;\n      }\n    });\n  }\n\n  valores.conta_acumulado = somaAcumulado;\n\n  linhasPorSeq[linha.dre_linha_seq] = {\n    ...linha,\n    ...valores,\n    valoresCalculados: valores\n  };\n});\n\nconst todasLinhas = Object.values(linhasPorSeq);\ntodasLinhas.sort((a, b) => a.dre_linha_seq - b.dre_linha_seq);\n\nreturn todasLinhas.map(linha => ({ json: linha }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          0
        ],
        "id": "9ad5dabf-194c-4e27-a399-84c53335ed08",
        "name": "Base ( Contas e Constantes) - old"
      },
      {
        "parameters": {
          "jsCode": "// ===== NODE 2: FÓRMULAS =====\nconst items = $input.all();\nconst meses = [\n  'conta_janeiro', 'conta_fevereiro', 'conta_marco', 'conta_abril',\n  'conta_maio', 'conta_junho', 'conta_julho', 'conta_agosto',\n  'conta_setembro', 'conta_outubro', 'conta_novembro', 'conta_dezembro'\n];\n\nlet periodoLimite = null;\nitems.forEach(item => {\n  if (!periodoLimite && item.json.crg_periodo) {\n    periodoLimite = item.json.crg_periodo;\n  }\n});\n\nfunction getMesIndex(periodo) {\n  if (!periodo) return 11;\n  const mesNum = parseInt(periodo.toString().slice(-2));\n  return mesNum - 1;\n}\n\nconst mesLimiteIndex = getMesIndex(periodoLimite);\n\nconst linhasPorSeq = {};\nitems.forEach(item => {\n  linhasPorSeq[item.json.dre_linha_seq] = { ...item.json };\n});\n\nfunction corrigirFormula(formula) {\n  if (!formula || typeof formula !== 'string') return formula;\n  return formula.replace(/L#(\\d+)/g, '#L$1').trim();\n}\n\nfunction expandirSomaLinha(formula) {\n  const regex = /SOMA_LINHA\\(#L(\\d+):#L(\\d+)\\)/g;\n  return formula.replace(regex, (match, inicio, fim) => {\n    const linhas = [];\n    for (let i = parseInt(inicio); i <= parseInt(fim); i++) {\n      linhas.push(`#L${i}`);\n    }\n    return linhas.join('+');\n  });\n}\n\nfunction expandirPerc(formula) {\n  const regex = /PERC\\(([^)]+)\\)/g;\n  return formula.replace(regex, (match, expressao) => `((${expressao})*100)`);\n}\n\nfunction getValorLinha(numLinha, mes) {\n  const linha = linhasPorSeq[numLinha];\n  if (!linha) return 0;\n  if (linha.valoresCalculados && linha.valoresCalculados[mes] !== undefined) {\n    return linha.valoresCalculados[mes] || 0;\n  }\n  const valor = linha[mes];\n  return valor !== null && valor !== undefined ? valor : 0;\n}\n\nfunction calcularFormula(formula, mes) {\n  let expressao = formula.replace(/#L(\\d+)/g, (match, numLinha) => {\n    return getValorLinha(parseInt(numLinha), mes);\n  });\n  try {\n    const resultado = eval(expressao);\n    return isFinite(resultado) ? resultado : 0;\n  } catch (error) {\n    return 0;\n  }\n}\n\nObject.values(linhasPorSeq).forEach(linha => {\n  if (linha.tipo_linha !== 'FORMULA') return;\n\n  let formula = linha.dre_linha_valor;\n\n  if (!formula ||\n      formula.includes('APONTA PARA CONTA') ||\n      formula.includes('QUE NAO TEM') ||\n      formula.includes('PLANO DE CONTAS')) {\n    return;\n  }\n\n  formula = corrigirFormula(formula);\n\n  const isConstante = /^-?\\d+(\\.\\d+)?$/.test(formula);\n\n  if (isConstante) {\n    const valorConstante = parseFloat(formula);\n    const valores = {};\n    meses.forEach((mes, index) => {\n      valores[mes] = index <= mesLimiteIndex ? valorConstante : 0;\n    });\n    valores.conta_acumulado = valorConstante;\n    linhasPorSeq[linha.dre_linha_seq] = {\n      ...linha,\n      ...valores,\n      valoresCalculados: valores,\n      formula_original: linha.dre_linha_valor,\n      formula_processada: formula\n    };\n    return;\n  }\n\n  formula = expandirSomaLinha(formula);\n  formula = expandirPerc(formula);\n\n  const valores = {};\n  let somaAcumulado = 0;\n\n  meses.forEach((mes, index) => {\n    if (index <= mesLimiteIndex) {\n      const valor = calcularFormula(formula, mes);\n      valores[mes] = valor;\n      somaAcumulado += valor;\n    } else {\n      valores[mes] = 0;\n    }\n  });\n\n  valores.conta_acumulado = somaAcumulado;\n\n  linhasPorSeq[linha.dre_linha_seq] = {\n    ...linha,\n    ...valores,\n    valoresCalculados: valores,\n    formula_original: linha.dre_linha_valor,\n    formula_processada: formula\n  };\n});\n\nconst todasLinhas = Object.values(linhasPorSeq);\ntodasLinhas.sort((a, b) => a.dre_linha_seq - b.dre_linha_seq);\n\nreturn todasLinhas.map(linha => ({ json: linha }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          448,
          0
        ],
        "id": "acac48f7-973f-44e1-9180-d91f152ee116",
        "name": "Fórmulas  - old"
      },
      {
        "parameters": {
          "jsCode": "// ===== NODE 3: ACUMULADOS (ACUM VLR ANT) =====\nconst items = $input.all();\nconst meses = [\n  'conta_janeiro', 'conta_fevereiro', 'conta_marco', 'conta_abril',\n  'conta_maio', 'conta_junho', 'conta_julho', 'conta_agosto',\n  'conta_setembro', 'conta_outubro', 'conta_novembro', 'conta_dezembro'\n];\n\nlet periodoLimite = null;\nitems.forEach(item => {\n  if (!periodoLimite && item.json.crg_periodo) {\n    periodoLimite = item.json.crg_periodo;\n  }\n});\n\nfunction getMesIndex(periodo) {\n  if (!periodo) return 11;\n  const mesNum = parseInt(periodo.toString().slice(-2));\n  return mesNum - 1;\n}\n\nconst mesLimiteIndex = getMesIndex(periodoLimite);\n\nconst linhasPorSeq = {};\nitems.forEach(item => {\n  linhasPorSeq[item.json.dre_linha_seq] = { ...item.json };\n});\n\nfunction getValorLinha(numLinha, mes) {\n  const linha = linhasPorSeq[numLinha];\n  if (!linha) return 0;\n  if (linha.valoresCalculados && linha.valoresCalculados[mes] !== undefined) {\n    return linha.valoresCalculados[mes] || 0;\n  }\n  const valor = linha[mes];\n  return valor !== null && valor !== undefined ? valor : 0;\n}\n\nfunction calcularAcumuladoValorAnterior(refLinha, mesLimiteIndex) {\n  const match = refLinha.match(/#L(\\d+)/);\n  if (!match) return null;\n\n  const numLinhaRef = parseInt(match[1]);\n  const linhaReferenciada = linhasPorSeq[numLinhaRef];\n  if (!linhaReferenciada) return null;\n\n  const valores = {};\n  let acumulado = 0;\n\n  meses.forEach((mes, index) => {\n    if (index <= mesLimiteIndex) {\n      const valorMes = getValorLinha(numLinhaRef, mes);\n      acumulado += valorMes;\n      valores[mes] = acumulado;\n    } else {\n      valores[mes] = 0;\n    }\n  });\n\n  valores.conta_acumulado = valores[meses[mesLimiteIndex]];\n  return valores;\n}\n\nObject.values(linhasPorSeq).forEach(linha => {\n  if (linha.tipo_linha !== 'ACUM VLR ANT') return;\n\n  const referencia = linha.dre_linha_valor;\n  if (!referencia) return;\n\n  const valores = calcularAcumuladoValorAnterior(referencia, mesLimiteIndex);\n\n  if (valores) {\n    linhasPorSeq[linha.dre_linha_seq] = {\n      ...linha,\n      ...valores,\n      valoresCalculados: valores,\n      referencia_original: referencia\n    };\n  }\n});\n\nconst todasLinhas = Object.values(linhasPorSeq);\ntodasLinhas.sort((a, b) => a.dre_linha_seq - b.dre_linha_seq);\n\nreturn todasLinhas.map(linha => ({ json: linha }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          688,
          0
        ],
        "id": "6e134c85-2e33-4de8-a66a-73f667923eca",
        "name": "Acumulados - old"
      },
      {
        "parameters": {
          "jsCode": "// ===== NODE 4: PERCENTUAIS =====\nconst items = $input.all();\n\nconst linhasPorSeq = {};\nitems.forEach(item => {\n  linhasPorSeq[item.json.dre_linha_seq] = { ...item.json };\n});\n\nObject.values(linhasPorSeq).forEach(linha => {\n  const percRef = linha.perc_ref;\n\n  if (!percRef || percRef === '') {\n    linha.conta_perc = null;\n    return;\n  }\n\n  if (percRef === '#L%') {\n    linha.conta_perc = 1;\n    return;\n  }\n\n  if (percRef === '#L%%') {\n    linha.conta_perc = null;\n    return;\n  }\n\n  const match = percRef.match(/#L(\\d+)/);\n  if (match) {\n    const numLinhaRef = parseInt(match[1]);\n    const linhaReferenciada = linhasPorSeq[numLinhaRef];\n\n    if (!linhaReferenciada) {\n      linha.conta_perc = null;\n      return;\n    }\n\n    const valorAtual = linha.conta_acumulado || 0;\n    const valorReferencia = linhaReferenciada.conta_acumulado || 0;\n\n    linha.conta_perc = valorReferencia === 0 ? 0 : valorAtual / valorReferencia;\n    return;\n  }\n\n  linha.conta_perc = null;\n});\n\nconst todasLinhas = Object.values(linhasPorSeq);\ntodasLinhas.sort((a, b) => a.dre_linha_seq - b.dre_linha_seq);\n\nreturn todasLinhas.map(linha => ({ json: linha }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          928,
          0
        ],
        "id": "63a98d1a-323d-491b-b19d-e2dc72a8d4bf",
        "name": "Percentuais - old"
      },
      {
        "parameters": {
          "jsCode": "// Pega os items de entrada\nconst items = $input.all();\n\n// Ordena por dre_linha_nivel primeiro, depois por dre_linha_seq\nitems.sort((a, b) => {\n  // Compara dre_linha_nivel\n  if (a.json.dre_linha_nivel !== b.json.dre_linha_nivel) {\n    return a.json.dre_linha_nivel - b.json.dre_linha_nivel;\n  }\n  // Se dre_linha_nivel for igual, compara dre_linha_seq\n  return a.json.dre_linha_seq - b.json.dre_linha_seq;\n});\n\nreturn items;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          16,
          480
        ],
        "id": "86a1d178-6abf-4e31-897e-5621cc113f0a",
        "name": "Sequencia"
      },
      {
        "parameters": {
          "jsCode": "// ===== NODE 1: BASE (CONTA + CONSTANTE) =====\n// Processa linhas que já têm valores prontos\n// Output: Todas as linhas com valores base preparados\n\nconst items = $input.all();\nconst meses = [\n  'conta_janeiro', 'conta_fevereiro', 'conta_marco', 'conta_abril',\n  'conta_maio', 'conta_junho', 'conta_julho', 'conta_agosto',\n  'conta_setembro', 'conta_outubro', 'conta_novembro', 'conta_dezembro'\n];\n\n// Captura período limite\nlet periodoLimite = null;\nitems.forEach(item => {\n  if (!periodoLimite && item.json.crg_periodo) {\n    periodoLimite = item.json.crg_periodo;\n  }\n});\n\nfunction getMesIndex(periodo) {\n  if (!periodo) return 11;\n  const mesNum = parseInt(periodo.toString().slice(-2));\n  return mesNum - 1;\n}\n\nconst mesLimiteIndex = getMesIndex(periodoLimite);\n\nconsole.log(`\\n🏁 NODE 1: BASE - Período ${periodoLimite} (até ${meses[mesLimiteIndex]})`);\n\n// Cria mapa com TODAS as linhas\nconst linhasPorSeq = {};\nitems.forEach(item => {\n  linhasPorSeq[item.json.dre_linha_seq] = {\n    ...item.json,\n    valoresCalculados: null\n  };\n});\n\nlet processados = 0;\n\n// Processa CONTA e CONSTANTE\nObject.values(linhasPorSeq).forEach(linha => {\n  if (linha.tipo_linha !== 'CONTA' && linha.tipo_linha !== 'CONSTANTE') {\n    return;\n  }\n\n  const valores = {};\n  let somaAcumulado = 0;\n\n  // Para CONTA: valores já vêm preenchidos nos campos conta_*\n  // Para CONSTANTE: pega o valor de dre_linha_valor\n  if (linha.tipo_linha === 'CONSTANTE') {\n    const valorConstante = parseFloat(linha.dre_linha_valor || 0);\n    \n    meses.forEach((mes, index) => {\n      if (index <= mesLimiteIndex) {\n        valores[mes] = valorConstante;\n        somaAcumulado += valorConstante;\n      } else {\n        valores[mes] = 0;\n      }\n    });\n  } else {\n    // CONTA: usa valores que já vêm nos campos\n    meses.forEach((mes, index) => {\n      if (index <= mesLimiteIndex) {\n        const valor = linha[mes] || 0;\n        valores[mes] = valor;\n        somaAcumulado += valor;\n      } else {\n        valores[mes] = 0;\n      }\n    });\n  }\n\n  valores.conta_acumulado = somaAcumulado;\n\n  // Atualiza linha\n  linhasPorSeq[linha.dre_linha_seq] = {\n    ...linha,\n    ...valores,\n    valoresCalculados: valores\n  };\n\n  processados++;\n  console.log(`✅ ${linha.tipo_linha} L${linha.dre_linha_seq} - ${linha.dre_linha_descri}`);\n});\n\n// Retorna TODAS as linhas ordenadas\nconst todasLinhas = Object.values(linhasPorSeq);\ntodasLinhas.sort((a, b) => a.dre_linha_seq - b.dre_linha_seq);\n\nconsole.log(`📊 BASE processadas: ${processados}`);\nconsole.log(`📦 Total linhas: ${todasLinhas.length}\\n`);\n\nreturn todasLinhas.map(linha => ({ json: linha }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          240,
          480
        ],
        "id": "9c9ddf8c-d2cc-40cd-aa1e-41ed0d4bc37b",
        "name": "Base ( Contas e Constantes)"
      },
      {
        "parameters": {
          "jsCode": "// ===== NODE 2: FÓRMULAS =====\n// Processa linhas do tipo FORMULA\n// Input: Todas as linhas (com BASE já calculada)\n// Output: Todas as linhas (com BASE + FORMULAS calculadas)\n\nconst items = $input.all();\nconst meses = [\n  'conta_janeiro', 'conta_fevereiro', 'conta_marco', 'conta_abril',\n  'conta_maio', 'conta_junho', 'conta_julho', 'conta_agosto',\n  'conta_setembro', 'conta_outubro', 'conta_novembro', 'conta_dezembro'\n];\n\n// Captura período limite\nlet periodoLimite = null;\nitems.forEach(item => {\n  if (!periodoLimite && item.json.crg_periodo) {\n    periodoLimite = item.json.crg_periodo;\n  }\n});\n\nfunction getMesIndex(periodo) {\n  if (!periodo) return 11;\n  const mesNum = parseInt(periodo.toString().slice(-2));\n  return mesNum - 1;\n}\n\nconst mesLimiteIndex = getMesIndex(periodoLimite);\n\nconsole.log(`\\n🧮 NODE 2: FÓRMULAS - Período ${periodoLimite}`);\n\n// Cria mapa\nconst linhasPorSeq = {};\nitems.forEach(item => {\n  linhasPorSeq[item.json.dre_linha_seq] = { ...item.json };\n});\n\n// Funções auxiliares\nfunction corrigirFormula(formula) {\n  if (!formula || typeof formula !== 'string') return formula;\n  return formula.replace(/L#(\\d+)/g, '#L$1').trim();\n}\n\nfunction expandirSomaLinha(formula) {\n  const regex = /SOMA_LINHA\\(#L(\\d+):#L(\\d+)\\)/g;\n  return formula.replace(regex, (match, inicio, fim) => {\n    const linhas = [];\n    for (let i = parseInt(inicio); i <= parseInt(fim); i++) {\n      linhas.push(`#L${i}`);\n    }\n    return linhas.join('+');\n  });\n}\n\nfunction expandirPerc(formula) {\n  const regex = /PERC\\(([^)]+)\\)/g;\n  return formula.replace(regex, (match, expressao) => {\n    return `((${expressao})*100)`;\n  });\n}\n\nfunction getValorLinha(numLinha, mes) {\n  const linha = linhasPorSeq[numLinha];\n  if (!linha) {\n    console.warn(`⚠️  Linha #L${numLinha} não encontrada`);\n    return 0;\n  }\n  \n  // Se já calculado, usa valor calculado\n  if (linha.valoresCalculados && linha.valoresCalculados[mes] !== undefined) {\n    return linha.valoresCalculados[mes] || 0;\n  }\n  \n  // Senão, pega valor direto\n  const valor = linha[mes];\n  return valor !== null && valor !== undefined ? valor : 0;\n}\n\nfunction calcularFormula(formula, mes) {\n  let expressao = formula.replace(/#L(\\d+)/g, (match, numLinha) => {\n    return getValorLinha(parseInt(numLinha), mes);\n  });\n  \n  try {\n    const resultado = eval(expressao);\n    return isFinite(resultado) ? resultado : 0;\n  } catch (error) {\n    console.error(`❌ Erro em fórmula: ${formula} (${mes})`);\n    return 0;\n  }\n}\n\nlet processados = 0;\nlet ignorados = 0;\n\n// Processa FORMULA\nObject.values(linhasPorSeq).forEach(linha => {\n  if (linha.tipo_linha !== 'FORMULA') {\n    return;\n  }\n\n  let formula = linha.dre_linha_valor;\n\n  // Ignora fórmulas inválidas\n  if (!formula || \n      formula.includes('APONTA PARA CONTA') || \n      formula.includes('QUE NAO TEM') ||\n      formula.includes('PLANO DE CONTAS')) {\n    console.log(`⚠️  Ignorado L${linha.dre_linha_seq} - ${formula}`);\n    ignorados++;\n    return;\n  }\n\n  // Processa\n  formula = corrigirFormula(formula);\n\n  // Verifica se é constante numérica\n  const isConstante = /^-?\\d+(\\.\\d+)?$/.test(formula);\n\n  if (isConstante) {\n    const valorConstante = parseFloat(formula);\n    const valores = {};\n    \n    meses.forEach((mes, index) => {\n      valores[mes] = index <= mesLimiteIndex ? valorConstante : 0;\n    });\n    valores.conta_acumulado = valorConstante;\n\n    linhasPorSeq[linha.dre_linha_seq] = {\n      ...linha,\n      ...valores,\n      valoresCalculados: valores,\n      formula_original: linha.dre_linha_valor,\n      formula_processada: formula\n    };\n\n    processados++;\n    console.log(`✅ CONSTANTE L${linha.dre_linha_seq} = ${valorConstante}`);\n    return;\n  }\n\n  // Expande funções\n  formula = expandirSomaLinha(formula);\n  formula = expandirPerc(formula);\n\n  // Calcula mês a mês\n  const valores = {};\n  let somaAcumulado = 0;\n\n  meses.forEach((mes, index) => {\n    if (index <= mesLimiteIndex) {\n      const valor = calcularFormula(formula, mes);\n      valores[mes] = valor;\n      somaAcumulado += valor;\n    } else {\n      valores[mes] = 0;\n    }\n  });\n\n  valores.conta_acumulado = somaAcumulado;\n\n  linhasPorSeq[linha.dre_linha_seq] = {\n    ...linha,\n    ...valores,\n    valoresCalculados: valores,\n    formula_original: linha.dre_linha_valor,\n    formula_processada: formula\n  };\n\n  processados++;\n  console.log(`✅ FORMULA L${linha.dre_linha_seq} - ${linha.dre_linha_descri}`);\n});\n\n// Retorna TODAS\nconst todasLinhas = Object.values(linhasPorSeq);\ntodasLinhas.sort((a, b) => a.dre_linha_seq - b.dre_linha_seq);\n\nconsole.log(`📊 Fórmulas processadas: ${processados}`);\nconsole.log(`⚠️  Fórmulas ignoradas: ${ignorados}`);\nconsole.log(`📦 Total linhas: ${todasLinhas.length}\\n`);\n\nreturn todasLinhas.map(linha => ({ json: linha }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          464,
          480
        ],
        "id": "217b739c-afbf-4c55-ab73-90220195f632",
        "name": "Fórmulas"
      },
      {
        "parameters": {
          "jsCode": "// ===== NODE 3: ACUMULADOS (ACUM VLR ANT) =====\n// Processa linhas do tipo ACUM VLR ANT\n// Input: Todas as linhas (com BASE + FORMULAS já calculadas)\n// Output: Todas as linhas (com ACUMULADOS calculados)\n\nconst items = $input.all();\nconst meses = [\n  'conta_janeiro', 'conta_fevereiro', 'conta_marco', 'conta_abril',\n  'conta_maio', 'conta_junho', 'conta_julho', 'conta_agosto',\n  'conta_setembro', 'conta_outubro', 'conta_novembro', 'conta_dezembro'\n];\n\n// Captura período limite\nlet periodoLimite = null;\nitems.forEach(item => {\n  if (!periodoLimite && item.json.crg_periodo) {\n    periodoLimite = item.json.crg_periodo;\n  }\n});\n\nfunction getMesIndex(periodo) {\n  if (!periodo) return 11;\n  const mesNum = parseInt(periodo.toString().slice(-2));\n  return mesNum - 1;\n}\n\nconst mesLimiteIndex = getMesIndex(periodoLimite);\n\nconsole.log(`\\n📈 NODE 3: ACUMULADOS - Período ${periodoLimite}`);\n\n// Cria mapa\nconst linhasPorSeq = {};\nitems.forEach(item => {\n  linhasPorSeq[item.json.dre_linha_seq] = { ...item.json };\n});\n\nfunction getValorLinha(numLinha, mes) {\n  const linha = linhasPorSeq[numLinha];\n  if (!linha) {\n    console.warn(`⚠️  Linha #L${numLinha} não encontrada`);\n    return 0;\n  }\n  \n  if (linha.valoresCalculados && linha.valoresCalculados[mes] !== undefined) {\n    return linha.valoresCalculados[mes] || 0;\n  }\n  \n  const valor = linha[mes];\n  return valor !== null && valor !== undefined ? valor : 0;\n}\n\nfunction calcularAcumuladoValorAnterior(refLinha, mesLimiteIndex) {\n  const match = refLinha.match(/#L(\\d+)/);\n  if (!match) {\n    console.warn(`⚠️  Referência inválida: ${refLinha}`);\n    return null;\n  }\n\n  const numLinhaRef = parseInt(match[1]);\n  const linhaReferenciada = linhasPorSeq[numLinhaRef];\n\n  if (!linhaReferenciada) {\n    console.warn(`⚠️  Linha #L${numLinhaRef} não encontrada`);\n    return null;\n  }\n\n  const valores = {};\n  let acumulado = 0;\n\n  meses.forEach((mes, index) => {\n    if (index <= mesLimiteIndex) {\n      const valorMes = getValorLinha(numLinhaRef, mes);\n      acumulado += valorMes;\n      valores[mes] = acumulado;\n    } else {\n      valores[mes] = 0;\n    }\n  });\n\n  valores.conta_acumulado = valores[meses[mesLimiteIndex]];\n\n  return valores;\n}\n\nlet processados = 0;\n\n// Processa ACUM VLR ANT\nObject.values(linhasPorSeq).forEach(linha => {\n  if (linha.tipo_linha !== 'ACUM VLR ANT') {\n    return;\n  }\n\n  const referencia = linha.dre_linha_valor;\n\n  if (!referencia) {\n    console.warn(`⚠️  L${linha.dre_linha_seq} sem referência`);\n    return;\n  }\n\n  const valores = calcularAcumuladoValorAnterior(referencia, mesLimiteIndex);\n\n  if (valores) {\n    linhasPorSeq[linha.dre_linha_seq] = {\n      ...linha,\n      ...valores,\n      valoresCalculados: valores,\n      referencia_original: referencia\n    };\n\n    processados++;\n    console.log(`✅ ACUM L${linha.dre_linha_seq} - ${linha.dre_linha_descri} (ref: ${referencia})`);\n  }\n});\n\n// Retorna TODAS\nconst todasLinhas = Object.values(linhasPorSeq);\ntodasLinhas.sort((a, b) => a.dre_linha_seq - b.dre_linha_seq);\n\nconsole.log(`📊 Acumulados processados: ${processados}`);\nconsole.log(`📦 Total linhas: ${todasLinhas.length}\\n`);\n\nreturn todasLinhas.map(linha => ({ json: linha }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          720,
          480
        ],
        "id": "46a3b39c-36d2-4d94-97b7-8cff5987b26f",
        "name": "Acumulados"
      },
      {
        "parameters": {
          "jsCode": "// ===== NODE 4: PERCENTUAIS =====\n// Calcula percentuais de TODAS as linhas com base em perc_ref\n// Input: Todas as linhas (completas)\n// Output: Todas as linhas com conta_perc calculado\n\nconst items = $input.all();\n\nconsole.log(`\\n📊 NODE 4: PERCENTUAIS`);\n\n// Cria mapa\nconst linhasPorSeq = {};\nitems.forEach(item => {\n  linhasPorSeq[item.json.dre_linha_seq] = { ...item.json };\n});\n\nlet processados = 0;\nlet semPerc = 0;\nlet erros = 0;\n\n// Processa TODOS os percentuais\nObject.values(linhasPorSeq).forEach(linha => {\n  const percRef = linha.perc_ref;\n\n  // Sem perc_ref = null\n  if (!percRef || percRef === '') {\n    linha.conta_perc = null;\n    semPerc++;\n    return;\n  }\n\n  // #L% = linha base (100%)\n  if (percRef === '#L%') {\n    linha.conta_perc = 1;\n    processados++;\n    console.log(`✅ BASE L${linha.dre_linha_seq} - ${linha.dre_linha_descri} = 100%`);\n    return;\n  }\n\n  // #L%% = não calcula\n  if (percRef === '#L%%') {\n    linha.conta_perc = null;\n    semPerc++;\n    return;\n  }\n\n  // #L## = referência a outra linha\n  const match = percRef.match(/#L(\\d+)/);\n  if (match) {\n    const numLinhaRef = parseInt(match[1]);\n    const linhaReferenciada = linhasPorSeq[numLinhaRef];\n\n    if (!linhaReferenciada) {\n      console.warn(`⚠️  L${linha.dre_linha_seq} - Ref #L${numLinhaRef} não encontrada`);\n      linha.conta_perc = null;\n      erros++;\n      return;\n    }\n\n    const valorAtual = linha.conta_acumulado || 0;\n    const valorReferencia = linhaReferenciada.conta_acumulado || 0;\n\n    if (valorReferencia === 0) {\n      linha.conta_perc = 0;\n      console.log(`⚠️  L${linha.dre_linha_seq} - Divisão por zero (ref: #L${numLinhaRef})`);\n    } else {\n      linha.conta_perc = valorAtual / valorReferencia;\n      processados++;\n      const percFormatado = (linha.conta_perc * 100).toFixed(2);\n      console.log(`✅ PERC L${linha.dre_linha_seq} = ${percFormatado}% (ref: #L${numLinhaRef})`);\n    }\n    return;\n  }\n\n  // Formato inválido\n  console.warn(`⚠️  L${linha.dre_linha_seq} - perc_ref inválido: ${percRef}`);\n  linha.conta_perc = null;\n  erros++;\n});\n\n// Retorna TODAS\nconst todasLinhas = Object.values(linhasPorSeq);\ntodasLinhas.sort((a, b) => a.dre_linha_seq - b.dre_linha_seq);\n\nconsole.log(`📊 Percentuais calculados: ${processados}`);\nconsole.log(`⚠️  Sem percentual: ${semPerc}`);\nconsole.log(`❌ Erros: ${erros}`);\nconsole.log(`📦 Total linhas: ${todasLinhas.length}\\n`);\n\nreturn todasLinhas.map(linha => ({ json: linha }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          944,
          480
        ],
        "id": "7f4c923d-54d2-43b3-8f08-148636e967ec",
        "name": "Percentuais"
      },
      {
        "parameters": {
          "operation": "delete",
          "tableId": "dre_calc_atual",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "emp_cod_integra",
                "condition": "eq",
                "keyValue": "={{ $json.empresa }}"
              },
              {
                "keyName": "crg_periodo",
                "condition": "gt",
                "keyValue": "={{ $json.periodo.toString().substring(0,4).toNumber()*100 }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          464,
          272
        ],
        "id": "0eab3178-0b6e-43c7-8669-7bf3eec1583b",
        "name": "Deleta Calculo",
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "XZF8BL3CGNL9YXQR",
            "name": "Supa Sancal DRE"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Deleta Calculo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca Emp Carga": {
        "main": [
          [
            {
              "node": "Busca Linhas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca Linhas": {
        "main": [
          [
            {
              "node": "Sequencia",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Grava Calc": {
        "main": [
          [
            {
              "node": "Monta Resposta e Log",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Monta Resposta e Log": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond to Webhook": {
        "main": [
          [
            {
              "node": "Grava Log",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sequencia - old ": {
        "main": [
          [
            {
              "node": "Base ( Contas e Constantes) - old",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Base ( Contas e Constantes) - old": {
        "main": [
          [
            {
              "node": "Fórmulas  - old",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fórmulas  - old": {
        "main": [
          [
            {
              "node": "Acumulados - old",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Acumulados - old": {
        "main": [
          [
            {
              "node": "Percentuais - old",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sequencia": {
        "main": [
          [
            {
              "node": "Base ( Contas e Constantes)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Base ( Contas e Constantes)": {
        "main": [
          [
            {
              "node": "Fórmulas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fórmulas": {
        "main": [
          [
            {
              "node": "Acumulados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Acumulados": {
        "main": [
          [
            {
              "node": "Percentuais",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Percentuais": {
        "main": [
          [
            {
              "node": "Grava Calc",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Deleta Calculo": {
        "main": [
          [
            {
              "node": "Busca Emp Carga",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Synapiens Development",
    "name": "Version 62564403",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-26T21:22:20.342Z",
        "id": 20,
        "workflowId": "oTzP4eqo3UdpiwLC",
        "versionId": "62564403-64a5-4b75-b204-3edbe6c87247",
        "event": "activated",
        "userId": "a3e10bf8-6240-4e87-9f09-99823d96b21a"
      },
      {
        "createdAt": "2026-04-26T21:22:26.054Z",
        "id": 21,
        "workflowId": "oTzP4eqo3UdpiwLC",
        "versionId": "62564403-64a5-4b75-b204-3edbe6c87247",
        "event": "deactivated",
        "userId": "a3e10bf8-6240-4e87-9f09-99823d96b21a"
      },
      {
        "createdAt": "2026-04-26T21:22:26.091Z",
        "id": 22,
        "workflowId": "oTzP4eqo3UdpiwLC",
        "versionId": "62564403-64a5-4b75-b204-3edbe6c87247",
        "event": "activated",
        "userId": "a3e10bf8-6240-4e87-9f09-99823d96b21a"
      }
    ]
  }
}