workflows/SANCAL_DRE_V0/900202_-_Calcula_DRE_Antiga.json
{
  "updatedAt": "2026-05-12T01:11:38.421Z",
  "createdAt": "2026-04-25T07:36:47.719Z",
  "id": "Is1p5yRK8JXYBfCp",
  "name": "900/202 - Calcula DRE Antiga",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calc_dre",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1056,
        144
      ],
      "id": "a39dc442-17a0-46d8-8a1d-d9adfb708c55",
      "name": "Webhook",
      "webhookId": "9ededdd9-8503-46ad-ab56-1a09b8388d78"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b9933092-5c95-4724-9dd2-553f152dd69a",
              "name": "empresa",
              "value": "={{ $json.body.emp_cod_integra }}",
              "type": "string"
            },
            {
              "id": "9311d32a-1033-45f8-a440-b296f53c3d55",
              "name": "periodo",
              "value": "={{ ($json.body.crg_emp_periodo_ano * 100) + $json.body.crg_emp_periodo_mes }}",
              "type": "number"
            },
            {
              "id": "36a0e0e5-57d6-4adc-871b-e42ae3fa4cd8",
              "name": "origem_disparo",
              "value": "={{ $json.headers.origin }}",
              "type": "string"
            },
            {
              "id": "133903f1-801d-4b78-a9cc-bfc88187589d",
              "name": "ip_disp",
              "value": "={{ $json.headers['x-forwarded-for'] }}",
              "type": "string"
            },
            {
              "id": "d4e5f6a7-b8c9-0123-def0-123456789012",
              "name": "user_id",
              "value": "={{ $json.body.user_id }}",
              "type": "string"
            },
            {
              "id": "e5f6a7b8-c9d0-1234-ef01-234567890123",
              "name": "cliente_id",
              "value": "={{ $json.body.cliente_id }}",
              "type": "string"
            },
            {
              "id": "467a38ec-f93e-4fc6-9c68-2c5d192f7aff",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -832,
        144
      ],
      "id": "069b1e03-e15b-4bde-ad3b-bb73da085c27",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "viw_emp_crg",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "crg_periodo",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields').first().json.periodo }}"
            },
            {
              "keyName": "crg_emp_integra",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields').first().json.empresa }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -368,
        144
      ],
      "id": "b4605f50-3fd5-44de-8a1f-9e5cb8365e3d",
      "name": "Busca Emp Carga",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "viw_linha_carga",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "emp_cod_integra",
              "condition": "eq",
              "keyValue": "={{ $json.crg_emp_integra }}"
            },
            {
              "keyName": "dre_ativo_sn",
              "condition": "eq",
              "keyValue": "S"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -128,
        144
      ],
      "id": "18938d4f-ffaf-423a-9021-de40c6cbd816",
      "name": "Busca Linhas",
      "executeOnce": false
    },
    {
      "parameters": {
        "tableId": "dre_calc_atual",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "dre_template_id",
              "fieldValue": "={{ $('Percentuais').first().json.dre_template_id }}"
            },
            {
              "fieldId": "cliente_id",
              "fieldValue": "={{ $('Percentuais').first().json.cliente_id }}"
            },
            {
              "fieldId": "emp_cnpj_raiz",
              "fieldValue": "={{ $json.cnpj_raiz }}"
            },
            {
              "fieldId": "emp_cod_integra",
              "fieldValue": "={{ $json.emp_cod_integra }}"
            },
            {
              "fieldId": "emp_cnpj",
              "fieldValue": "={{ $json.emp_cnpj }}"
            },
            {
              "fieldId": "emp_nome_reduz",
              "fieldValue": "={{ $json.emp_nome_reduz }}"
            },
            {
              "fieldId": "estilo_linha_id",
              "fieldValue": "={{ $json.estilo_linha_id }}"
            },
            {
              "fieldId": "crg_periodo",
              "fieldValue": "={{ $json.crg_periodo }}"
            },
            {
              "fieldId": "crg_prd_mes",
              "fieldValue": "={{ $json.crg_periodo % 100 }}"
            },
            {
              "fieldId": "crg_prd_ano",
              "fieldValue": "={{ Math.floor($json.crg_periodo / 100) }}"
            },
            {
              "fieldId": "dre_linha_descri",
              "fieldValue": "={{ $json.dre_linha_descri }}"
            },
            {
              "fieldId": "dre_linha_seq",
              "fieldValue": "={{ $json.dre_linha_seq }}"
            },
            {
              "fieldId": "dre_linha_nivel",
              "fieldValue": "={{ $json.dre_linha_nivel }}"
            },
            {
              "fieldId": "calcula_sn",
              "fieldValue": "={{ $json.calcula_sn }}"
            },
            {
              "fieldId": "dre_linha_visivel",
              "fieldValue": "={{ $json.dre_linha_visivel }}"
            },
            {
              "fieldId": "dre_linha_valor",
              "fieldValue": "={{ $json.dre_linha_valor }}"
            },
            {
              "fieldId": "dre_linha_valor_fonte",
              "fieldValue": "={{ $json.dre_linha_valor_fonte }}"
            },
            {
              "fieldId": "conta_janeiro",
              "fieldValue": "={{ $json.conta_janeiro ?? 0 }}"
            },
            {
              "fieldId": "conta_fevereiro",
              "fieldValue": "={{ $json.conta_fevereiro ?? 0 }}"
            },
            {
              "fieldId": "conta_marco",
              "fieldValue": "={{ $json.conta_marco ?? 0 }}"
            },
            {
              "fieldId": "conta_abril",
              "fieldValue": "={{ $json.conta_abril ?? 0 }}"
            },
            {
              "fieldId": "conta_maio",
              "fieldValue": "={{ $json.conta_maio ?? 0 }}"
            },
            {
              "fieldId": "conta_junho",
              "fieldValue": "={{ $json.conta_junho ?? 0 }}"
            },
            {
              "fieldId": "conta_julho",
              "fieldValue": "={{ $json.conta_julho ?? 0 }}"
            },
            {
              "fieldId": "conta_agosto",
              "fieldValue": "={{ $json.conta_agosto ?? 0 }}"
            },
            {
              "fieldId": "conta_setembro",
              "fieldValue": "={{ $json.conta_setembro ?? 0 }}"
            },
            {
              "fieldId": "conta_outubro",
              "fieldValue": "={{ $json.conta_outubro ?? 0 }}"
            },
            {
              "fieldId": "conta_novembro",
              "fieldValue": "={{ $json.conta_novembro ?? 0 }}"
            },
            {
              "fieldId": "conta_dezembro",
              "fieldValue": "={{ $json.conta_dezembro ?? 0 }}"
            },
            {
              "fieldId": "conta_acumulado",
              "fieldValue": "={{ $json.conta_acumulado ?? 0 }}"
            },
            {
              "fieldId": "conta_acum_check",
              "fieldValue": "={{ $json.conta_acum_check ?? 0 }}"
            },
            {
              "fieldId": "conta_perc",
              "fieldValue": "={{ $json.conta_perc ?? 0 }}"
            },
            {
              "fieldId": "valores_calc",
              "fieldValue": "={{ $json.valoresCalculados ?? '{}' }}"
            },
            {
              "fieldId": "formula_original",
              "fieldValue": "={{ $json.formula_original ?? '' }}"
            },
            {
              "fieldId": "formula_processada",
              "fieldValue": "={{ $json.formula_processada ?? '' }}"
            },
            {
              "fieldId": "perc_ref",
              "fieldValue": "={{ $json.perc_ref }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1056,
        576
      ],
      "id": "b82acf9d-6ae9-4a5c-ad02-ea8210f0480a",
      "name": "Grava Calc",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Monta resposta e payload de log em um único nó\n// Evita referências a .item de nós anteriores que quebraram o pairedItem\nconst items = $input.all();\nconst ef = $('Edit Fields').first().json;\n\nconst linhasGravadas = items.length;\n\nreturn [{\n  json: {\n    // resposta ao frontend\n    resposta: {\n      sucesso: true,\n      empresa: ef.empresa,\n      periodo: ef.periodo,\n      linhas_gravadas: linhasGravadas,\n      processado_em: new Date().toISOString()\n    },\n    // payload do log\n    log: {\n      cliente_id:      ef.cliente_id     || null,\n      empresa_id:      ef.empresa_id     || null,\n      emp_integra_id:  ef.empresa,\n      calc_periodo:    ef.periodo,\n      user_calc:       ef.user_id        || null,\n      ip_disparo:      ef.ip_disp        || null,\n      origem_disparo:  ef.origem_disparo || null,\n      linhas_gravadas: linhasGravadas,\n      status_calc:     'sucesso'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        576
      ],
      "id": "1ece944d-3aa9-448b-ae6b-fd74058efb99",
      "name": "Monta Resposta e Log"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.resposta) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -608,
        576
      ],
      "id": "d42a2b36-dc17-4fc0-8cfe-599000a3a1eb",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "tableId": "tab_cntrl_calc",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "cliente_id",
              "fieldValue": "={{ $json.log.cliente_id }}"
            },
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.log.empresa_id }}"
            },
            {
              "fieldId": "emp_integra_id",
              "fieldValue": "={{ $json.log.emp_integra_id }}"
            },
            {
              "fieldId": "calc_periodo",
              "fieldValue": "={{ $json.log.calc_periodo }}"
            },
            {
              "fieldId": "user_calc",
              "fieldValue": "={{ $json.log.user_calc }}"
            },
            {
              "fieldId": "ip_disparo",
              "fieldValue": "={{ $json.log.ip_disparo }}"
            },
            {
              "fieldId": "origem_disparo",
              "fieldValue": "={{ $json.log.origem_disparo }}"
            },
            {
              "fieldId": "linhas_gravadas",
              "fieldValue": "={{ $json.log.linhas_gravadas }}"
            },
            {
              "fieldId": "status_calc",
              "fieldValue": "={{ $json.log.status_calc }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -384,
        576
      ],
      "id": "77831d21-fc68-4875-8658-59ba0dd9812f",
      "name": "Grava Log"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "dre_calc_atual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "emp_cod_integra",
              "condition": "eq",
              "keyValue": "={{ $json.empresa }}"
            },
            {
              "keyName": "crg_periodo",
              "condition": "gt",
              "keyValue": "={{ $json.periodo.toString().substring(0,4).toNumber()*100 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -608,
        144
      ],
      "id": "627ebed0-f683-40a1-a89f-48faa32d2936",
      "name": "Deleta Calculo",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nitems.sort((a, b) => {\n  if (a.json.dre_linha_nivel !== b.json.dre_linha_nivel) {\n    return a.json.dre_linha_nivel - b.json.dre_linha_nivel;\n  }\n  return a.json.dre_linha_seq - b.json.dre_linha_seq;\n});\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        352
      ],
      "id": "34415101-bc22-4966-8563-456675f653e2",
      "name": "Sequencia "
    },
    {
      "parameters": {
        "jsCode": "// ===== NODE 1: BASE (CONTA + CONSTANTE) =====\nconst items = $input.all();\nconst meses = [\n  'conta_janeiro', 'conta_fevereiro', 'conta_marco', 'conta_abril',\n  'conta_maio', 'conta_junho', 'conta_julho', 'conta_agosto',\n  'conta_setembro', 'conta_outubro', 'conta_novembro', 'conta_dezembro'\n];\n\nlet periodoLimite = null;\nitems.forEach(item => {\n  if (!periodoLimite && item.json.crg_periodo) {\n    periodoLimite = item.json.crg_periodo;\n  }\n});\n\nfunction getMesIndex(periodo) {\n  if (!periodo) return 11;\n  const mesNum = parseInt(periodo.toString().slice(-2));\n  return mesNum - 1;\n}\n\nconst mesLimiteIndex = getMesIndex(periodoLimite);\n\nconst linhasPorSeq = {};\nitems.forEach(item => {\n  linhasPorSeq[item.json.dre_linha_seq] = {\n    ...item.json,\n    valoresCalculados: null\n  };\n});\n\nObject.values(linhasPorSeq).forEach(linha => {\n  if (linha.tipo_linha !== 'CONTA' && linha.tipo_linha !== 'CONSTANTE') return;\n\n  const valores = {};\n  let somaAcumulado = 0;\n\n  if (linha.tipo_linha === 'CONSTANTE') {\n    const valorConstante = parseFloat(linha.dre_linha_valor || 0);\n    meses.forEach((mes, index) => {\n      if (index <= mesLimiteIndex) {\n        valores[mes] = valorConstante;\n        somaAcumulado += valorConstante;\n      } else {\n        valores[mes] = 0;\n      }\n    });\n  } else {\n    meses.forEach((mes, index) => {\n      if (index <= mesLimiteIndex) {\n        const valor = linha[mes] || 0;\n        valores[mes] = valor;\n        somaAcumulado += valor;\n      } else {\n        valores[mes] = 0;\n      }\n    });\n  }\n\n  valores.conta_acumulado = somaAcumulado;\n\n  linhasPorSeq[linha.dre_linha_seq] = {\n    ...linha,\n    ...valores,\n    valoresCalculados: valores\n  };\n});\n\nconst todasLinhas = Object.values(linhasPorSeq);\ntodasLinhas.sort((a, b) => a.dre_linha_seq - b.dre_linha_seq);\n\nreturn todasLinhas.map(linha => ({ json: linha }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        352
      ],
      "id": "017447ab-965b-4981-a9d2-7a4e77c0b9cc",
      "name": "Base ( Contas e Constantes) "
    },
    {
      "parameters": {
        "jsCode": "// ===== NODE 3: ACUMULADOS (ACUM VLR ANT) =====\nconst items = $input.all();\nconst meses = [\n  'conta_janeiro', 'conta_fevereiro', 'conta_marco', 'conta_abril',\n  'conta_maio', 'conta_junho', 'conta_julho', 'conta_agosto',\n  'conta_setembro', 'conta_outubro', 'conta_novembro', 'conta_dezembro'\n];\n\nlet periodoLimite = null;\nitems.forEach(item => {\n  if (!periodoLimite && item.json.crg_periodo) {\n    periodoLimite = item.json.crg_periodo;\n  }\n});\n\nfunction getMesIndex(periodo) {\n  if (!periodo) return 11;\n  const mesNum = parseInt(periodo.toString().slice(-2));\n  return mesNum - 1;\n}\n\nconst mesLimiteIndex = getMesIndex(periodoLimite);\n\nconst linhasPorSeq = {};\nitems.forEach(item => {\n  linhasPorSeq[item.json.dre_linha_seq] = { ...item.json };\n});\n\nfunction getValorLinha(numLinha, mes) {\n  const linha = linhasPorSeq[numLinha];\n  if (!linha) return 0;\n  if (linha.valoresCalculados && linha.valoresCalculados[mes] !== undefined) {\n    return linha.valoresCalculados[mes] || 0;\n  }\n  const valor = linha[mes];\n  return valor !== null && valor !== undefined ? valor : 0;\n}\n\nfunction calcularAcumuladoValorAnterior(refLinha, mesLimiteIndex) {\n  const match = refLinha.match(/#L(\\d+)/);\n  if (!match) return null;\n\n  const numLinhaRef = parseInt(match[1]);\n  const linhaReferenciada = linhasPorSeq[numLinhaRef];\n  if (!linhaReferenciada) return null;\n\n  const valores = {};\n  let acumulado = 0;\n\n  meses.forEach((mes, index) => {\n    if (index <= mesLimiteIndex) {\n      const valorMes = getValorLinha(numLinhaRef, mes);\n      acumulado += valorMes;\n      valores[mes] = acumulado;\n    } else {\n      valores[mes] = 0;\n    }\n  });\n\n  valores.conta_acumulado = valores[meses[mesLimiteIndex]];\n  return valores;\n}\n\nObject.values(linhasPorSeq).forEach(linha => {\n  if (linha.tipo_linha !== 'ACUM VLR ANT') return;\n\n  const referencia = linha.dre_linha_valor;\n  if (!referencia) return;\n\n  const valores = calcularAcumuladoValorAnterior(referencia, mesLimiteIndex);\n\n  if (valores) {\n    linhasPorSeq[linha.dre_linha_seq] = {\n      ...linha,\n      ...valores,\n      valoresCalculados: valores,\n      referencia_original: referencia\n    };\n  }\n});\n\nconst todasLinhas = Object.values(linhasPorSeq);\ntodasLinhas.sort((a, b) => a.dre_linha_seq - b.dre_linha_seq);\n\nreturn todasLinhas.map(linha => ({ json: linha }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        352
      ],
      "id": "f62f3afe-1896-4e00-9820-578172b51271",
      "name": "Acumulados"
    },
    {
      "parameters": {
        "jsCode": "// ===== NODE 4: PERCENTUAIS =====\nconst items = $input.all();\n\nconst linhasPorSeq = {};\nitems.forEach(item => {\n  linhasPorSeq[item.json.dre_linha_seq] = { ...item.json };\n});\n\nObject.values(linhasPorSeq).forEach(linha => {\n  const percRef = linha.perc_ref;\n\n  if (!percRef || percRef === '') {\n    linha.conta_perc = null;\n    return;\n  }\n\n  if (percRef === '#L%') {\n    linha.conta_perc = 1;\n    return;\n  }\n\n  if (percRef === '#L%%') {\n    linha.conta_perc = null;\n    return;\n  }\n\n  const match = percRef.match(/#L(\\d+)/);\n  if (match) {\n    const numLinhaRef = parseInt(match[1]);\n    const linhaReferenciada = linhasPorSeq[numLinhaRef];\n\n    if (!linhaReferenciada) {\n      linha.conta_perc = null;\n      return;\n    }\n\n    const valorAtual = linha.conta_acumulado || 0;\n    const valorReferencia = linhaReferenciada.conta_acumulado || 0;\n\n    linha.conta_perc = valorReferencia === 0 ? 0 : valorAtual / valorReferencia;\n    return;\n  }\n\n  linha.conta_perc = null;\n});\n\nconst todasLinhas = Object.values(linhasPorSeq);\ntodasLinhas.sort((a, b) => a.dre_linha_seq - b.dre_linha_seq);\n\nreturn todasLinhas.map(linha => ({ json: linha }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        352
      ],
      "id": "f5334293-ce88-4508-a670-f0d8acf22dca",
      "name": "Percentuais"
    },
    {
      "parameters": {
        "jsCode": "// ===== NODE 2: FÓRMULAS =====\nconst items = $input.all();\nconst meses = [\n  'conta_janeiro', 'conta_fevereiro', 'conta_marco', 'conta_abril',\n  'conta_maio', 'conta_junho', 'conta_julho', 'conta_agosto',\n  'conta_setembro', 'conta_outubro', 'conta_novembro', 'conta_dezembro'\n];\n\nlet periodoLimite = null;\nitems.forEach(item => {\n  if (!periodoLimite && item.json.crg_periodo) {\n    periodoLimite = item.json.crg_periodo;\n  }\n});\n\nfunction getMesIndex(periodo) {\n  if (!periodo) return 11;\n  const mesNum = parseInt(periodo.toString().slice(-2));\n  return mesNum - 1;\n}\n\nconst mesLimiteIndex = getMesIndex(periodoLimite);\n\nconst linhasPorSeq = {};\nitems.forEach(item => {\n  linhasPorSeq[item.json.dre_linha_seq] = { ...item.json };\n});\n\nfunction corrigirFormula(formula) {\n  if (!formula || typeof formula !== 'string') return formula;\n  return formula.replace(/L#(\\d+)/g, '#L$1').trim();\n}\n\nfunction expandirSomaLinha(formula) {\n  const regex = /SOMA_LINHA\\(#L(\\d+):#L(\\d+)\\)/g;\n  return formula.replace(regex, (match, inicio, fim) => {\n    const linhas = [];\n    for (let i = parseInt(inicio); i <= parseInt(fim); i++) {\n      linhas.push(`#L${i}`);\n    }\n    return linhas.join('+');\n  });\n}\n\nfunction expandirPerc(formula) {\n  const regex = /PERC\\(([^)]+)\\)/g;\n  return formula.replace(regex, (match, expressao) => `((${expressao})*100)`);\n}\n\nfunction getValorLinha(numLinha, mes) {\n  const linha = linhasPorSeq[numLinha];\n  if (!linha) return 0;\n  if (linha.valoresCalculados && linha.valoresCalculados[mes] !== undefined) {\n    return linha.valoresCalculados[mes] || 0;\n  }\n  const valor = linha[mes];\n  return valor !== null && valor !== undefined ? valor : 0;\n}\n\nfunction calcularFormula(formula, mes) {\n  let expressao = formula.replace(/#L(\\d+)/g, (match, numLinha) => {\n    return getValorLinha(parseInt(numLinha), mes);\n  });\n  try {\n    const resultado = eval(expressao);\n    return isFinite(resultado) ? resultado : 0;\n  } catch (error) {\n    return 0;\n  }\n}\n\nObject.values(linhasPorSeq).forEach(linha => {\n  if (linha.tipo_linha !== 'FORMULA') return;\n\n  let formula = linha.dre_linha_valor;\n\n  if (!formula ||\n      formula.includes('APONTA PARA CONTA') ||\n      formula.includes('QUE NAO TEM') ||\n      formula.includes('PLANO DE CONTAS')) {\n    return;\n  }\n\n  formula = corrigirFormula(formula);\n\n  const isConstante = /^-?\\d+(\\.\\d+)?$/.test(formula);\n\n  if (isConstante) {\n    const valorConstante = parseFloat(formula);\n    const valores = {};\n    meses.forEach((mes, index) => {\n      valores[mes] = index <= mesLimiteIndex ? valorConstante : 0;\n    });\n    valores.conta_acumulado = valorConstante;\n    linhasPorSeq[linha.dre_linha_seq] = {\n      ...linha,\n      ...valores,\n      valoresCalculados: valores,\n      formula_original: linha.dre_linha_valor,\n      formula_processada: formula\n    };\n    return;\n  }\n\n  formula = expandirSomaLinha(formula);\n  formula = expandirPerc(formula);\n\n  const valores = {};\n  let somaAcumulado = 0;\n\n  meses.forEach((mes, index) => {\n    if (index <= mesLimiteIndex) {\n      const valor = calcularFormula(formula, mes);\n      valores[mes] = valor;\n      somaAcumulado += valor;\n    } else {\n      valores[mes] = 0;\n    }\n  });\n\n  valores.conta_acumulado = somaAcumulado;\n\n  linhasPorSeq[linha.dre_linha_seq] = {\n    ...linha,\n    ...valores,\n    valoresCalculados: valores,\n    formula_original: linha.dre_linha_valor,\n    formula_processada: formula\n  };\n});\n\nconst todasLinhas = Object.values(linhasPorSeq);\ntodasLinhas.sort((a, b) => a.dre_linha_seq - b.dre_linha_seq);\n\nreturn todasLinhas.map(linha => ({ json: linha }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "d095cc17-acbb-4a99-915b-e52f262ea6c9",
      "name": "Fórmulas Old"
    },
    {
      "parameters": {
        "jsCode": "// ===== NODE 2: FÓRMULAS (com múltiplos passes) =====\nconst items = $input.all();\nconst meses = [\n  'conta_janeiro', 'conta_fevereiro', 'conta_marco', 'conta_abril',\n  'conta_maio', 'conta_junho', 'conta_julho', 'conta_agosto',\n  'conta_setembro', 'conta_outubro', 'conta_novembro', 'conta_dezembro'\n];\n\nlet periodoLimite = null;\nitems.forEach(item => {\n  if (!periodoLimite && item.json.crg_periodo) {\n    periodoLimite = item.json.crg_periodo;\n  }\n});\n\nfunction getMesIndex(periodo) {\n  if (!periodo) return 11;\n  const mesNum = parseInt(periodo.toString().slice(-2));\n  return mesNum - 1;\n}\n\nconst mesLimiteIndex = getMesIndex(periodoLimite);\n\nconst linhasPorSeq = {};\nitems.forEach(item => {\n  linhasPorSeq[item.json.dre_linha_seq] = { ...item.json };\n});\n\nfunction corrigirFormula(formula) {\n  if (!formula || typeof formula !== 'string') return formula;\n  return formula.replace(/L#(\\d+)/g, '#L$1').trim();\n}\n\nfunction expandirSomaLinha(formula) {\n  const regex = /SOMA_LINHA\\(#L(\\d+):#L(\\d+)\\)/g;\n  return formula.replace(regex, (match, inicio, fim) => {\n    const linhas = [];\n    for (let i = parseInt(inicio); i <= parseInt(fim); i++) {\n      linhas.push(`#L${i}`);\n    }\n    return linhas.join('+');\n  });\n}\n\nfunction expandirPerc(formula) {\n  const regex = /PERC\\(([^)]+)\\)/g;\n  return formula.replace(regex, (match, expressao) => `((${expressao})*100)`);\n}\n\nfunction getValorLinha(numLinha, mes) {\n  const linha = linhasPorSeq[numLinha];\n  if (!linha) return 0;\n  if (linha.valoresCalculados && linha.valoresCalculados[mes] !== undefined) {\n    return linha.valoresCalculados[mes] || 0;\n  }\n  const valor = linha[mes];\n  return valor !== null && valor !== undefined ? valor : 0;\n}\n\nfunction calcularFormula(formula, mes) {\n  let expressao = formula.replace(/#L(\\d+)/g, (match, numLinha) => {\n    return getValorLinha(parseInt(numLinha), mes);\n  });\n  try {\n    const resultado = eval(expressao);\n    return isFinite(resultado) ? resultado : 0;\n  } catch (error) {\n    return 0;\n  }\n}\n\nfunction processarFormula(linha) {\n  let formula = linha.dre_linha_valor;\n\n  if (!formula ||\n      formula.includes('APONTA PARA CONTA') ||\n      formula.includes('QUE NAO TEM') ||\n      formula.includes('PLANO DE CONTAS')) {\n    return null;\n  }\n\n  formula = corrigirFormula(formula);\n\n  const isConstante = /^-?\\d+(\\.\\d+)?$/.test(formula);\n\n  if (isConstante) {\n    const valorConstante = parseFloat(formula);\n    const valores = {};\n    meses.forEach((mes, index) => {\n      valores[mes] = index <= mesLimiteIndex ? valorConstante : 0;\n    });\n    valores.conta_acumulado = valorConstante;\n    return {\n      valores,\n      formula_original: linha.dre_linha_valor,\n      formula_processada: formula\n    };\n  }\n\n  formula = expandirSomaLinha(formula);\n  formula = expandirPerc(formula);\n\n  const valores = {};\n  let somaAcumulado = 0;\n\n  meses.forEach((mes, index) => {\n    if (index <= mesLimiteIndex) {\n      const valor = calcularFormula(formula, mes);\n      valores[mes] = valor;\n      somaAcumulado += valor;\n    } else {\n      valores[mes] = 0;\n    }\n  });\n\n  valores.conta_acumulado = somaAcumulado;\n\n  return {\n    valores,\n    formula_original: linha.dre_linha_valor,\n    formula_processada: formula\n  };\n}\n\n// ===== MÚLTIPLOS PASSES =====\n// Cada passagem recalcula todas as fórmulas usando os valores\n// já disponíveis em valoresCalculados. Referências para frente\n// (seq maior) ficam corretas a partir da 2ª passagem.\nconst MAX_PASSES = 3;\n\nfor (let pass = 0; pass < MAX_PASSES; pass++) {\n  Object.values(linhasPorSeq).forEach(linha => {\n    if (linha.tipo_linha !== 'FORMULA') return;\n\n    const resultado = processarFormula(linha);\n    if (!resultado) return;\n\n    linhasPorSeq[linha.dre_linha_seq] = {\n      ...linha,\n      ...resultado.valores,\n      valoresCalculados: resultado.valores,\n      formula_original: resultado.formula_original,\n      formula_processada: resultado.formula_processada\n    };\n  });\n}\n\nconst todasLinhas = Object.values(linhasPorSeq);\ntodasLinhas.sort((a, b) => a.dre_linha_seq - b.dre_linha_seq);\n\nreturn todasLinhas.map(linha => ({ json: linha }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        352
      ],
      "id": "fa812cdb-7c31-4f28-a1ab-074daa6c0337",
      "name": "Formulas"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Deleta Calculo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Emp Carga": {
      "main": [
        [
          {
            "node": "Busca Linhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Linhas": {
      "main": [
        [
          {
            "node": "Sequencia ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grava Calc": {
      "main": [
        [
          {
            "node": "Monta Resposta e Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monta Resposta e Log": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Grava Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deleta Calculo": {
      "main": [
        [
          {
            "node": "Busca Emp Carga",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sequencia ": {
      "main": [
        [
          {
            "node": "Base ( Contas e Constantes) ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base ( Contas e Constantes) ": {
      "main": [
        [
          {
            "node": "Formulas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acumulados": {
      "main": [
        [
          {
            "node": "Percentuais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Percentuais": {
      "main": [
        [
          {
            "node": "Grava Calc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formulas": {
      "main": [
        [
          {
            "node": "Acumulados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.synapiens.com.br",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/147.0.0.0 Safari/537.36",
            "content-length": "331",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7",
            "content-type": "application/json",
            "origin": "https://dre-sanca.vercel.app",
            "priority": "u=1, i",
            "referer": "https://dre-sanca.vercel.app/",
            "sec-ch-ua": "\"Google Chrome\";v=\"147\", \"Not.A/Brand\";v=\"8\", \"Chromium\";v=\"147\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "45.176.28.47",
            "x-forwarded-host": "webhook.synapiens.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "61c32b9238fd",
            "x-real-ip": "45.176.28.47"
          },
          "params": {},
          "query": {},
          "body": {
            "file_path": "",
            "bucket": "movto_upload",
            "table": "dre_calc_contabil",
            "on_conflict": "id",
            "cliente_id": "27492588-0734-40f5-b611-229b52022713",
            "emp_cod_integra": "1038",
            "cnpj_emp": "03.085.403/0001-79",
            "crg_emp_periodo_ano": 2026,
            "crg_emp_periodo_mes": 2,
            "user_id": "synapiens@gmail.com",
            "empresa_id": "46ae6040-0039-4555-9dee-ac632e68a3b8"
          },
          "webhookUrl": "https://webhook.synapiens.com.br/webhook/calc_dre",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "2adfdc28-89d7-4c86-a592-1bbfe7fa5074",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-25T07:36:47.719Z",
      "createdAt": "2026-04-25T07:36:47.719Z",
      "role": "workflow:owner",
      "workflowId": "Is1p5yRK8JXYBfCp",
      "projectId": "HDCZE4IUw9KS2WL1",
      "project": {
        "updatedAt": "2026-04-25T06:06:33.787Z",
        "createdAt": "2026-04-25T05:57:18.593Z",
        "id": "HDCZE4IUw9KS2WL1",
        "name": "Synapiens Development <synapiens@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a3e10bf8-6240-4e87-9f09-99823d96b21a"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-05-12T00:37:39.540Z",
      "createdAt": "2026-05-12T00:37:39.540Z",
      "id": "rf0POV5W2OD5ST1P",
      "name": "SANCAL DRE V0"
    }
  ],
  "activeVersion": null
}