workflows/Agente_Vertie_WEB/Vertie_Web.json
{
  "updatedAt": "2026-05-12T01:13:54.889Z",
  "createdAt": "2026-04-25T07:39:50.117Z",
  "id": "krV4iBrd1BWLzHoF",
  "name": "Vertie Web",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=esasa é a mensagem recebida \n{{ $json.body.message }}",
        "options": {
          "systemMessage": "=Voce é um atendente chamado Vertie, apenas se apresente e de oi\nApos o cliente se apresentar. Agradeca por ele estar aqui e pergunte sua empresa\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "8996c081-db08-4ea2-8954-cafbfb8a1908",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        224,
        208
      ],
      "id": "21d7add6-f2ac-4b2e-9dde-17a6cc728b64",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "gXbUtojD52UpaOT0",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        64,
        208
      ],
      "id": "c0caf30a-a0ea-47d4-9a17-e7899f079ea2",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Xe9rAZi2vJWjrOWw",
          "name": "Groq Vertie"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vertie-web",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "36342105-69cb-4a09-9dff-b63829338641",
      "name": "Webhook",
      "webhookId": "4343afdd-a553-4ac8-96c9-6e88c21ed696"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        0
      ],
      "id": "8d7cd6e2-7662-4645-a462-0181ebb4ff8d",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d14abded-c836-4b7a-8020-0a564ce1a583",
  "activeVersionId": "d14abded-c836-4b7a-8020-0a564ce1a583",
  "versionCounter": 29,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-25T07:39:50.117Z",
      "createdAt": "2026-04-25T07:39:50.117Z",
      "role": "workflow:owner",
      "workflowId": "krV4iBrd1BWLzHoF",
      "projectId": "HDCZE4IUw9KS2WL1",
      "project": {
        "updatedAt": "2026-04-25T06:06:33.787Z",
        "createdAt": "2026-04-25T05:57:18.593Z",
        "id": "HDCZE4IUw9KS2WL1",
        "name": "Synapiens Development <synapiens@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a3e10bf8-6240-4e87-9f09-99823d96b21a"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-05-12T01:13:46.214Z",
      "createdAt": "2026-05-12T01:13:46.214Z",
      "id": "H72hwKtxveB8p7dq",
      "name": "Agente Vertie WEB"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-25T07:45:54.520Z",
    "createdAt": "2026-04-25T07:44:27.243Z",
    "versionId": "d14abded-c836-4b7a-8020-0a564ce1a583",
    "workflowId": "krV4iBrd1BWLzHoF",
    "nodes": [
      {
        "parameters": {
          "promptType": "define",
          "text": "=esasa é a mensagem recebida \n{{ $json.body.message }}",
          "options": {
            "systemMessage": "=Voce é um atendente chamado Vertie, apenas se apresente e de oi\nApos o cliente se apresentar. Agradeca por ele estar aqui e pergunte sua empresa\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          208,
          0
        ],
        "id": "8996c081-db08-4ea2-8954-cafbfb8a1908",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.body.sessionId }}",
          "contextWindowLength": 15
        },
        "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
        "typeVersion": 1.5,
        "position": [
          224,
          208
        ],
        "id": "21d7add6-f2ac-4b2e-9dde-17a6cc728b64",
        "name": "Redis Chat Memory",
        "credentials": {
          "redis": {
            "id": "gXbUtojD52UpaOT0",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "model": "llama-3.3-70b-versatile",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          64,
          208
        ],
        "id": "c0caf30a-a0ea-47d4-9a17-e7899f079ea2",
        "name": "Groq Chat Model",
        "credentials": {
          "groqApi": {
            "id": "Xe9rAZi2vJWjrOWw",
            "name": "Groq Vertie"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "vertie-web",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "36342105-69cb-4a09-9dff-b63829338641",
        "name": "Webhook",
        "webhookId": "4343afdd-a553-4ac8-96c9-6e88c21ed696"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          560,
          0
        ],
        "id": "8d7cd6e2-7662-4645-a462-0181ebb4ff8d",
        "name": "Respond to Webhook"
      }
    ],
    "connections": {
      "Redis Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Groq Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Synapiens Development",
    "name": "Version d14abded",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-25T07:45:42.110Z",
        "id": 5,
        "workflowId": "krV4iBrd1BWLzHoF",
        "versionId": "d14abded-c836-4b7a-8020-0a564ce1a583",
        "event": "activated",
        "userId": "a3e10bf8-6240-4e87-9f09-99823d96b21a"
      },
      {
        "createdAt": "2026-04-25T07:45:51.896Z",
        "id": 6,
        "workflowId": "krV4iBrd1BWLzHoF",
        "versionId": "d14abded-c836-4b7a-8020-0a564ce1a583",
        "event": "deactivated",
        "userId": "a3e10bf8-6240-4e87-9f09-99823d96b21a"
      },
      {
        "createdAt": "2026-04-25T07:45:54.517Z",
        "id": 7,
        "workflowId": "krV4iBrd1BWLzHoF",
        "versionId": "d14abded-c836-4b7a-8020-0a564ce1a583",
        "event": "activated",
        "userId": "a3e10bf8-6240-4e87-9f09-99823d96b21a"
      }
    ]
  }
}